<div class="custom-card-eng cover-by-2 overflowhidden-y bg-white outline-effect">
    <p class="fs-90 m-0 py-3 mb-2 bg-blue text-center" ion-text color="white">Recently Graded Teachers</p>
    <div class="list-hover-effect">
    <ng-container *ngFor="let teacher of teachers; let i=index">
        <ion-grid class="pointer item"
            (click)="a.open('schedule-table', { ID: teacher.ID })"
            *ngIf="i<3" no-padding>
            <ion-row class="py-3 px-3" align-items-center justify-content-between>
                <ion-col class="d-flex align-items-center" col-md-4>
                    <img class="image-rounded" [src]="a.checkPhotoURL(teacher.photoURL)">
                </ion-col>
                <ion-col col-md>
                    <h3 class=" fs-90 p-0 m-0">{{a.preTeacherName(teacher.display_name)}}</h3>
                    <div class="fs-card">
                        <span *ngIf="teacher.grade < 1"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                        <span *ngIf="teacher.grade >= 1"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>

                        <span *ngIf="teacher.grade < 2"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                        <span *ngIf="teacher.grade >= 2"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>

                        <span *ngIf="teacher.grade < 3"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                        <span *ngIf="teacher.grade >= 3"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>

                        <span *ngIf="teacher.grade < 4"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                        <span *ngIf="teacher.grade >= 4"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>

                        <span *ngIf="teacher.grade < 5"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                        <span *ngIf="teacher.grade >= 5"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>
                    </div>
                </ion-col>
                <ion-col text-right col-md-2>
                     <p class="fs-lg m-0 p-0">{{teacher.grade}}/5</p>
                </ion-col>
            </ion-row>
            </ion-grid>
        </ng-container>
    </div>
</div>