<div class="custom-card-eng cover-by-2 overflowhidden-y bg-white outline-effect">
    <p class="fs-90 m-0 py-3 bg-blue text-center" ion-text color="white">Recently Graded Teachers</p>
    <ion-list no-lines>
        <ng-container *ngFor="let teacher of teachers; let i=index">
            <ion-item class="pointer"
            (click)="a.open('schedule-table', { ID: teacher.ID })"
            *ngIf="i<3"
            >
                <ion-avatar item-start>
                        <img [src]="a.checkPhotoURL(teacher.photoURL)">
                </ion-avatar>
                <h3 ion-text color="blue">{{a.preTeacherName(teacher.display_name)}}</h3>
                <p class="fs-card">Grade: {{teacher.grade}}</p>
            </ion-item>
        </ng-container>
    </ion-list>
</div>