<ion-header>
  <header-content></header-content>
</ion-header>

<ion-content>

  <h1>Teachers Video Greetings</h1>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let teacher of teachersList" col-6 col-md-4 col-lg-3>
        <div class="pointer mb-2 text-center" (click)="onClickTeacher(teacher)">
          <span class="fs-2rem">{{teacher.display_name}}</span>
          <ion-icon class="pointer" name="paper" item-right></ion-icon>
        </div>
        <div class="p-relative">
          <ion-icon class="p-absolute right-0 bottom-0 p-3 red fs-4rem pointer" *ngIf="!teacher.play_video"
                    (click)="teacher.play_video = true" name="play"></ion-icon>
          <img class="pointer" *ngIf="!teacher.play_video" (click)="teacher.play_video = true"
               src="{{teacher.youtube_thumbnail_url ? teacher.youtube_thumbnail_url : a.anonymousPhotoURL}}"/>
          <iframe class="youtube-video" *ngIf="teacher.play_video"
                  [src]="teacher.youtube_video_url">
          </iframe>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
