<div class="cover bg-white overflowhidden-y outline-effect-right">
        <div class="activity-log" *ngIf="a.activity_log && a.activity_log.length">
         <p class="fs-90 bg-blue m-0 py-3 text-center" ion-text color="white">Activity Log</p>
          <ion-list class="px-3 m-0"  no-lines>
            <ion-item class="p-0" *ngFor="let a of a.activity_log" text-wrap>
              <div>{{a.name}} {{ actv[a.activity] }} <span *ngIf="a.target">{{a.target}}</span></div>
              <div class="fs-90" *ngIf="a.stamp">{{ a.date }}</div>
            </ion-item>
          </ion-list>
        </div>
      </div>