page-teacher-curriculum-vitae{
.qr-mark .uploaded-files .file img {
  margin: 1em 0;
  max-width: 150px;
}

.curriculum-vitae{
  .border-stripes{border: 3px dashed #e2e2e2}
  .uppercase{text-transform: uppercase!important}
  .h-40px{height: 40px!important}
  .form-effect{
    label{
      transition: all 0.2s ease-in-out;
      order: -1
    }
    .focus-effect{
      height: 40px;
    }
    .focus-effect{
      transition: all 0.2s ease-in-out;
      &:focus{
        border:1px solid rgba(#007bff,0.5)!important;
      }
      &:focus+label:nth-of-type(1){
        color:#007bff!important;
      }
    }
  }
}

}