
.qr-mark .uploaded-files .file img {
  margin: 1em 0;
  max-width: 150px;
}

.curriculum-vitae{
  .outline-effect{ outline: 1px solid #e2e2e2!important}

  .form-effect{
    label{
      transition: all 0.2s ease-in-out;
      order: -1
    }
    .focus-effect{
      transition: all 0.2s ease-in-out;
      &:focus{
        border:1px solid rgba(#007bff,0.5)!important;
      }
      &:focus+label{
        color:#007bff!important;
      }
    }
  }
}