login-page {
  @include theme('lightgrey');
  .page-body {
    background-color: #f7f7f7;
    .page-body-wrapper {
      padding: 2em;
    }
  }
}

.login-form {
  li {
    margin-bottom: 1em;
    .label {
      display: block;
      margin: .5em 0;
    }
    input {
      display: block;
      padding: .5em;
      width: 100%;
    }
  }
}
