<div class="bg-white m-0 p-0 h-100 outline-effect">
    <ion-list class="p-0 m-0" text-wrap no-lines>
            <h2  class="fs-110 fw-light bg-blue m-0 py-3 text-center" ion-text color="white">Teacher Grading System</h2>
            <ion-item class="p-0 m-0 pl-3">
                <ul class="p-0 mt-3">
                    <li>1 Star - Teacher who are </li>
                    <li>You will need to upload a short introduction video on youtube</li>
                </ul>
                <p class="p-0">
                    (
                    <span ion-text color="red">Important Note:</span> Teacher must use smart phone to add contact to admin. Once
                    teacher added contact to admin, teacher can use PC to chat with admin. ) Admin will
                    check your environment.
                </p>
                <ul class="p-0 mt-3">
                    <li>Good audio/video device</li>
                    <li>Fast speed of internet</li>
                    <li>Calm space to conduct the lesson</li>
                </ul>
            </ion-item>
    </ion-list>
</div>