<div class="bg-white m-0 p-0 pb-4 outline-effect" text-left>
    <div class="bg-blue">
    </div>
    <ion-grid no-padding>
        <h2  class="title-style fs-3rem fw-light m-0 py-5 bg-blue text-center" ion-text color="white">TEACHER GRADING SYSTEM</h2>
        <ion-row class="mt-3 px-5" align-items-start>
            <ion-col  class="pr-5 mt-5  border border-left-0 border-top-0 border-bottom-0" col-6>
                <h3 class="mt-0 fw-light fs-2rem" ion-text color="blue">Grade 1
                    <i  class="fas fa-star" ion-text color="yellow"></i>
                    <i  class="fal fa-star" ion-text color="yellow"></i>
                    <i  class="fal fa-star" ion-text color="yellow"></i>
                    <i  class="fal fa-star" ion-text color="yellow"></i>
                    <i  class="fal fa-star" ion-text color="yellow"></i>
                </h3>
                    <p class="m-0 line-h-1-8em" text-justify>Having only good english teaching skill does not help to earn grade. A Good teacher must have,
                        <b class="fw-bold">Good Environment/Work Place,</b>( No unwanted sounds, No people at the back, etc... )
                        <b class="fw-bold">Good Devices.</b>( PC/Laptop, Headset with mic),
                        <b class="fw-bold">Good Internet.</b>( Reasonable Connection ),
                        <b class="fw-bold">Good Profile Picture</b>,
                        <b class="fw-bold">Good Video Introduction</b>,
                        <b class="fw-bold">Prepared and Always ready to teach</b>,
                        <b class="fw-bold">Finishing the evaluation on time</b>,
                        <b class="fw-bold">Following our promotion schedule</b>,
                        <b class="fw-bold">Following our guidelines</b>,
                        <b class="fw-bold">Following our policy</b>,
                        <b class="fw-bold">Always present in class</b>, and
                        <b class="fw-bold">Always records their class</b>
                        <button class="float-right mt-3" color="blue" small round ion-button>Learn More
                            <ion-icon class="pl-3" name="arrow-forward"></ion-icon>
                        </button>
                    </p>
                    <!-- <div class="d-flex">
                        <div class="d-inline-block pr-2 font-em-0-85">
                            <p class="m-0 mt-2"></p>
                            <p class="m-0 mt-2">( No unwanted sounds, No people at the back, etc... )</p>
                            <p class="m-0 mt-2">Good Devices.( PC/Laptop, Headset with mic)</p>
                            <p class="m-0 mt-2">Good Internet.( Reasonable Connection )</p>
                            <p class="m-0 mt-2">Good Profile Picture</p>
                            <p class="m-0 mt-2">Good Video Introduction</p>
                            <p class="m-0 mt-2">Prepared and Always ready to teach.</p>
                        </div>
                        <div class="d-inline-block pl-2 font-em-0-85">
                            <p class="m-0 mt-2">Finishing the evaluation on time.</p>
                            <p class="m-0 mt-2">Following our promotion schedule.</p>
                            <p class="m-0 mt-2">Following our guidelines.</p>
                            <p class="m-0 mt-2">Following our policy.</p>
                            <p class="m-0 mt-2">Always present in class.</p>
                            <p class="m-0 mt-2">Always records their class.</p>
                        </div>
                    </div> -->
            </ion-col>
            <ion-col  class="pl-5 mt-5" col-6>
                <img src="../assets/img/teacher/1.jpg">
            </ion-col>
            </ion-row>
            <ion-row class="mt-3 px-5" align-items-start>
                <ion-col  class="pr-5 mt-5 border border-left-0 border-top-0 border-bottom-0" col-6>
                    <img class="img-resize" src="../assets/img/teacher/2.jpg">
                </ion-col>
                <ion-col  class="pl-5 mt-5" col-6>
                    <h3 class="mt-0 fw-light fs-2rem " ion-text color="blue">Grade 2 
                        <i  class="fas fa-star" ion-text color="yellow"></i>
                        <i  class="fas fa-star" ion-text color="yellow"></i>
                        <i  class="fal fa-star" ion-text color="yellow"></i>
                        <i  class="fal fa-star" ion-text color="yellow"></i>
                        <i  class="fal fa-star" ion-text color="yellow"></i>
                    </h3>
                    <p class="m-0 line-h-1-8em" text-justify>Communication comes first then the teaching comes next.
                        No matter how good you teach, but you failed to communicate with he student. It will not work.
                        A Good teacher must have a 
                        <b class="fw-bold">Good Environment/Work Place</b>,
                        <b class="fw-bold"> Capable of winning student's heart</b>,
                        <b class="fw-bold">with Good Communication Skills</b>, and have a
                        <b class="fw-bold"> Good Teaching Skills.</b>
                        <button class="float-right mt-3" color="blue" small round ion-button>Learn More
                            <ion-icon class="pl-3" name="arrow-forward"></ion-icon>
                        </button>
                    </p>
                    <!-- <h4 class="p-0" ion-text color="blue">A Good teacher with :</h4>
                    <div class="font-em-0-85">
                        <p class="m-0 mt-2">Good Environment/Work Place.</p>
                        <p class="m-0 mt-2">Capable of winning student's heart.</p>
                        <p class="m-0 mt-2">Good Communication Skills.</p>
                        <p class="m-0 mt-2">Good Teaching Skills.</p>
                    </div> -->
                </ion-col>
            </ion-row>
            <ion-row class="mt-3 px-5 pb-5" align-items-start>
                <ion-col class="pr-5 mt-5" col-6>
                    <h3 class="mt-0 fw-light fs-2rem" ion-text color="blue">Grade 3
                        <i  class="fas fa-star" ion-text color="yellow"></i>
                        <i  class="fas fa-star" ion-text color="yellow"></i>
                        <i  class="fas fa-star" ion-text color="yellow"></i>
                        <i  class="fal fa-star" ion-text color="yellow"></i>
                        <i  class="fal fa-star" ion-text color="yellow"></i>
                    </h3>
                    <p class="m-0 line-h-1-8em" text-justify>Consistent Reservation. Good Performance, Good Attitude, and Professionalism. A Good teacher who is
                    <b class="fw-bold">Popular to student</b>,
                    <b class="fw-bold">Most Requested teacher</b>,
                    <b class="fw-bold">Giving Importance to student growth</b>, and
                    <b class="fw-bold">Always winning the student's heart</b>
                    <button class="float-right mt-3" color="blue" small round ion-button>Learn More
                        <ion-icon class="pl-3" name="arrow-forward"></ion-icon>
                    </button>
                    </p>
                    <!-- <div class="font-em-0-85">
                        <p class="m-0 mt-2">Popular to student.</p>
                        <p class="m-0 mt-2">Most Requested teacher.</p>
                        <p class="m-0 mt-2">Has been Considered With Good Reputation by the students.</p>
                        <p class="m-0 mt-2">Give Importance to student growth.</p>
                        <p class="m-0 mt-2">Always win the student's heart.</p>
                    </div> -->
                </ion-col>
                <ion-col class="pl-5 mt-5 border border-right-0 border-top-0 border-bottom-0" col-6>
                    <img src="../assets/img/teacher/3.jpg">
                </ion-col>
            </ion-row>
    </ion-grid>
</div>
