<div class="m-0 h-100 bg-white outline-effect">
<div class="bg-blue-60 white mb-5 pl-md-5">
    <h2  class="title-style ml-md-5 p-5 fs-3rem m-0 fw-light bg-blue text-center d-inline-block" ion-text color="white">Steps To Become a Teacher</h2>
</div>
  <ion-grid class="px-5 pb-2 my-md-1 my-0"  no-padding>
    <ion-row class="pb-5 px-md-5 px-3 my-md-4 my-2" align-items-stretch>
        <ion-col class="my-3 hover-icon-effect" col-md-4 col-12>
            <div  class="m-0 py-3 mr-md-3  pointer text-center border border-color-effect h-100"  (click)=" showKakaoInstall()">
                <div class="dodgerblue fs-2rem fw-bold p-3 font-arial">Step 1</div>
                <img class="icon-effect h-7em my-4" src="assets/img/student-adv/4.png">
                <p class="my-3 fw-light px-4 text-effect line-height-1-8em ">
                    Install Kakaotalk app.
                    <br><span class="fs-lg red">( THIS IS A MANDATORY REQUIREMENT )</span>
                </p>
            </div>
        </ion-col>
        <ion-col class="my-3 hover-icon-effect" col-md-4 col-12>
            <div  class="m-0 py-3 mx-md-3 pointer text-center border border-color-effect h-100" (click)=" a.open('register') ">
                <div class="dodgerblue fs-2rem fw-bold p-3 font-arial">Step 2</div>
                <i class="icon-effect fal fa-list-alt fa-7x my-4" ion-text color="brown"></i>
                <p class="my-3 fw-light px-4  text-effect line-height-1-8em ">
                    Register. Fill out the appropriate information
                 </p>
            </div>
        </ion-col>
        <ion-col class="my-3 hover-icon-effect" col-md-4 col-12>
            <div  class="m-0 py-3 ml-md-3 pointer text-center border border-color-effect h-100" (click)=" a.open('teacher-curriculum-vitae') ">
                <div class="dodgerblue fs-2rem fw-bold p-3 font-arial">Step 3</div>
                <i class="icon-effect fal fa-edit fa-7x my-4" ion-text color="amber"></i>
                <p class="my-3 fw-light px-4 line-height-1-8em text-effect">

                    Complete profile update with all your data.
                </p>
            </div>
        </ion-col>
        <ion-col class="my-3 hover-icon-effect" col-md-4 col-12>
            <div  class="m-0 py-3 mr-md-3 pointer text-center border border-color-effect h-100" (click)=" a.open('schedule-edit')">
                <div class="dodgerblue fs-2rem fw-bold p-3 font-arial">Step 4</div>
                <i class="icon-effect fal fa-calendar-alt fa-7x my-4 darkorange"></i>
                <p class="my-3 fw-light px-4 text-effect  line-height-1-8em ">

                    Add your schedule.
                </p>
            </div>
        </ion-col>
        <ion-col class="my-3 hover-icon-effect" col-md-4 col-12>
            <div  class="m-0 py-3  mx-md-3 pointer text-center border border-color-effect h-100" (click)="a.open('settings-payment-info')">
                <div class="dodgerblue fs-2rem fw-bold p-3 font-arial">Step 5</div>
                <i class="icon-effect fal fa-credit-card fa-7x my-4"  ion-text color="green"></i>
                <p class="my-3 fw-light px-4 line-height-1-8em text-effect">

                    Update your payment information to receive your pay.
                </p>
            </div>
        </ion-col>
        <ion-col class="my-3 hover-icon-effect" col-md-4 col-12>
            <div class="m-0 py-3 ml-md-3 pointer text-center border border-color-effect h-100" (click)="a.onClickContactAdmin()">
                <div class="dodgerblue fs-2rem fw-bold p-3 font-arial">Step 6</div>
                <i class="icon-effect fal fa-phone square fa-7x my-4 dodgerblue"></i>
                <p class="my-3 fw-light px-4 text-effect  line-height-1-8em ">

                    Contact to admin to get higher grade (via Kakaotallk app)
                </p>
            </div>
        </ion-col>
    </ion-row>
  </ion-grid>
</div>

