<div class="bg-white m-0 p-0 h-100 outline-effect">
  <h2 class="fs-110 m-0 py-4 white bg-blue-60 text-center" ion-text color="white">Steps To Become a Teacher</h2>
  <ion-list  class="p-0 m-0" text-white text-wrap no-lines>
    <ion-item class="bg-blue-80 p-0 m-0 py-4 pl-4 pointer" (click)=" showKakaoInstall()">
        <p class="white fs-110">1.Install Kakaotalk app. (
            <span class="fs-lg" ion-text>THIS IS A MANDATORY REQUIREMENT
            </span> )</p>
            <button ion-button item-end clear>
                <i class="fas fa-chevron-right white"></i>
            </button>
    </ion-item>
    <ion-item class="bg-blue-60 p-0 m-0 py-4 pl-4 pointer" (click)=" a.open('register') ">
        <p class="white fs-110" >2.Register</p>
        <button  item-end ion-button clear>
            <i class="fas fa-chevron-right white"></i>
        </button>
    </ion-item>
    <ion-item class="bg-blue-80  p-0 m-0 py-4 pl-4 pointer" (click)=" a.open('teacher-curriculum-vitae') ">
        <p class="white fs-110" >3.Complete profile update with all your data.</p>
        <button item-end ion-button clear>
            <i class="fas fa-chevron-right white"></i>
        </button>
    </ion-item>
    <ion-item class="bg-blue-60  p-0 m-0 py-4 pl-4 pointer" (click)=" a.open('schedule-edit')">
        <p class="white fs-110" >4.Add your schedule.</p>
        <button item-end ion-button clear>
            <i class="fas fa-chevron-right white"></i>
        </button>
    </ion-item>
    <ion-item class="bg-blue-80 p-0 m-0 py-4 pl-4 pointer" (click)="a.open('settings-payment-info')">
        <p class="white fs-110" >5.Update your payment information to receive your payment.</p>
        <button item-end ion-button clear>
            <i class="fas fa-chevron-right white"></i>
        </button>
    </ion-item>
    <ion-item class="bg-blue-60 p-0 m-0 py-4 pl-4 pointer" (click)="a.onClickContactAdmin()">
      <p class="white fs-110" >6.Contact to admin to get higher grade</p>
      <button item-end ion-button clear>
            <i class="fas fa-chevron-right white"></i>
      </button>
    </ion-item>
  </ion-list>
</div>
