<div class="bg-white m-0 p-0 h-100 outline-effect-right">
  <h2 class="border-dark-effect border-light fs-110 m-0 py-4 text-center fw-bold">Steps To Become a Teacher</h2>
  <ion-list text-white class="p-0 m-0" text-wrap no-lines>     
    <ion-item class="border-brown-effect border border-left-0 border-right-0 p-0 m-0 py-3 pl-4">
        <p class="pointer" ion-text color="dark" (click)=" showKakaoInstall()">1.Install Kakaotalk app. (
            <span class="fs-lg" ion-text>THIS IS A MANDATORY REQUIREMENT
            </span> )</p>
            <button ion-button item-end clear>Install</button>
    </ion-item>
    <ion-item class="border-red-effect border border-left-0 border-top-0 border-right-0 p-0 m-0 py-3 pl-4">
        <p ion-text color="dark">2.Register</p>
        <button  item-end ion-button clear>
            Register
        </button>
    </ion-item>
    <ion-item class="border-orange-effect border border-left-0 border-top-0 border-right-0  p-0 m-0 py-3 pl-4">
        <p ion-text color="dark">3.Complete profile update with all your data.</p>
        <button item-end ion-button clear>
            Update
        </button>
        <!-- <ul class="m-0 mt-2 ml-3 pl-3 p-0 fs-lg">
            <li>You will need to upload nice photo</li>
            <li>You will need to upload a short introduction video on youtube</li>
        </ul> -->
    </ion-item>
    <ion-item class="border-violet-effect border border-left-0 border-top-0 border-right-0  p-0 m-0 py-3 pl-4">
        <p ion-text color="dark">4.Add your schedule.</p>
        <button item-end ion-button clear>
            Add Schedule
        </button>
    </ion-item>
    <ion-item class="border-blue-effect border border-left-0 border-top-0 border-right-0  p-0 m-0 py-3 pl-4">
        <p ion-text color="dark">5.Contact to admin to get higher grade</p>
        <button item-end ion-button clear>
            Contact
        </button>
    </ion-item>
    <ion-item class="border-green-effect p-0 m-0 py-3 pl-4">
        <p ion-text color="dark">6.Update your payment information so that you can get your pay.</p>
        <button item-end ion-button clear>
            Update Info
        </button>
    </ion-item>
  </ion-list>
</div>
