<section id="home-teacher-content" class="p-2">

        menu: teacher list



        front page content:

        * Important Tips !! Teacher must add student using smart phone. There is no way to add friend in kakao with desktop software.
        
        * Statistics: no of teacher, student, reservations, past,
        
        * recently graded teachers => click => view schedule table.
           FROM wp_users WHERE grade > 0 order by ID DESC
        
        
        * comment from student
        * comment from teacher without name.
        * recent reservations. without student name.
        

        

    <h2>
        Steps you need to do to become a teacher.
        It is very important to follow these steps.
        
        <ol>
        
            <li>Install Kakaotalk app</li>
            <li>
                Register with Kakao ID.
            </li>
            <li>
                Complete profile update with all your data.
                <ul>
                    <li>You will need to upload nice photo</li>
                    <li>You will need to upload a short introduction video on youtube</li>
                </ul>
            </li>
            <li>
                Open schedule table
            </li>
            <li>
                Contact to admin to get higher grade.
                ( Important Note: Teacher must use smart phone to add contact to admin. Once teacher added contact to admin, teacher can use PC to chat with admin. )
                Admin will check your environment.
                <ul>
                    <li>Good audio/video device</li>
                    <li>Fast speed of internet</li>
                    <li>Calm space to conduct the lesson</li>
                </ul>
            </li>
            <li>
                Update your payment information so that you can get your pay.
            </li>
        </ol>
        
        </h2>
            
        
            
            
        <h1>Terms & Conditions</h1>
        The terms and conditions in this page explain the agreement between OnTue and you.
        
        
        
        <h2>Terms</h2>
        
        * cutoff
        Period of payable dates.
        
        
        
        
        <h2>Condition</h2>
        
        
        Teachers can freely register and set up profile, open schedules.
        
        Trial session is a common practice and it helps Teachers to gain more Students.
        
        Students can have two trial sessions to each Teacher but maximum of 5 test sessions all in all.
        
        Teachers must record the session. It is very important matter.
        If a Teacher fails on hand over the record of the session,
        Company will not only accept the request from Students but also pull back the grade of the Teacher
        
        Students can request point refund of the session when they think they have right.
        
        Company will, then, ask the session record to Teacher and decide what to do after watching the session.
        
        Company can give a higher grade to a Teacher than other Teachers.
        
        Teachers who have higher grade will have better chance for their profile to be display to Students.
        
        
        
        <h3>Session Cancellation</h3>
        Teachers can cancel their reserve sessions.
        
        
        <h2>Payment</h2>
        
        * Payment is on every 7th and 22nd.
        
        ** On 7th, Sessions before the 1st day of current month will be paid.
        ** On 22nd, Session before 16th of current month will be paid.
        ** Sessions in Refund progress will be paid on next cutoff if it is settled.
        ** Sessions with no evaluation will be paid on next cutoff if it is evaluated.
        
        
        * Teachers can choose a payment method between paypal, gcash, western union.
        ** If a Teacher choose Western Union as his payment to be delivered, then the teacher must pay for Western Union Transaction fee since it is every expensive.
        ** Transaction fee of paypal, gcash will be held by Company.
        
        * If payment information of a Teacher is incorrect, then the teacher will get his payment on next cutoff if he settled the problem.
        
        * Payments less than 100 pesos or 2 USD dollars will be added to next cutoff.
        
        
        <h2>POINT REFUND</h2>
        * If a teacher failed to submit class record on the request of admin in 24 working hours, the point of session will be returned to the student.<br>
        * If a teacher does not turn on his camera, the point of the session will be returned to the student.<br>
        * If a session has been failed due to any incidents that are occurred on teacher's side, the point of the session will be refunded.
        * Point of failure sessions that are not caused by student will be refunded.
        For instance, the internet cable under the sea was corrupted.
        And teacher cannot connect to student.
        It's not teacher's fault.
        The problem has occurred by the nature.
        But we need to protect our valuable customers.
        We will refund any session that has failed if that is not student's fault.
        
        
        <h1>TEACHER GUIDELINE</h1>
        
        <ul>
            <li>Nickname should be less than or equal to 8 letters.</li>
            <li>Profile image is best fit on 100px of width and 120px of height.</li>
        </ul>
        
</section>


