.align-items-center{ align-items: center }
.bg-light{background-color:#edf0f5!important }
.bg-blue{background-color:#007bff!important }
.bg-blue-80{background-color:rgba(#007bff,0.80)!important }
.bg-blue-60{background-color:rgba(#007bff,0.60)!important }
.bg-blue-40{background-color:rgba(#007bff,0.45)!important }
.bg-darkorange{background-color:#F57C00!important }
.font-em-0-75{font-size:0.75em!important}
.font-em-0-85{font-size:0.85em!important}
.overflowscroll-y{overflow-y: scroll!important}
.overflowscroll-y::-webkit-scrollbar{display: none!important}
.cover{height: 33em!important}
.cover-header{height: 3em!important}
.cover-content{height: 30em!important}
.cover-by-2{height: 16.25em!important}
.cover-by-4{height: 8.120em!important}
.flex-column{flex-direction: column!important}
.fw-light{font-weight: lighter!important}

.view-hover{
    .img-resize{
        height: 4em!important;
        width: 4em!important;
    }

    .item{
        position: relative!important;
        &-hover-effect{
            opacity: 0;
            transition: all 0.2s ease-in-out;
        }
        &-hover-effect:hover{
            opacity: 1!important;
            background:rgba(#007bff,0.9)!important;
            cursor: pointer;
        }
    }
}