.focus-effect{
  transition: all 0.3s ease-in-out;
  &:focus{
    border:1px solid rgba(#007bff,0.5)!important;
  }
}

.radio-effect:checked+span{
  background: transparent!important;
  border-color: #007bff!important
}

.payment-information-history {
  ion-item {
    .item-inner {
      padding-left: 1em;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
    &.odd {
      .item-inner {
        background-color: #b2b2b2;
      }
    }
    &.even {
      .item-inner {
        background-color: #ececec;
      }
    }
  }
}
