<ion-header>
    <header-content [title]=" 'PAYMENT SETTING' "></header-content>
  </ion-header>
  <ion-content>
    <div id="settings-payment" class="page bg-white outline-effect">
      <hook-content-top></hook-content-top>
      <div class="m-5 py-3">
          <h1 class="fs-3rem fw-bold"  text-center ion-text color="blue">{{ "PAYMENT SETTING" | translate }}</h1>
          <p class="fs-90" text-center>Please Choose a Payment Method and Fill Out the Appropriate Information</p>
      </div>
        <ion-grid class=" px-0 px-md-5" no-padding>
            <ion-row justify-content-center>
              <ion-col class="mr-md-4" col-md-3 col-auto>
                <label class="hover-icon-effect">
                  <input class="position-absolute opacity-0 radio-effect" type="radio" name="payment_method" [(ngModel)]="payment_information['payment_method']" value="gcash">
                  <div class="d-inline-block p-md-5 p-4 border bg-light rounded-2 fs-lg fw-bold w-100" text-center>
                      <i class="fal fa-tablet-alt d-inline-block mx-auto fs-4rem" ion-text color="green"></i>
                      <span class="d-block mt-md-3 m-0" text-center>GCAsh</span>
                  </div>
                </label>
              </ion-col>
              <ion-col class="mx-5" col-md-3 col-auto>
                <label class="hover-icon-effect">
                  <input class="position-absolute opacity-0 radio-effect"  type="radio" name="payment_method" [(ngModel)]="payment_information['payment_method']" value="western-union">
                  <div class="d-inline-block p-md-5 p-4 border bg-light rounded-2 fs-lg fw-bold w-100" text-center>
                      <i class="fal fa-barcode d-inline-block fs-4rem mx-auto" ion-text color="yellow"></i>
                      <span class="d-block mt-md-3 m-0" text-center>Western Union</span>
                  </div>
                </label>
              </ion-col>
              <ion-col class="ml-md-4" col-md-3 col-auto>
                <label class="hover-icon-effect">
                    <input class="position-absolute opacity-0 radio-effect" type="radio" name="payment_method" [(ngModel)]="payment_information['payment_method']" value="paypal">
                    <div class="d-inline-block p-md-5 p-4 border bg-light rounded-2 fs-lg fw-bold w-100" text-center>
                        <i class="fal fa-credit-card d-inline-block fs-4rem mx-auto" ion-text color="blue"></i>
                        <span class="d-block mt-md-3 m-md-0" text-center>Paypal</span>
                    </div>
                </label>
              </ion-col>
            </ion-row>
          </ion-grid>
      <section class="page-body mt-5">
        <ion-grid class="payment-information  px-5" no-padding>
          <ion-row justify-content-center>
            <ion-col class="pr-md-5 mr-md-2"  col-md-5 col-12 >
              <div class="d-flex-column form-effect">
                  <input class="p-3 w-100 rounded-2 focus-effect" type="text" [(ngModel)]="payment_information['first_name']" />
                  <label class="mt-5 mb-2 fs-90 fw-bold">First Name</label>
              </div>

              <div class="d-flex-column form-effect">
                  <input class="p-3 w-100 rounded-2 focus-effect" type="text" [(ngModel)]="payment_information['middle_name']" />
                  <label class="mt-5 mb-2 fs-90 fw-bold">Middle Name</label>
              </div>

              <div class="d-flex-column form-effect">
                  <input class="p-3 w-100 rounded-2 focus-effect" type="text" [(ngModel)]="payment_information['last_name']" />
                  <label class="mt-5 mb-2 fs-90 fw-bold">Last Name</label>
              </div>

              <div class="d-flex-column form-effect">
                  <input class="p-3 w-100 rounded-2 focus-effect" type="text" [(ngModel)]="payment_information['phone_number']" />
                  <label class="mt-5 mb-2 fs-90 fw-bold">Phone Number</label>
              </div>

              <div class="d-flex-column form-effect">
                  <input class="p-3 w-100 rounded-2 focus-effect" type="text" [(ngModel)]="payment_information['email']" />
                  <label class="mt-5 mb-2 fs-90 fw-bold">Email</label>
              </div>
            </ion-col>
            <ion-col class="pl-md-5 ml-md-2" col-md-5 col-12>
                <div class="d-flex-column form-effect">
                    <input class="p-3 w-100 rounded-2 focus-effect" type="text" [(ngModel)]="payment_information['country']" />
                    <label class="mt-5 mb-2 fs-90 fw-bold">Country</label>
                </div>

                <div class="d-flex-column form-effect">
                    <input class="p-3 w-100 rounded-2 focus-effect" type="text" [(ngModel)]="payment_information['province']" />
                    <label class="mt-5 mb-2 fs-90 fw-bold">Province</label>
                </div>

                <div class="d-flex-column form-effect">
                    <input class="p-3 w-100 rounded-2 focus-effect" type="text" [(ngModel)]="payment_information['city']" />
                    <label class="mt-5 mb-2 fs-90 fw-bold">City</label>
                </div>

                <div class="d-flex-column form-effect">
                    <input class="p-3 w-100 rounded-2 focus-effect" type="text" [(ngModel)]="payment_information['address']" />
                    <label class="mt-5 mb-2 fs-90 fw-bold">Address</label>
                </div>

                <div class="d-flex-column form-effect">
                    <input class="p-3 w-100 rounded-2 focus-effect" type="text" [(ngModel)]="payment_information['zipcode']" />
                    <label class="mt-5 mb-2 fs-90 fw-bold">Zipcode</label>
                </div>

            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="m-md-5 m-0 p-5" text-center>
            <button class="py-4 w-md-50 w-100 rounded-2 bg-blue white hover-effect" (click)="onClickSubmit()">
              UPDATE
            </button>
        </div>

        <hr>
        
        <div class="pl-3 py-5 fs-2rem bg-lightgrey">{{ "PAYMENT INFORMATION HISTORY" | translate }}</div>
        <button ion-button (click)="onClickShowHistory()">Show History</button>
        <hr>

        <table class="fs-lg text-center w-100 my-5 d-none d-md-table">
            <thead>
              <tr>
                <th class="py-3 border hide-effect bg-blue white">Date/Time Changed</th>
                <th class="py-3 border hide-effect bg-blue white">First Name</th>
                <th class="py-3 border hide-effect bg-blue white">Middle Name</th>
                <th class="py-3 border hide-effect bg-blue white">Last Name</th>
                <th class="py-3 border hide-effect bg-blue white">Phone Number</th>
                <th class="py-3 border hide-effect bg-blue white">Email</th>
                <th class="py-3 border hide-effect bg-blue white">Country</th>
                <th class="py-3 border hide-effect bg-blue white">Province</th>
                <th class="py-3 border hide-effect bg-blue white">City</th>
                <th class="py-3 border hide-effect bg-blue white">Address</th>
                <th class="py-3 border hide-effect bg-blue white">Zipcode</th>
                <th class="py-3 border hide-effect bg-blue white">Payment Method</th>
              </tr>
            </thead>
            <tbody *ngFor="let info of payment_information_history">
              <tr>
                  <td class="py-3 border hide-effect">{{a.shortDate(info.stamp)}}</td>
                  <td class="py-3 border hide-effect">{{info['first_name']}}</td>
                  <td class="py-3 border hide-effect">{{info['middle_name']}}</td>
                  <td class="py-3 border hide-effect">{{info['last_name']}}</td>
                  <td class="py-3 border hide-effect">{{info['phone_number']}}</td>
                  <td class="py-3 border hide-effect">{{info['email']}}</td>
                  <td class="py-3 border hide-effect">{{info['country']}}</td>
                  <td class="py-3 border hide-effect">{{info['province']}}</td>
                  <td class="py-3 border hide-effect">{{info['city']}}</td>
                  <td class="py-3 border hide-effect"> {{info['address']}}</td>
                  <td class="py-3 border hide-effect">{{info['zipcode']}}</td>
                  <td class="py-3 border hide-effect">{{info['payment_method']}}</td>
              </tr>
            </tbody>
            </table>


        <ion-list class="payment-information-history mb-5">
          <ng-container *ngFor="let info of payment_information_history; let odd = odd">
            <ion-item class="head" no-padding [class.odd]=" odd " [class.even]=" !odd " (click)="info['more'] =  !info['more']" >
            Date/Time Changed: {{a.shortDate(info.stamp)}}
            </ion-item>

            <ng-container *ngIf="info['more']">
              <ion-item class="border-top-1-solid hide-effect">
                <ion-label>First Name: {{info['first_name']}}</ion-label>
              </ion-item>
              <ion-item class="hide-effect">
                <ion-label>Middle Name: {{info['middle_name']}}</ion-label>
              </ion-item>
              <ion-item class="hide-effect">
                <ion-label>Last Name: {{info['last_name']}}</ion-label>
              </ion-item>
              <ion-item class="hide-effect">
                <ion-label>Phone Number: {{info['phone_number']}}</ion-label>
              </ion-item>
              <ion-item class="hide-effect">
                <ion-label>Email: {{info['email']}}</ion-label>
              </ion-item>
              <ion-item class="hide-effect">
                <ion-label>Country: {{info['country']}}</ion-label>
              </ion-item>
              <ion-item class="hide-effect">
                <ion-label>Province: {{info['province']}}</ion-label>
              </ion-item>
              <ion-item class="hide-effect">
                <ion-label>City: {{info['city']}}</ion-label>
              </ion-item>
              <ion-item class="hide-effect">
                <ion-label>Address: {{info['address']}}</ion-label>
              </ion-item>
              <ion-item class="hide-effect">
                <ion-label>Zipcode: {{info['zipcode']}}</ion-label>
              </ion-item>
              <ion-item  class="border-bottom-1-solid hide-effect">
                <ion-label>Payment Method: {{info['payment_method']}}</ion-label>
              </ion-item>
            </ng-container>
          </ng-container>
        </ion-list>
      </section>
    </div>
    <hook-content-bottom></hook-content-bottom>
  </ion-content>


<!-- <ion-header>
  <header-content [title]=" 'PAYMENT SETTING' "></header-content>
</ion-header>
<ion-content>
  <div class="page">
    <hook-content-top></hook-content-top>
    <section class="page-header">
      <div>{{ "PAYMENT SETTING" | translate }}</div>
    </section>
    <section class="page-body">

      <ion-list class="payment-information">
        <ion-item>
          <ion-label>First Name</ion-label>
          <ion-input type="text" [(ngModel)]="payment_information['first_name']"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Middle Name</ion-label>
          <ion-input type="text" [(ngModel)]="payment_information['middle_name']"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Last Name</ion-label>
          <ion-input type="text" [(ngModel)]="payment_information['last_name']"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Phone Number</ion-label>
          <ion-input type="text" [(ngModel)]="payment_information['phone_number']"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="text" [(ngModel)]="payment_information['email']"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Country</ion-label>
          <ion-input type="text" [(ngModel)]="payment_information['country']"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Province</ion-label>
          <ion-input type="text" [(ngModel)]="payment_information['province']"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>City</ion-label>
          <ion-input type="text" [(ngModel)]="payment_information['city']"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Address</ion-label>
          <ion-input type="text" [(ngModel)]="payment_information['address']"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Zipcode</ion-label>
          <ion-input type="text" [(ngModel)]="payment_information['zipcode']"></ion-input>
        </ion-item>
      </ion-list>
      <ion-item text-wrap>
        <div>Payment Method</div>
        <div>
          <label class="mr-3">
            <input type="radio" name="payment_method" [(ngModel)]="payment_information['payment_method']"
                   value="gcash"> GCAsh
          </label>
          <label class="mr-3">
            <input type="radio" name="payment_method" [(ngModel)]="payment_information['payment_method']"
                   value="western-union"> Western Union
          </label>
          <label class="mr-3">
            <input type="radio" name="payment_method" [(ngModel)]="payment_information['payment_method']"
                   value="paypal"> Paypal
          </label>
        </div>
      </ion-item>
      <ion-item>
        <button ion-button (click)="onClickSubmit()">UPDATE</button>
      </ion-item>


      <hr>

      <div class="pl-3 py-5 fs-2rem bg-lightgrey">{{ "PAYMENT INFORMATION HISTORY" | translate }}</div>
      <button ion-button (click)="onClickShowHistory()">Show History</button>
      <hr>


      <ion-list class="payment-information-history mb-5">
        <ng-container *ngFor="let info of payment_information_history; let odd = odd">
          <ion-item class="head" no-padding [class.odd]=" odd " [class.even]=" !odd " (click)="info['more'] =  !info['more']" >
          Date/Time Changed: {{a.shortDate(info.stamp)}}
          </ion-item>

          <ng-container *ngIf="info['more']">
            <ion-item class="border-top-1-solid">
              <ion-label>First Name: {{info['first_name']}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Middle Name: {{info['middle_name']}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Last Name: {{info['last_name']}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Phone Number: {{info['phone_number']}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Email: {{info['email']}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Country: {{info['country']}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Province: {{info['province']}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>City: {{info['city']}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Address: {{info['address']}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Zipcode: {{info['zipcode']}}</ion-label>
            </ion-item>
            <ion-item  class="border-bottom-1-solid">
              <ion-label>Payment Method: {{info['payment_method']}}</ion-label>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-list>
    </section>
  </div>
  <hook-content-bottom></hook-content-bottom>
</ion-content> -->
