  <ion-header>
    <ion-grid class="bg-dodgerblue" no-padding>
      <ion-row align-items-center>
        <ion-col col-10>
          <ion-title class="p-0">
            <span class="fw-bold white p-5 fs-90">
              INSTALLING & CREATING 
              <span class="d-none d-md-inline">A KAKAOTALK ON MOBILE</span>
            </span>
          </ion-title>
        </ion-col>
        <ion-col class="d-flex justify-content-end" col-2>
          <button class="p-5 m-0" icon-end ion-button color="white" clear small (click)="dismiss()">
            <span class="text-uppercase fw-light">{{'CLOSE'| translate}}</span>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
<ion-content>
  <section  id="how-to-install-kakao" class="how-to p-5">

          <h2 class="d-inline-block m-0 py-3 px-4 fs-110 fw-light border border-dodgerblue rounded-2 dodgerblue" ion-text color="blue">WHY KAKAOTALK?</h2>
          <p class="line-height-1-8em mt-4 mb-5 p-5 fw-light fs-110 border">Most of the student are from Korea, and most of them have kakaotalk.
          And it would be more convenient for them to have class with kakaotalk app.</p>
          <div class="line-height-1-8em  mt-4 mb-5 p-5 fw-light fs-110 border">
            <div>Download: <a href="https://play.google.com/store/apps/details?id=com.kakao.talk"> Google Play Store </a></div>
            <div>Download: <a href="https://itunes.apple.com/us/app/kakaotalk/id362057947"> Apple Store </a></div>
          </div>


          <p class=" line-height-1-8em mt-4 mb-5 p-5 fw-light fs-110 border">1. Install Kakaotalk App from Google Play(android) or AppStore(iphone) to your smart phone</p>
              <img class="mb-5 ml-md-5 ml-0 p-0 border" src="assets/img/kakao/1.jpg">
          <p class="line-height-1-8em mt-4 mb-5 p-5 fw-light fs-110 border">2. After installation. Open Kakaotalk app.</p>
          <p class="line-height-1-8em mt-4 mb-5 p-5 fw-light fs-110 border">3. Select your country code and enter your phone number, and press Next button.</p>
              <img class="mb-5 ml-md-5 ml-0 p-0 border" src="assets/img/kakao/2.jpg">
          <p class="line-height-1-8em mt-4 mb-5 p-5 fw-light fs-110 border">
            4. Kakaotalk will send you a sms containing the 4-digit verification code.
            Input the code and press the Next button.
          </p>
          <div class="mt-4 mb-5 p-4 border">
            <ul class="line-height-1-8em fw-light fs-110">
              <li class="mt-4">*If you are using your number on the same device it will automatically add the verification number.</li>
              <li class="mt-4">*If not then you need to type the 4-digit verification code that you will received.</li>
            </ul>
          </div>
              <img class="mb-5 ml-md-5 ml-0 p-0 border" src="assets/img/kakao/3.jpg">
          <p class="line-height-1-8em mt-4 mb-5 p-5 fw-light fs-110 border">5. Press Sign Up Button</p>
              <img class="mb-5 ml-md-5 ml-0 p-0 border" src="assets/img/kakao/4.jpg">
          <p class="line-height-1-8em mt-4 mb-5 p-5 fw-light fs-110 border">6. Enter your name, upload your photo and press get started.</p>
              <img class="mb-5 ml-md-5 ml-0 p-0 border" src="assets/img/kakao/5.jpg">
          <p class="line-height-1-8em mt-4 mb-5 p-5 fw-light fs-110 border">7. Viola! You Successfully Installed and Created your kakaotalk Account.</p>

  </section>
</ion-content>
