<ion-header>
  <header-content></header-content>
</ion-header>


<ion-content>

  <div class="box header bg-darkslateblue">
    <span *ngIf="a.user.isLogout">{{ 'REGISTER' | translate }}</span>
    <span *ngIf="a.user.isLogin">{{ 'UPDATE PROFILE' | translate }}</span>
  </div>

  

<div class="text-center mt-5">
  <div class="profile-user p-relative d-inline-block w-10 of-hidden text-center" (click)="fileUpload.onClickCamera()">
    <input *ngIf=" ! a.isCordova " class="p-absolute z-100 t-0 l-0 size-15 bg-grey" style="opacity: 0.001" type="file" (change)="fileUpload.onChangeFile($event)">
    <div class="profile-user-photo">
      <img class="size-10 rounded-50" src="{{files.length ? files[0].url : a.anonymousPhotoURL}}">
    </div>
    <button class="btn submit fs-lg" [class.skip]="files && files.length">
      <i class="fa fa-camera mr-2"></i>
      {{ 'PRIMARY PHOTO' | translate }}
    </button>
    <file-upload-widget #fileUploadWidget [title]="false" [fileSelectionButton]="false" [files]="files" [showUploadedFiles]="false"
      (success)="onSuccessUploadPicture()"></file-upload-widget>
  </div>
</div>

  <hr>

  <form (submit)="onSubmit()">



    <ion-list>

      


      I am a

      <input type="radio" name="user_type" [(ngModel)]="user_type" value="S" (ngModelChange)="onClickType()"> student or teacher

      <input type="radio" name="user_type" [(ngModel)]="user_type" value="T" (ngModelChange)="onClickType()"> student



      <hr>


      <ion-item>
        <ion-label floating>{{ 'TIMEZONE' | translate }}</ion-label>
        <ion-select [(ngModel)]="offset" name="timezone">
          <ion-option *ngFor="let t of keysTimezone()" value="{{ t }}">{{ format(t) }} {{ tz[t].name }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" [(ngModel)]="account.user_email" name="email"></ion-input>
      </ion-item>

      <ion-item *ngIf="a.user.isLogout">
        <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.user_pass" name="password"></ion-input>
      </ion-item>


      <ion-item>
          <ion-label floating>{{ 'NAME' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>
        </ion-item>

        
      <ion-item>
        <ion-label floating>{{ 'NICKNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.display_name" name="nickname"></ion-input>
      </ion-item>


      <ion-item>
          <ion-label floating>{{ 'PHONE NUMBER' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.phone_number" name="phone_number"></ion-input>
        </ion-item>
  


      <ion-item>
        <ion-label floating>{{ 'KAKAOTALK ID' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.kakaotalk_id" name="kakaotalk_id"></ion-input>
      </ion-item>

      <ion-item *ngIf="a.user.isLogin">
        Upload QR Mark
        <file-upload-widget #fileUploadWidget
        [title]="true"
        [fileSelectionButton]="true"
        [files]="qrmarks"
        [showUploadedFiles]="true"
        (success)="onSuccessUploadQRMark( $event )"></file-upload-widget>
      </ion-item>
      

      <ion-item *ngIf="a.lms.getUserType() == 'teacher' ">
        bookable time
      </ion-item>
      

      
      <div padding>
        <button ion-button color="primary" block>{{ 'REGISTER BUTTON' | translate }}</button>
      </div>




    </ion-list>
  </form>
</ion-content>
