register-page {
  @include theme('purple');
  .page {
    .page-body {
      .page-body-wrapper {
        .page-body-content-wrapper {
          background-color: rgba(238, 238, 238, 0.4);
        }
      }
    }
  }
  .qr-mark .uploaded-files .file img {
    max-width: 150px;
  }
}

.profile-form {
  li {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
    input {
      padding: .5em;
    }
    .label {
      width: 140px;
      padding: .5em;
    }
    .input {
      width: 100%;
      input {
        width: 92%;
        @media ( min-width: $md) {
          width: 95%;
        }
      }
    }
  }
  .kakaotalk-id-find-box {
    margin-bottom: 2em;
    @media ( min-width: $md) {
      margin-left: 122px;
    }
    img {
      display: block;
      max-width: 100%;
      padding: 5px;
      @media ( min-width: $md ) { padding: 8px; }
      border: 1px solid #dfdfdf;
      background-color: white;
    }
  }
}
