register-page {
  @include theme('purple');

  .page {
    .page-body {
      .page-body-wrapper {
        .page-body-content-wrapper {
          background-color: rgba(238, 238, 238, 0.4);
        }
      }
    }
  }

  .qr-mark .uploaded-files .file img {
    max-width: 150px;
  }
}


.profile-form {
  li {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
    input {
      padding: .5em;
    }
    .label {
      width: 140px;
      padding: .5em;
    }
    .input {
      width: 100%;
      input {
        width: 92%;
        @media ( min-width: $md) {
          width: 95%;
        }
      }
    }
  }
}

