teacher-list-page {
  @include theme('bluegrey');

    .teacher-profile-photo {
      width: 100px;
      height: 120px;
      overflow: hidden;

      img {
        width: 100%;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
    }

    .teachers{
      margin:-5px;
    }

    .ion-select-35-65{
      ion-label {
        max-width: 35%;
      }
      ion-select {
        min-width: 65%;
        text-align: right;
      }
    }

    .hover-img-effect{
      position: relative;
      transition: all 0.2s ease-in-out;

      .hover-cover{
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0;
        border-radius: 2px;
        background: rgba(#607d8b,0.8);
        transition: all 0.2s ease-in-out;
      }

      &:hover{
        transform: scale(0.97,0.97);

        .hover-cover{
          opacity: 1;
        }

      }
    }

  .show-more-teachers {
    display: block;
    margin: 2em auto 4em;
    padding: 1.2em 7em;
    @media (min-width: $md) {
      padding: 1.25em 12em;
    }
    background-color: rgb(41, 75, 170);
    color: white;
    font-size: 1.4rem !important;
    cursor: pointer;
  }

  .no-more-teachers {
    margin: 1em 0;
    padding: 1em;
    background-color: rgb(230, 130, 0);
    color: white;
  }
}




// teacher-list-page {
//   @include theme('bluegrey');
//   .teacher-profile-photo {
//     padding: 2px;
//     overflow: hidden;
//     width: 100px;
//     height: 120px;
//     border: 1px solid rgb(228, 228, 228);
//     img {
//       width: 100%;
//     }

//   }

//   .align-self-center{
//     align-self: center!important;
//   }
//   .show-more-teachers {
//     display: block;
//     margin: 2em auto 4em;
//     padding: 1.2em 7em;
//     @media (min-width: $md) {
//       padding: 1.25em 12em;
//     }
//     background-color: rgb(41, 75, 170);
//     color: white;
//     font-size: 1.4rem !important;
//     cursor: pointer;
//   }

//   .no-more-teachers {
//     margin: 1em 0;
//     padding: 1em;
//     background-color: rgb(230, 130, 0);
//     color: white;
//   }
// }
