<ion-header>
  <header-content [title]=" title "></header-content>
</ion-header>

<ion-content>
  <div class="page">
    <hook-content-top></hook-content-top>


    <section class="page-header d-flex justify-content-between">
      <div class="title white" *ngIf=" mode == 'leveltest' ">{{ "LEVELTEST PAGE TITLE" | translate }}</div>
      <h2 class="title white" *ngIf=" mode != 'leveltest' ">
        {{ "SELECT TEACHER TO RESERVE" | translate }}
      </h2>
      <div class="pointer d-flex fs-110" (click)=" display_options = !display_options " *ngIf=" ! display_options ">
        {{ 'OPTIONS' | translate }}
        <ion-icon class="ml-3" name="options"></ion-icon>
      </div>
    </section>

    <section class="options hide-effect" *ngIf=" display_options ">
      <div class="bg-white p-4">
        <div class="mb-3 d-flex justify-content-between  px-2" >
          {{ "TEACHER LIST OPTIONS" | translate }}
          <button class="fs-90 bg-white" (click)=" display_options = false ">
              <i class="fal fa-times"></i>
              <span class="text-uppercase">{{ 'CLOSE' | translate }}</span>
          </button>
        </div>
        <ion-list class="d-md-flex d-block m-0  px-2" no-lines>
            <ion-item class="border mr-md-2 mr-0 ion-select-35-65">
              <ion-label>{{ "GENDER" | translate }}</ion-label>
              <ion-select (ionChange)=" onChangeGender() " [(ngModel)]="gender" okText="확인" cancelText="취소" [selectOptions]="{ title: '선생님의 성별을 선택하세요.', cssClass:'select-gender'}">
                <ion-option value="F">{{"FEMALE" | translate}}</ion-option>
                <ion-option value="M">{{"MALE" | translate}}</ion-option>
                <ion-option value="">{{"ALL" | translate}}</ion-option>
              </ion-select>
            </ion-item>
    
            <ion-item class="border ml-md-2 ml-0 ion-select-35-65">
              <ion-label>{{ "TEACHER GRADE" | translate }}</ion-label>
              <ion-select (ionChange)=" onChangeRecommend() " [(ngModel)]="recommend" okText="확인" cancelText="취소" [selectOptions]="{ title: '선생님 등급을 선택하세요.', cssClass:'select-grade'}">
                <ion-option value="Y">{{"RECOMMENDED TEACHER" | translate}}</ion-option>
                <ion-option value="">{{"ALL TEACHER" | translate}}</ion-option>
              </ion-select>
            </ion-item>
    
          </ion-list>
      </div>
    </section>

    <section class="page-desc p-4">

      <div *ngIf=" re ">
        <div *ngIf="a.user.isLogin ">
          <div text-center>어서오세요 {{ a.user.name }}님</div>
          <div text-center>
            전체 선생님 수는 <b>{{ re.total }}</b> 명이며, 회원님의 예약된 수업은 <b>{{ a.lmsInfoUserNoOfTotalSessions }}</b>회이며 지난 수업은
            <span *ngIf=" a.lmsInfoUserNoOfPast "><b>{{ a.lmsInfoUserNoOfPast }}</b>회입니다.</span>
            <span *ngIf=" a.lmsInfoUserNoOfPast == 0">없습니다.</span>
          </div>
        </div>

        <div *ngIf="a.user.isLogout ">
          <div text-center>
            현재 표시되는 선생님은 {{ re.total }} 명입니다. 옵션을 통해서 모든 선생님을 볼 수 있습니다. 로그인을 하시면 회원님의 수업 정보가 표시됩니다.
          </div>
        </div>

      </div>

    </section>


    <div class="text-center bg-white p-4" *ngIf=" a.teacherTheme ">
      In this page, you will see teachers who are visible to students.
    </div>

    <section class="page-body pb-5">


      <div class="teachers pt-md-5 mb-5 mb-md-6">
        <ion-grid *ngIf=" re " no-padding>
          <ion-row align-items-stretch>
            <ion-col class="mx-1 my-2 pointer hide-effect" *ngFor="let teacher of teachers" (click)="onClickTeacher(teacher)" text-center>
              <div class="hover-img-effect text-center w-100px d-inline-block bg-white rounded-2 border h-100">
                <div class="hover-cover d-flex align-items-center justify-content-center">
                    <i class="fal fa-link fa-2x white"></i>
                </div>
                <div class="teacher-profile-photo">
                  <img src="{{ teacher.photoURL }}">
                </div>
                <div class="text-uppercase mb-2 mt-4">{{ a.preTeacherName( teacher.display_name )}}</div>
                <div class="grade fs-90 fw-light" [attr.grade]=" teacher.grade " text-center>
                  <span *ngIf="teacher.grade!=0" class="fs-90">추천:</span>
                  <span class="fs-90">
                    <i class="star fas fa-star" *ngFor="let i of a.countStar(teacher.grade)"></i>
                  </span>
                </div>
                <div class="fs-90 fw-light mt-2 mb-4">
                  ({{ teacher.total_reservation }} 명 참여)
                </div>
              </div>
           </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="h-0 position-relative my-5 my-md-7em border"
           *ngIf=" ! noMoreTeachers && ! loading">
          <button class="show-more-teachers d-flex align-items-center justify-content-center px-5 py-4" (click)=" onClickShowMoreTeacher()">
            <span>강사 더보기...</span>
            <i class="fal fa-arrow-to-bottom ml-3"></i>
          </button>
      </div>

      <div class="mt-5 mb-md-5 text-center pt-4 p-md-0 bg-white d-flex-column flex-md-row align-items-center justify-content-center border"
           *ngIf=" noMoreTeachers && gender == '' && recommend == 'Y' " (click)="onClickShowAllTeachers() ">
        <div class="px-3 p-md-0">더 이상 추천 강사가 없습니다. 옵션을 통해 더 많은 강사를 볼 수 있습니다.</div>
        <button class="no-more-teachers py-3  d-flex align-items-center justify-content-center rounded-2 text-uppercase ml-3">
          <span>옵션 창 열기</span>
          <ion-icon class="ml-3" name="options"></ion-icon>
        </button>
      </div>
      

      <div class="loader-big" *ngIf=" loading ">
          <div class="d-inline-block m-auto" text-center>
              <ion-spinner class="size-100" color="blue" name="ios"></ion-spinner>
              <div class="text p-5 dodgerblue fs-2rem fw-bold text-uppercase">
                {{ 'IN LOADING' | translate }}..
              </div>
          </div>
        </div>

    </section>
      
  </div>
  <hook-content-bottom></hook-content-bottom>
</ion-content>

















<!-- <ion-header>
  <header-content [title]=" title "></header-content>
</ion-header>

<ion-content>
  <div class="page">
    <hook-content-top></hook-content-top>


    <section class="page-header d-flex justify-content-between">
      <div class="title white" *ngIf=" mode == 'leveltest' ">{{ "LEVELTEST PAGE TITLE" | translate }}</div>
      <h2 class="title white" *ngIf=" mode != 'leveltest' ">
        {{ "SELECT TEACHER TO RESERVE" | translate }}
      </h2>
      <div class="pointer" (click)=" display_options = !display_options " *ngIf=" ! display_options ">
        <ion-icon name="options"></ion-icon>
        {{ 'OPTIONS' | translate }}
      </div>
    </section>

    <section class="options" *ngIf=" display_options ">


      <ion-list>
        <ion-list-header>{{ "TEACHER LIST OPTIONS" | translate }}</ion-list-header>
        <ion-item>
          <ion-label>{{ "GENDER" | translate }}</ion-label>
          <ion-select (ionChange)=" onChangeGender() " [(ngModel)]="gender" okText="확인" cancelText="취소" [selectOptions]="{ title: '선생님의 성별을 선택하세요.', cssClass:'select-gender'}">
            <ion-option value="F">{{"FEMALE" | translate}}</ion-option>
            <ion-option value="M">{{"MALE" | translate}}</ion-option>
            <ion-option value="">{{"ALL" | translate}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>{{ "TEACHER GRADE" | translate }}</ion-label>
          <ion-select (ionChange)=" onChangeRecommend() " [(ngModel)]="recommend" okText="확인" cancelText="취소" [selectOptions]="{ title: '선생님 등급을 선택하세요.', cssClass:'select-grade'}">
            <ion-option value="Y">{{"RECOMMENDED TEACHER" | translate}}</ion-option>
            <ion-option value="">{{"ALL TEACHER" | translate}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-list>

      <button class="p-4 w-100 fs-lg bg-lightgrey" (click)=" display_options = false ">
        <i class="fal fa-times"></i>
        {{ "CLOSE LIST OPTION BOX" | translate }}
      </button>

    </section>

    <section class="page-desc">

      <div *ngIf=" re ">
        <div *ngIf="a.user.isLogin ">
          <div>어서오세요
            <b>{{ a.user.name }}님,</b>
          </div>
          <div>
            전체 선생님 수는 {{ re.total }} 명이며, 회원님의 예약된 수업은 {{ a.lmsInfoUserNoOfTotalSessions }}회이며 지난 수업은
            <span *ngIf=" a.lmsInfoUserNoOfPast ">{{ a.lmsInfoUserNoOfPast }}회입니다.</span>
            <span *ngIf=" a.lmsInfoUserNoOfPast == 0">없습니다.</span>
          </div>
        </div>

        <div *ngIf="a.user.isLogout ">
          <div>
            현재 표시되는 선생님은 {{ re.total }} 명입니다. 옵션을 통해서 모든 선생님을 볼 수 있습니다. 로그인을 하시면 회원님의 수업 정보가 표시됩니다.
          </div>
        </div>

      </div>

    </section>


    <div *ngIf=" a.teacherTheme ">
      In this page, you will see teachers who are visible to students.
    </div>

    <section class="page-body">


      <div class="teachers mt-md-5 mb-5 mb-md-6">
        <ion-grid *ngIf=" re ">
          <ion-row>
            <ion-col *ngFor="let teacher of teachers" (click)="onClickTeacher(teacher)">
              <div class="d-flex justify-content-center mt-1 mt-md-3 pointer">
                <div class="teacher-profile-photo">
                  <img src="{{ teacher.photoURL }}">
                </div>
              </div>
              <div class="text-center mt-1 mb-3 pointer">
                <div>{{ a.preTeacherName( teacher.display_name )}}</div>
                <div class="grade" [attr.grade]=" teacher.grade ">
                  추천:
                  <i class="star fas fa-star" *ngFor="let i of a.countStar(teacher.grade)"></i>
                  <i class="star empty-star fal fa-star" *ngFor="let i of a.countEmptyStar(teacher.grade)"></i>

                </div>
                <div>
                  ({{ teacher.total_reservation }} 명 참여)
                </div>
              </div>

            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="loader-big bg-orange" *ngIf=" loading ">
        <ion-spinner color="white"></ion-spinner>
        <span class="text px-3 py-2 white">
          {{ 'IN LOADING' | translate }}
        </span>
      </div>


      <button class="show-more-teachers" (click)=" onClickShowMoreTeacher() " *ngIf=" ! noMoreTeachers && ! loading">강사 더보기...</button>

      <div class="mt-5 mx-md-5 mb-md-5 text-center" *ngIf=" noMoreTeachers && gender == '' && recommend == 'Y' " (click)=" onClickShowAllTeachers() ">
        더 이상 추천 강사가 없습니다. 옵션을 통해 더 많은 강사를 볼 수 있습니다.
        <div class="no-more-teachers py-3 text-center">
          옵션 창 열기
        </div>
      </div>

    </section>

  </div>
  <hook-content-bottom></hook-content-bottom>
</ion-content> -->
