curriculum-vitae-view{
    .bg-light{
        background: #f7f7f7!important;
    }

    ion-header{
        box-shadow: none;
        -webkit-box-shadow:none;
        
        .header.header-md::after{
            background:none!important;
        }

    }

    @media screen and (min-width:$md){
        .d-md-flex-row{
            flex-direction: row!important;
        }

        .align-items-md-start{
            align-items: flex-start!important;
        }

        .fs-md-88{
            font-size: 88%;
        }
    }

    @media screen and (max-width:$sm){
        .fs-82{
            font-size: 82%!important;
        }
    }

}