curriculum-vitae-view{
    ion-header{
        box-shadow: none;
        -webkit-box-shadow:none;
        
        .header.header-md::after{
            background:none!important;
        }

    }

    @media screen and (min-width:$md){
        .d-md-flex-row{
            flex-direction: row!important;
        }

        .align-items-md-start{
            align-items: flex-start!important;
        }
    }

}