<ion-header>
  <ion-toolbar>
    <ion-title>Curriculum Vitae</ion-title>
    <ion-buttons start>
      <button ion-button class="cancel" (click)="dismiss()">
        <span ion-text color="primary">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    Teacher name {{teacher.name}}
    fullname {{teacher.fullname}}
    display name {{teacher.display_name}}
    user email {{teacher.user_email}}
    phone number{{teacher.phone_number}}
    gender {{teacher.gender}}
    birthday /age {{teacher.birthday}}
    profile picture {{teacher.photoURL}}
    nationality {{teacher.nationality}}
    major {{teacher.major}}
    experience {{teacher.experience}}
    greetings {{teacher.introduction}}
    youtube video {{teacher.youtube_video_url}}
    kakaoid {{teacher.kakaotalk_id}}
    qrmark {{teacher.kakao_qrmark_photo}}
  </div>


</ion-content>
