<ion-header>
  <ion-toolbar>
    <ion-title>Curriculum Vitae</ion-title>
    <ion-buttons start>
      <button  class="close" ion-button (click)="dismiss()">
        <span ion-text color="primary">{{ 'CLOSE' | translate }}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list text-wrap class="fs-xl">
    <ion-item text-center>
      <div class="mx-auto size-200x240">
        <img src="{{ teacher.photoURL ? teacher.photoURL : a.anonymousPhotoURL }}">
      </div>
    </ion-item>
    <ion-item>
      Full name: {{teacher.fullname}}
    </ion-item>
    <ion-item>
      Greetings: {{teacher.introduction}}
    </ion-item>
    <ion-item>
      Email: {{teacher.user_email}}
    </ion-item>
    <ion-item>
      Phone No: {{teacher.phone_number}}
    </ion-item>
    <ion-item>
      Gender: {{teacher.gender}}
    </ion-item>
    <ion-item>
      Birthday: {{teacher.birthday}} / {{teacher.age}}
    </ion-item>
    <ion-item>
      Nationality: {{teacher.nationality}}
    </ion-item>
    <ion-item>
      Course: {{teacher.major}}
    </ion-item>
    <ion-item>
      Teaching English since: {{teacher.experience}}
    </ion-item>
  </ion-list>
</ion-content>
