<ion-header>
  <header-content></header-content>
</ion-header>
<ion-content padding>

  <h1>Mesage</h1>

  <button ion-button (click)="onClickBox( 'inbox' )">InBox</button>
  <button ion-button (click)="onClickBox( 'sent' )">Sent</button>


  <ion-list *ngIf=" data ">
      <ion-item *ngFor=" let message of data.messages " (click)="onClickMessage(message)">
        <ion-avatar item-start>
          <img src="{{ message?.sender_photoURL? message.sender_photoURL: a.anonymousPhotoURL}}">
        </ion-avatar>
        <h2>Sender: {{message.sender_name}}</h2>
        <h3 class="{{message.open == 0 ? 'fw-bold': ''}}" text-wrap>Title: {{message.title}}</h3>
        <p text-wrap *ngIf="message.view">{{message.content}}</p>
      </ion-item>
      <ion-item *ngIf="message_count < limit">No More Message</ion-item>
      <ion-item>
        <button ion-button *ngIf="page_no > 1" (click)="onClickPrevious()">Previous</button>
        <button ion-button *ngIf="message_count == limit" (click)="onClickNext()">Next</button>
      </ion-item>
  </ion-list>
</ion-content>
