<ion-header>
  <ion-toolbar class="px-md-5 px-3">
    <ion-grid no-padding>
      <ion-row align-items-center>
        <ion-col col-7 col-md-6>
          <ion-title class="p-0">
            <span class="fs-90 white">{{ "STUDENT COMMENT LIST" | translate}}</span>
          </ion-title>
        </ion-col>
        <ion-col class="d-flex justify-content-end" col-5 col-md-6>
          <button class="p-0 mr-3  d-flex align-items-center" color="white" icon-end ion-button clear small  *ngIf="a.user.isLogin && a.studentTheme" (click)="onClickCommentCreate()">
            <span class="text-uppercase fw-bold">{{ 'WRITE REVIEW' | translate }}</span>
            <i class="fas fa-edit ml-2"></i>
          </button>
          <button class="p-0" icon-end ion-button color="white" clear small (click)="onClickCancel()">
            <span class="text-uppercase fw-light">{{ "CLOSE" | translate}}</span>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>

  <section id="student-comments" class="p-5">

    <ng-container *ngFor="let comment of comments">
    <div class="comment" *ngIf="comment.idx">
      <ion-grid no-padding>
        <ion-row>
          <ion-col class="d-none d-md-flex" col-md-3>
              <div class="d-flex align-items-center justify-content-center of-hidden rounded-50 size-100">
                <img src="{{comment?.photoURL ? comment.photoURL : a.anonymousPhotoURL }}">
              </div>
          </ion-col>
          <ion-col col-md-9 col-12>
            <div class="d-flex justify-content-center md-justify-content-start">
                <div class="d-md-none d-sm-flex align-items-center justify-content-center of-hidden rounded-50 size-100">
                    <img src="{{comment?.photoURL ? comment.photoURL : a.anonymousPhotoURL }}">
                  </div>
                <div  class="ml-md-3 ml-5 d-flex-column d-md-flex-row align-items-end mt-auto">
                    <div class="name mr-4 m-0 text-uppercase fw-bold">
                      <i class="fal mr-1 fa-id-card"></i>
                      {{ comment.student_name }}
                    </div>
                    <div class="date mr-4 my-2 my-md-0">{{ 'DATE' | translate }}: {{ a.shortDate(comment.stamp) }}</div>
                    <div class="rating darkorange mr-4">
                      {{ 'RATING' | translate }}: {{rate}}
                      <span *ngIf="comment.rate < 1"><i class="fal fa-star"></i></span>
                      <span *ngIf="comment.rate >= 1"><i class="fas fa-star"></i></span>

                      <span *ngIf="comment.rate < 2"><i class="fal fa-star"></i></span>
                      <span *ngIf="comment.rate >= 2"><i class="fas fa-star"></i></span>

                      <span *ngIf="comment.rate < 3"><i class="fal fa-star"></i></span>
                      <span *ngIf="comment.rate >= 3"><i class="fas fa-star"></i></span>

                      <span *ngIf="comment.rate < 4"><i class="fal fa-star"></i></span>
                      <span *ngIf="comment.rate >= 4"><i class="fas fa-star"></i></span>

                      <span *ngIf="comment.rate < 5"><i class="fal fa-star"></i></span>
                      <span *ngIf="comment.rate >= 5"><i class="fas fa-star"></i></span>
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="mb-2">
                    <span class="py-2 pointer mr-4  hover-effect" *ngIf="comment.idx_student == a.user.id" (click)="onClickDelete(comment)"><i class="fa fa-trash"></i> {{ 'DELETE' | translate }}</span>
                    <span class="py-2 pointer hover-effect" *ngIf="comment.idx_student == a.user.id" (click)="onClickCommentEdit(comment)"><i class="fa fa-pencil"></i> {{ 'EDIT' | translate }}</span>
                </div>
                {{comment.comment}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    </ng-container>
    <div class="alert alert-secondary my-5" *ngIf="error">
      <span class="fs-2rem">{{error}}</span>
    </div>
  </section>
  <div class="d-flex justify-content-center mb-5">
      <page-navigator [no_of_total_items]=" pageOption['totalRecord'] "
          [no_of_items_in_one_page]=" pageOption['limitPerPage'] "
          [no_of_pages_in_navigator]=" pageOption['limitPerNavigation'] "
          [no_of_current_page]=" pageOption['currentPage'] "
          [show_prev_next]=" true "
          (pageClick)="onPostPageClick($event)">
      </page-navigator>
  </div>
</ion-content>

