student-comment-list{
    .bg-opacity-white{
        background: rgba(white, 0.6);
        z-index: 999898;
    }

    ion-header{
        box-shadow: none;
        -webkit-box-shadow:none;
        
        .header.header-md::after{
            background:none!important;
        }

    }

    @media screen and (min-width:$md) {
        .d-md-flex-row{
            flex-direction: row!important;
        }

        .md-justify-content-start{
            justify-content: flex-start!important;
        }
    }
    
}