<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons start>
      <button ion-button class="cancel" (click)="onClickCancel()">
        <span ion-text color="primary">{{ 'CANCEL' | translate }}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding="">
  <ion-list>
    <ion-item>
      <ion-textarea class="w-100" rows="10" [(ngModel)]="message" placeholder="{{title}}"></ion-textarea>
    </ion-item>
    <ion-item>
      <div *ngIf=" a.isStudent ">가능하면 영어로 적어주시기 바랍니다.</div>
    </ion-item>
    <ion-item>
        <button class="p-4" ion-button type="button" (click)="onClickSubmit()">{{ 'SUBMIT' | translate }}</button>
        <button class="p-4" color="secondary" ion-button type="button" (click)="onClickCancel()">{{ 'CANCEL' | translate }}</button>
    </ion-item>
  </ion-list>
</ion-content>

