<ion-grid no-padding>
    <ion-row class="cover-by-2 mb-3">
        <ion-col class="overflowhidden-x border border-top-0 border-bottom-0">
            <ion-slides class="cover-slider outline-effect" effect="fade" autoplay="10000" speed="1000" loop>
                <ion-slide>
                    <img  src="../assets/img/teacher/teacherslide1.jpg" alt="quote">
                </ion-slide>
                <ion-slide >
                    <img  src="../assets/img/teacher/teacherslide2.jpg" alt="quote">
                </ion-slide>
                <ion-slide >
                    <img  src="../assets/img/teacher/teacherslide3.jpg" alt="quote">
                </ion-slide>
            </ion-slides>
        </ion-col>
    </ion-row>
    <ion-row class="cover-by-2 overflowhidden-y outline-effect bg-white mt-3">
        <ion-col>
            <h2 class="fs-110 fw-light bg-red m-0 py-3 text-center" ion-text color="white">Important Reminder</h2>
            <div class="px-3">
                <p class="fw-light p-0">Teacher must use smart phone to add contact to admin. Once
                    teacher added contact to admin, teacher can use PC to chat with admin. ) Admin will
                    check your environment.
                </p>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
