<ion-grid class="mb-5 mb-md-0" no-padding>
    <ion-row class="cover-by-2 mb-3 d-none d-md-flex">
        <ion-col class="border border-top-0 border-bottom-0">
            <ion-slides class=" outline-effect" effect="fade" autoplay="10000" speed="1000" loop>
                <ion-slide class="bg-white">
                    <img class="w-100"  src="../assets/img/teacher/teacherslide1.jpg" alt="quote">
                </ion-slide>
                <ion-slide  class="bg-white">
                    <img class="w-100"  src="../assets/img/teacher/teacherslide2.jpg" alt="quote">
                </ion-slide>
                <ion-slide class="bg-white" >
                    <img class="w-100"  src="../assets/img/teacher/teacherslide3.jpg" alt="quote">
                </ion-slide>
            </ion-slides>
        </ion-col>
    </ion-row>
    <ion-row class="mb-5 d-flex d-md-none cover-by-2">
        <ion-col class=" border border-top-0 border-bottom-0">
            <ion-slides  effect="fade" autoplay="10000" speed="1000" loop>
                <ion-slide class="slide-bg-1 py-5 white px-4">
                    <div class="fs-3rem mt-5 mb-3 fw-bold white font-arial">ONTUE</div>
                    <div class="mb-4 fw-light line-height-1-8em fs-90">Earn Money While Teaching English Online. Work from The Comfort Of Your Home</div>
                    <button ion-button color="blue" (click)=" onClickSteps() ">Apply Now</button>
                </ion-slide>
                <ion-slide  class="slide-bg-2 py-5 white px-4">
                    <div class="fs-3rem mt-5 mb-3 fw-bold white font-arial">ONTUE</div>
                    <div class="mb-4 fw-light line-height-1-8em fs-90">Earn Money While Teaching English Online. Work from The Comfort Of Your Home</div>
                    <button ion-button color="blue" (click)=" onClickSteps() ">Apply Now</button>
                </ion-slide>
                <ion-slide  class="slide-bg-3 py-5 white px-4">
                    <div class="fs-3rem mt-5 mb-3 fw-bold white font-arial">ONTUE</div>
                    <div class="mb-4 fw-light line-height-1-8em fs-90">Earn Money While Teaching English Online. Work from The Comfort Of Your Home</div>
                    <button ion-button color="blue" (click)=" onClickSteps() ">Apply Now</button>
                </ion-slide>
            </ion-slides>
        </ion-col>
    </ion-row>
    <ion-row class="cover-by-2 overflowhidden-y mt-md-3 mt-0 px-md-0 px-5">
        <ion-col class="border bg-white" text-center  (click)="a.open('register')">
            <p class="m-0 fs-90 py-3 text-center white bg-red-90 fw-bold">Urgent Hiring </p>
            <div class="pt-md-3 py-3">
                <i class="fal fa-rocket color-animation fa-4x"></i>
                <div class="px-5 px-md-4">
                <!-- <p class="fs-90 line-h-1-8em p-0">Teacher must use smart phone to add contact to admin. Once
                    teacher added contact to admin, teacher can use PC to chat with admin. Admin will
                    check your environment.
                </p> -->
                <p class="p-0 line-height-1-2rem my-md-2 my-0">Teacher? We need you !! Earn as much as PHP40,000+</p>
                <button class="p-3 m-0 bg-greeny fw-bold rounded-2 hover-effect white">APPLY NOW</button>
            </div>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
<!-- 
<ion-grid class="mb-5 mb-md-0" no-padding>
        <ion-row class="cover-by-2 mb-3">
            <ion-col class="overflowhidden-x border border-top-0 border-bottom-0">
                <ion-slides class="cover-slider outline-effect" effect="fade" autoplay="10000" speed="1000" loop>
                    <ion-slide>
                        <img  src="../assets/img/teacher/teacherslide1.jpg" alt="quote">
                    </ion-slide>
                    <ion-slide >
                        <img  src="../assets/img/teacher/teacherslide2.jpg" alt="quote">
                    </ion-slide>
                    <ion-slide >
                        <img  src="../assets/img/teacher/teacherslide3.jpg" alt="quote">
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
        <ion-row class="cover-by-2 overflowhidden-y outline-effect bg-white  mt-3">
            <ion-col>
                <p class="m-0 fs-90 py-3 text-center white bg-red-80 fw-bold outline-effect">Important Reminder</p>
                <div class="px-5 px-md-4">
                    <p class="fs-90 line-h-1-8em p-0 fw-light">Teacher must use smart phone to add contact to admin. Once
                        teacher added contact to admin, teacher can use PC to chat with admin. Admin will
                        check your environment.
                    </p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid> -->
