    .slide-bg-1{
        background:linear-gradient(to bottom, rgba(#494949,0.63),  rgba(#494949,0.63)), 
        url('../assets/img/teacher/teacher-mobile-slide1.jpg');
        background-size: cover;
        background-position: top;
    }

    .slide-bg-2{
        background:linear-gradient(to bottom, rgba(#494949,0.63),  rgba(#494949,0.63)), 
        url('../assets/img/teacher/teacher-mobile-slide2.jpg');
        background-size: cover;
        background-position: top;
    }

    .slide-bg-3{
        background:linear-gradient(to bottom, rgba(#494949,0.63),  rgba(#494949,0.63)), 
        url('../assets/img/teacher/teacherslide3.jpg');
        background-size: cover;
        background-position: top;
    }

