<ion-grid class="mb-5 mb-md-0" no-padding>
    <ion-row class="cover-by-2 mb-3">
        <ion-col class="overflowhidden-x border border-top-0 border-bottom-0  d-none d-md-block">
            <ion-slides class="cover-slider outline-effect" effect="fade" autoplay="10000" speed="1000" loop>
                <ion-slide class="bg-white">
                    <img  src="../assets/img/teacher/teacherslide1.jpg" alt="quote">
                </ion-slide>
                <ion-slide  class="bg-white">
                    <img  src="../assets/img/teacher/teacherslide2.jpg" alt="quote">
                </ion-slide>
                <ion-slide class="bg-white" >
                    <img  src="../assets/img/teacher/teacherslide3.jpg" alt="quote">
                </ion-slide>
            </ion-slides>
        </ion-col>
    </ion-row>
    <ion-row class="cover-by-2 overflowhidden-y outline-effect bg-white  mt-3">
        <ion-col>
            <p class="m-0 fs-90 py-3 text-center white bg-orange-80 fw-bold outline-effect">Important Reminder</p>
            <div class="px-5 px-md-4">
                <p class="fs-90 line-h-1-8em p-0 fw-light">Teacher must use smart phone to add contact to admin. Once
                    teacher added contact to admin, teacher can use PC to chat with admin. Admin will
                    check your environment.
                </p>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
<!-- 
<ion-grid class="mb-5 mb-md-0" no-padding>
        <ion-row class="cover-by-2 mb-3">
            <ion-col class="overflowhidden-x border border-top-0 border-bottom-0">
                <ion-slides class="cover-slider outline-effect" effect="fade" autoplay="10000" speed="1000" loop>
                    <ion-slide>
                        <img  src="../assets/img/teacher/teacherslide1.jpg" alt="quote">
                    </ion-slide>
                    <ion-slide >
                        <img  src="../assets/img/teacher/teacherslide2.jpg" alt="quote">
                    </ion-slide>
                    <ion-slide >
                        <img  src="../assets/img/teacher/teacherslide3.jpg" alt="quote">
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
        <ion-row class="cover-by-2 overflowhidden-y outline-effect bg-white  mt-3">
            <ion-col>
                <p class="m-0 fs-90 py-3 text-center white bg-red-80 fw-bold outline-effect">Important Reminder</p>
                <div class="px-5 px-md-4">
                    <p class="fs-90 line-h-1-8em p-0 fw-light">Teacher must use smart phone to add contact to admin. Once
                        teacher added contact to admin, teacher can use PC to chat with admin. Admin will
                        check your environment.
                    </p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid> -->
