<ion-header>
  <header-content></header-content>
</ion-header>
<ion-content>
  <div class="page">
    <hook-content-top></hook-content-top>

    <section class="page-header">
      <h2 class="title">{{ "TEACHER SCHEDULE" | translate }}</h2>
    </section>

    <section class="page-body">
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-md-5 col-12 >
            <ion-grid no-padding>
              <ion-row class="mt-4 mb-2">
                <ion-col class="mr-4" col-md-5>
                   <div class="p-4 border border-dodgerblue  bg-white fw-bold dodgerblue">Your ID No:</div>
                </ion-col>
                <ion-col>
                   <div class="p-4 border border-dodgerblue bg-white"> {{ a.user.id }}</div>
                </ion-col>
              </ion-row>
              <ion-row class="my-3">
                <ion-col class="mr-4" col-md-5>
                  <div class="p-4 border border-dodgerblue  bg-white fw-bold dodgerblue">Your timezone:</div>
                </ion-col>
                <ion-col>
                   <div class="p-4 border border-dodgerblue bg-white"> {{ timezone_name }}</div>
                </ion-col>
              </ion-row>
              <ion-row class="mb-4 mt-2" align-items-stretch>
                <ion-col class="mr-4"  col-md-5>
                  <div class="h-100 p-4 border border-dodgerblue  bg-white fw-bold dodgerblue d-flex align-items-center">Your time is now:</div>
                </ion-col>
                <ion-col>
                   <div class="p-4 border border-dodgerblue bg-white"> {{ time }}</div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col>
            <div class="d-flex justify-content-between py-4 h-100">
              <div class="add-schedule my-0 ml-md-4 mr-md-2 mr-3 p-3 p-md-0 h-100 w-100 rounded bg-light-green white pointer "
                *ngIf="data" (click)='onClickAddSchedule()'>
               <div class="d-flex-column align-items-center justify-content-center  h-100 fs-2rem fw-light">
                  <i class="fal fa-calendar-plus fa-3x mb-4"></i>
                  Add Schedule
               </div>
              </div>
              <div class="add-dayoff m-0 ml-md-3 ml-2  p-3 p-md-0  h-100 w-100 rounded bg-light-orange white pointer "
               *ngIf="data" (click)="a.open('dayoff')">
               <div class="d-flex-column align-items-center justify-content-center   h-100 fs-2rem fw-light">
                  <i class="fal fa-calendar-minus fa-3x mb-4"></i>
                  Add Day off
               </div>
              </div>
            </div>
         </ion-col>
        </ion-row>
      </ion-grid>
      <!-- {{ schedules | json }} -->

      <div class="alert alert-warning" *ngIf="data && !data['promo_class']">
        {{data['promo_class_message']}}
      </div>

      <table width="100%" class="schedule-edit text-center my-3" *ngIf=" data ">
        <tr class="fw-bold">
          <td class="px-1 py-2">No.</td>
          <td class="px-1 py-2">Time</td>
          <td class="px-1 py-2">Min</td>
          <td class="px-1 py-2">Sun</td>
          <td class="px-1 py-2">Mon</td>
          <td class="px-1 py-2">Tue</td>
          <td class="px-1 py-2">Wed</td>
          <td class="px-1 py-2">Thu</td>
          <td class="px-1 py-2">Fri</td>
          <td class="px-1 py-2">Sat</td>
          <td class="px-1 py-2" colspan="2">Action</td>
        </tr>
        <tr *ngFor="let s of data.schedules; let odd = odd;" class="{{odd? 'bg-lightgrey':''}}" >
          <td class="px-1">{{ s.idx }}</td>
          <td class="px-1">{{s.user_time_class_begin}}</td>
          <td class="px-1">{{s.duration}}</td>
          <td class="px-1"><div *ngIf="s.user_time_days.sunday"><div class="prere">{{s.prere}}</div>{{s.point}}</div></td>
          <td class="px-1"><div *ngIf="s.user_time_days.monday"><div class="prere">{{s.prere}}</div>{{s.point}}</div></td>
          <td class="px-1"><div *ngIf="s.user_time_days.tuesday"><div class="prere">{{s.prere}}</div>{{s.point}}</div></td>
          <td class="px-1"><div *ngIf="s.user_time_days.wednesday"><div class="prere">{{s.prere}}</div>{{s.point}}</div></td>
          <td class="px-1"><div *ngIf="s.user_time_days.thursday"><div class="prere">{{s.prere}}</div>{{s.point}}</div></td>
          <td class="px-1"><div *ngIf="s.user_time_days.friday"><div class="prere">{{s.prere}}</div>{{s.point}}</div></td>
          <td class="px-1"><div *ngIf="s.user_time_days.saturday"><div class="prere">{{s.prere}}</div>{{s.point}}</div></td>
          <td class="edit buttons" (click)="onClickEditSchedule(s)" width="1%"><button class="primary m-2">Edit</button></td>
          <td class="delete buttons" (click)="onClickDelete(s.idx)" width="1%"><button class="warning my-2 mr-0">Delete</button></td>
        </tr>
      </table>

      <div *ngIf=" ! data ">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </div>



    </section>

  </div><!--/page-->
  <hook-content-bottom></hook-content-bottom>
</ion-content>
