<ion-header>
  <header-content></header-content>
</ion-header>
<ion-content>
  <div class="page">
    <hook-content-top></hook-content-top>

    <section class="page-header">
      <h2 class="title">{{ "TEACHER SCHEDULE" | translate }}</h2>
    </section>

    <section class="page-body">

      <div>
        <div>Your ID No.: {{ a.user.id }}</div>
        <div>Your timezone: {{ timezone_name }}</div>
        <div>Your time is now: {{ time }}</div>
        <div>
          <button ion-button class="add-schedule" *ngIf="data" (click)='onClickAddSchedule()'>Add Schedule</button>
          <button ion-button class="add-dayoff" *ngIf="data" (click)="a.open('dayoff')">Add Dayoff</button>
        </div>
      </div>
      <!-- {{ schedules | json }} -->


      <div class="alert alert-warning" *ngIf="data && !data['promo_class']">
        {{data['promo_class_message']}}
      </div>

      <table width="100%" class="schedule-edit text-center my-3" *ngIf=" data ">
        <tr class="fw-bold">
          <td class="px-1 py-2">No.</td>
          <td class="px-1 py-2">Time</td>
          <td class="px-1 py-2">Sun</td>
          <td class="px-1 py-2">Mon</td>
          <td class="px-1 py-2">Tue</td>
          <td class="px-1 py-2">Wed</td>
          <td class="px-1 py-2">Thu</td>
          <td class="px-1 py-2">Fri</td>
          <td class="px-1 py-2">Sat</td>
          <td class="px-1 py-2" colspan="2">Action</td>
        </tr>
        <tr *ngFor="let s of data.schedules; let odd = odd;" class="{{odd? 'bg-lightgrey':''}}" >
          <td class="px-1">{{ s.idx }}</td>
          <td class="px-1">{{s.user_time_class_begin}}</td>
          <td class="px-1"><div *ngIf="s.user_time_days.sunday">{{s.prere}} {{s.point}}</div></td>
          <td class="px-1"><div *ngIf="s.user_time_days.monday">{{s.prere}} {{s.point}}</div></td>
          <td class="px-1"><div *ngIf="s.user_time_days.tuesday">{{s.prere}} {{s.point}}</div></td>
          <td class="px-1"><div *ngIf="s.user_time_days.wednesday">{{s.prere}} {{s.point}}</div></td>
          <td class="px-1"><div *ngIf="s.user_time_days.thursday">{{s.prere}} {{s.point}}</div></td>
          <td class="px-1"><div *ngIf="s.user_time_days.friday">{{s.prere}} {{s.point}}</div></td>
          <td class="px-1"><div *ngIf="s.user_time_days.saturday">{{s.prere}} {{s.point}}</div></td>
          <td class="edit buttons" (click)="onClickEditSchedule(s)" width="1%"><button class="primary m-2">Edit</button></td>
          <td class="delete buttons" (click)="onClickDelete(s.idx)" width="1%"><button class="warning my-2 mr-0">Delete</button></td>
        </tr>
      </table>

      <div *ngIf=" ! data ">
        <i class="fa fa-spinner fa-spin"></i> Loading...
      </div>



    </section>

  </div><!--/page-->
  <hook-content-bottom></hook-content-bottom>
</ion-content>
