<ion-header>
  <ion-toolbar>
    <ion-title>ADD SCHEDULE</ion-title>
    <ion-buttons start>
      <button ion-button class="cancel" (click)="dismiss()">
        <span ion-text color="primary">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box mb-5 p-5 bg-indigo white">
    You can add schedule.
  </div>


  <div class="content p-3">


  <div>
      Your timezone: {{ timezone_name }}
      and your time is now: {{ time }}<br>
      <button ion-button class="update-tz" (click)="dismiss(); a.open('settings')">Update Timezone</button>
    </div>

    <div>
      Class Begin:
      <input class="w-8" type="text" name="class_begin_hour" [(ngModel)]="data.class_begin_hour"> :
      <input class="w-8" type="text" name="class_begin_minute" [(ngModel)]="data.class_begin_minute"> Ex) 12:30
    </div>

    <div>
      Class Duration:
      <input type="text" name="duration" [(ngModel)]="data.duration">
      <small class="muted">How many minutes do you want to have the class?</small>
    </div>

    <div>
      POINT:
      <input type="text" name="point" [(ngModel)]="data.point">
      <p>
        * If you think you are a good teacher, put 6,000 POINT for 25 minutes session.<br>
        * Our recommendation for 25 minutes session is 2,000 POINT.<br>
        * Our recommendation for native is 7,000 PIONT for 25 minutes session.
      </p>
    </div>
    <div class="alert alert-warning" *ngIf=" maxPoint() ">
      You cannot raise more than {{ max_point_per_minute }} per minute.
      The point for {{ data['duration'] }} minutes class must be less than or equal to {{ data['duration'] * max_point_per_minute }}
    </div>

    <table>
      <tr>
        <td>Sun</td>
        <td>Mon</td>
        <td>Tue</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
        <td>All</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="sunday" [(ngModel)]="data.sunday" (change)="allDays=false">
        </td>
        <td>
          <input type="checkbox" name="monday" [(ngModel)]="data.monday" (change)="allDays=false">
        </td>
        <td>
          <input type="checkbox" name="tuesday" [(ngModel)]="data.tuesday" (change)="allDays=false">
        </td>
        <td>
          <input type="checkbox" name="wednesday" [(ngModel)]="data.wednesday" (change)="allDays=false">
        </td>
        <td>
          <input type="checkbox" name="thursday" [(ngModel)]="data.thursday" (change)="allDays=false">
        </td>
        <td>
          <input type="checkbox" name="friday" [(ngModel)]="data.friday" (change)="allDays=false">
        </td>
        <td>
          <input type="checkbox" name="saturday" [(ngModel)]="data.saturday" (change)="allDays=false">
        </td>
        <td>
          <input type="checkbox" name="allDays" [(ngModel)]="allDays" (click)="onClickAllDays()">
        </td>

      </tr>
    </table>


    <div>
      PreRe:
      <input type="text" name="prere" [(ngModel)]="data.prere">
    </div>


    <div class="alert alert-info" *ngIf=" calculateEarning() ">
      You will earn
      {{ calculateEarning() }}
      peso in a month
      (
        {{ data.duration }} minutes /
        {{ countSelectedDays() * 4 }} days a month
        with
        <input type="radio" name="payment_method" [(ngModel)]="payment_method" value="paypal"> paypal or
        <input type="radio" name="payment_method" [(ngModel)]="payment_method" value="western-union"> western union
        )

      Approximately.
      @see Policy

    </div>

    <button ion-button type="submit" (click)="onSubmit()">Submit</button>

  </div>


</ion-content>
