<ion-header>
  <ion-toolbar>
    <ion-title>ADD SCHEDULE</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box mb-5 p-5 bg-indigo white">
    You can add schedule.
  </div>


  <div class="content p-3">


  <div>
      Your timezone: {{ timezone_name }}
      and your time is now: {{ time }}
      <button ion-button (click)="dismiss(); a.open('settings')">Update Timezone</button>
    </div>

    <div>
      Class Begin:
      <input class="w-5" type="text" name="point" [(ngModel)]="data.class_begin_hour"> :
      <input class="w-5" type="text" name="point" [(ngModel)]="data.class_begin_minute"> Ex) 12:30
    </div>


    <div>
      Class Duration:
      <input type="text" name="point" [(ngModel)]="data.duration">
      <small class="muted">How many minutes do you want to have the class?</small>
    </div>




    <div>
      POINT:
      <input type="text" name="point" [(ngModel)]="data.point">
    </div>
    <table>
      <tr>
        <td>Sun</td>
        <td>Mon</td>
        <td>Tue</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
        <td>All</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="sunday" [(ngModel)]="data.sunday" (change)="allDays=false">
        </td>
        <td>
          <input type="checkbox" name="monday" [(ngModel)]="data.monday" (change)="allDays=false">
        </td>
        <td>
          <input type="checkbox" name="tuesday" [(ngModel)]="data.tuesday" (change)="allDays=false">
        </td>
        <td>
          <input type="checkbox" name="wednesday" [(ngModel)]="data.wednesday" (change)="allDays=false">
        </td>
        <td>
          <input type="checkbox" name="thursday" [(ngModel)]="data.thursday" (change)="allDays=false">
        </td>
        <td>
          <input type="checkbox" name="friday" [(ngModel)]="data.friday" (change)="allDays=false">
        </td>
        <td>
          <input type="checkbox" name="saturday" [(ngModel)]="data.saturday" (change)="allDays=false">
        </td>
        <td>
          <input type="checkbox" name="allDays" [(ngModel)]="allDays" (click)="onClickAllDays()">
        </td>

      </tr>
    </table>


    <div>
      PreRe:
      <input type="text" name="point" [(ngModel)]="data.prere">
    </div>


    <input type="submit" value="submit" (click)="onSubmit()">

  </div>


</ion-content>
