.form-effect{
  label{transition: all 0.2s ease-in-out}

  .label-first{order: -1!important}
  .focus-effect{
    transition: all 0.2s ease-in-out;
    &:focus{
      border:1px solid rgba(#007bff,0.5)!important;
    }
    &:focus+label:nth-of-type(1){
      color:#007bff!important;
    }
  }
}

.checkbox-effect{
  &+div{  transition: all 0.2s ease-in-out;}
  &:checked+div{
    background:  rgba(#007bff,0.1)!important;
    border-color: #007bff!important;
  }
  
  &:hover+div,&:focus+div{
    border-color: #007bff!important;
  }
}

.opacity-0{opacity: 0!important}
.border-darkorange{border-color:darkorange!important}
.border-bottom{border-bottom: 1px solid #e2e2e2!important}
.border-silver{border-color: #e2e2e2!important}