<ion-header>
  <ion-toolbar class="px-5" color="blue">
    <ion-grid no-padding>
      <ion-row align-items-center >
        <ion-col>
          <ion-title class="p-0">
            <span class="fw-bold fs-90">ADD SCHEDULE</span>
          </ion-title>
        </ion-col>
        <ion-col text-right col-md-2>
          <button class="p-0"  icon-end  ion-button clear small color="white" (click)="dismiss()">
            <span class="text-uppercase fw-light">{{'CLOSE'| translate}}</span><ion-icon name="close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- <div class="box mb-2 p-5 bg-indigo white">
    You can add schedule.
  </div> -->

  <div class="content h-100 d-flex-column align-items-center justify-content-even px-md-5 px-3">

        <div class=" py-2">
            <div class="m-0 p-0 ">Promo Schedule Graded Teacher must have.</div>
            <ul  class=" m-0">
                <li class="mt-2"><b class="darkorange"> 1 schedule</b> with <b class="darkorange">10mins</b> duration for <b class="darkorange">500 points</b> and must be from <b class="darkorange">Mon-Fri</b></li>
                <li class="mt-2"><b class="darkorange"> 1 schedule</b> with <b class="darkorange">20mins</b> duration for <b class="darkorange">1000 points</b> and must be from <b class="darkorange">Mon-Fri</b></li>
            </ul>
        </div>

    <ion-grid class="border border-right-0 border-left-0" no-padding>
        <ion-row  class=" py-3">
            <ion-col>
                <div class="mx-0 py-0"> ({{ timezone_offset > 0 ? "+" + timezone_offset : timezone_offset }}) {{ timezone_name }}</div>
            </ion-col>
            <ion-col>
                <div class="mx-0 py-0 text-center text-md-left"> {{ time }}</div>
            </ion-col>
            <ion-col col-md-3>
                <button class="update-tz p-0 m-0 pointer bg-white" ion-text color="blue" (click)="dismiss(); a.open('settings')">Update Timezone</button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="mt-2 mt-md-0" no-padding>
        <ion-row class="form-effect  py-2" align-items-center>
            <ion-col class="d-none d-md-block">
                    <div>Start Time</div>
            </ion-col>
            <ion-col class="d-flex">
                <label class="d-flex align-items-center">
                  <span class="mr-2 mr-md-1">Hour</span>
                <input class="focus-effect w-20 p-2 rounded-2" placeholder="0-23" type="text" name="class_begin_hour" [(ngModel)]="data.class_begin_hour">
                <span class="mx-2 mx-md-1 fw-bold">:</span>
                  <span class="mr-2 mr-md-1"> Min</span>
                <input class="focus-effect w-20 p-2 rounded-2" placeholder="0-60" type="text" name="class_begin_minute" [(ngModel)]="data.class_begin_minute">
              </label>
            </ion-col>
            <ion-col col-md-3 col-4>
                    <div class="fs-lg"> Ex) 20:30=8:30pm, 11:30= 11:30am </div>
            </ion-col>
        </ion-row>
    </ion-grid>

        <ion-grid no-padding>
            <ion-row class="form-effect py-2" align-items-center>
                <ion-col class="d-none d-md-block">
                        <div> Duration</div>
                </ion-col>
                <ion-col>
                    <ion-grid no-padding>
                        <ion-row class="pr-md-5 pr-3" align-items-center>
                            <ion-col col-md-7 push-md-5>
                                <input class="focus-effect w-100 p-2 rounded-2"  type="text"  name="duration" [(ngModel)]="data.duration">
                            </ion-col>
                            <ion-col  col-md-5 pull-md-7>
                                <div class="h-100 ml-3 ml-md-0">Min<span class="d-inline d-md-none">(Duration)</span></div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
                <ion-col col-md-3>
                        <div class="fs-lg">Ex) 120=120mins(2hrs)</div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid no-padding>
                <ion-row class="form-effect pt-2 pb-3 pb-md-2" align-items-center>
                    <ion-col class="d-none d-md-block">
                            <div> Points</div>
                    </ion-col>
                    <ion-col>
                        <ion-grid no-padding>
                            <ion-row class="pr-md-5 pr-3" align-items-center>
                                <ion-col col-md-7 push-md-5 >
                                    <input class="focus-effect w-100 p-2 rounded-2" type="text" name="point" [(ngModel)]="data.point">
                                </ion-col>
                                <ion-col col-md-5 pull-md-7 >
                                    <div class="h-100 ml-3 ml-md-0">
                                       <span class="d-block d-md-none">Points</span>
                                       <span class="d-none d-md-block">Quantity</span>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                    <ion-col col-md-3>
                            <div class="fs-lg">   Ex) 500,1000,2000 ... </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

    <div class="alert alert-warning m-0 py-1 px-2" *ngIf=" maxPoint() ">
        You cannot raise more than {{ max_point_per_minute }} per minute.
        The point for {{ data['duration'] }} minutes class must be less than or equal to {{ data['duration'] *
        max_point_per_minute }}
      </div>
  
  
      <div class="alert alert-info m-0  py-1 px-2" *ngIf=" calculateEarning() ">
        You will earn
        {{ calculateEarning() }}
        peso in a month
        (
        {{ data.duration }} minutes /
        {{ countSelectedDays() * 4 }} days a month
        with
        <input type="radio" name="payment_method" [(ngModel)]="payment_method" value="paypal"> paypal or
        <input type="radio" name="payment_method" [(ngModel)]="payment_method" value="western-union"> western union
        )
  
        Approximately.
        @see Policy
  
      </div>

      <ion-grid no-padding>
          <ion-row class="form-effect" align-items-center>
              <ion-col col-12 col-md-6  text-center>
                  <div class="d-flex-column align-items-center justify-content-center h-100">
                      <input class="focus-effect p-2 rounded-2 mt-2 mb-0"  type="text" name="prere" [(ngModel)]="data.prere">
                      <label class="label-first">Student Email</label>
                  </div>
            </ion-col>
              <ion-col col-12 col-md-6>
                      <div class="mt-2 mt-md-0 h-100 pl-3 py-0 pr-0 darkorange d-flex align-items-center justify-content-center" text-center text-md-left>
                         You can make the schedule limited to specific student, by adding the student email here. 
                        </div>
              </ion-col>
          </ion-row>
      </ion-grid>


        <ion-grid no-padding>
          <ion-row justify-content-between text-center>
            <ion-col class="mt-3 mt-md-0">
                <label>
                    <input class="position-absolute opacity-0 checkbox-effect"  type="checkbox" name="sunday" [(ngModel)]="data.sunday" (change)="allDays=false">
                        <div class="px-3 border py-2 mr-1 pointer">Sun</div>
                  </label>
            </ion-col>
            <ion-col class="mt-3 mt-md-0">
                <label>
                    <input class="position-absolute opacity-0 checkbox-effect"  type="checkbox" name="monday" [(ngModel)]="data.monday" (change)="allDays=false">
                        <div class="px-3 border py-2 mx-1 pointer">Mon</div>
                  </label>
            </ion-col>
            <ion-col class="mt-3 mt-md-0">
                <label>
                    <input class="position-absolute opacity-0 checkbox-effect"  type="checkbox" name="tuesday" [(ngModel)]="data.tuesday" (change)="allDays=false">
                        <div class="px-3 border py-2 mx-1 pointer">Tue</div>
                  </label>
            </ion-col>
            <ion-col class="mt-3 mt-md-0">
                <label>
                    <input class="position-absolute opacity-0 checkbox-effect"  type="checkbox" name="wednesday" [(ngModel)]="data.wednesday" (change)="allDays=false">
                        <div class="px-3 border py-2 mx-1 pointer">Wed</div>
                  </label>
            </ion-col>
            <ion-col class="mt-3 mt-md-0">
                <label>
                    <input class="position-absolute opacity-0 checkbox-effect"  type="checkbox" name="thursday" [(ngModel)]="data.thursday" (change)="allDays=false">
                        <div class="px-3 border py-2 mx-1 pointer">Thu</div>
                  </label>
            </ion-col>
            <ion-col class="mt-3 mt-md-0">
                <label>
                    <input class="position-absolute opacity-0 checkbox-effect"  type="checkbox" name="friday" [(ngModel)]="data.friday" (change)="allDays=false">
                        <div class="px-3 border py-2 mx-1 pointer">Fri</div>
                  </label>
            </ion-col>
            <ion-col class="mt-3 mt-md-0">
                <label>
                    <input class="position-absolute opacity-0 checkbox-effect"  type="checkbox" name="saturday" [(ngModel)]="data.saturday" (change)="allDays=false">
                        <div class="px-3 border py-2 mx-1 pointer">Sat</div>
                  </label>
            </ion-col>
            <ion-col class="mt-3 mt-md-0">
                <label>
                    <input class="position-absolute opacity-0 checkbox-effect" type="checkbox" name="allDays" [(ngModel)]="allDays" (click)="onClickAllDays()">
                        <div class="px-3 border py-2 ml-1 pointer">All</div>
                  </label>
            </ion-col>
          </ion-row>
        </ion-grid>
    <div text-center>
        <button class="px-5 py-4" small outline ion-button type="submit" (click)="onSubmit()">Submit</button>
    </div>

        <!-- <ion-grid class="border-top py-5" no-padding>
      <ion-row align-items-center>
        <ion-col col-md-9>
          <ion-grid no-padding>
            <ion-row class="mb-3" text-left>
              <ion-col col-md-4>
                <div class="py-4 px-2 bg-dodgerblue white" text-center>Your timezone:</div>
              </ion-col>
              <ion-col text-center>
                <div class="py-4 px-2"> ({{ timezone_offset > 0 ? "+" + timezone_offset : timezone_offset }}) {{ timezone_name }}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-md-4>
                <div class="py-4 px-2 bg-dodgerblue white" text-center>Your time is now:</div>
              </ion-col>
              <ion-col text-center>
                <div class="py-4 px-2"> {{ time }}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col col-md-3>
          <div>
            <button class="update-tz" ion-button block (click)="dismiss(); a.open('settings')">Update Timezone</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    <!--
    <ion-grid class="py-5 border-top" no-padding>
      <ion-row align-items-center>
        <ion-col col-md-9>
          <ion-grid no-padding>
            <ion-row class="mb-3" align-items-center>
              <ion-col col-md-4>
                <div class="py-4 px-2 bg-dodgerblue white" text-center>Class Begin</div>
              </ion-col>
              <ion-col class="form-effect">
                <div class="d-flex justify-content-around px-2">
                  <div class="d-flex align-items-center"><input class="focus-effect w-20 p-2 rounded-2" placeholder="0-23" type="text" name="class_begin_hour" [(ngModel)]="data.class_begin_hour"><label class="label mr-3">Hour:</label></div>
                  <div class="d-flex align-items-center"><input class="focus-effect w-20 p-2 rounded-2" placeholder="0-60" type="text" name="class_begin_minute" [(ngModel)]="data.class_begin_minute"><label class="label mr-3">Min</label></div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col col-md-3>
          <div> Ex) 8:30= 8:30am, 11:30= 11:30am, 15:00= 3:00pm, 20:00=8:00pm </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="py-5 border-top" no-padding>
      <ion-row align-items-center>
        <ion-col col-md-9>
          <ion-grid no-padding>
            <ion-row class="mb-3" align-items-center>
              <ion-col col-md-4>
                <div class="py-4 px-2 bg-dodgerblue white" text-center>Class Duration</div>
              </ion-col>
              <ion-col class="form-effect">
                <div class="d-flex align-items-center justify-content-center"><input class="focus-effect w-20 p-2 rounded-2"  type="text"  name="duration" [(ngModel)]="data.duration"><label class="label mr-3">How many minutes?</label></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col col-md-3>
          <div>  Ex) 10 = 10mins class, 25 = 25mins class, 120= 120mins(2hrs) class. </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="py-5 border-top" no-padding>
      <ion-row align-items-center>
        <ion-col col-md-9>
          <ion-grid no-padding>
            <ion-row class="mb-3" align-items-center>
              <ion-col col-md-4>
                <div class="py-4 px-2 bg-dodgerblue white" text-center>Points</div>
              </ion-col>
              <ion-col class="form-effect">
                <div class="d-flex align-items-center justify-content-center"><input class="focus-effect w-20 p-2 rounded-2" type="text" name="point" [(ngModel)]="data.point"><label class="label mr-3">How many points?</label></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col col-md-3>
          <div>   Ex) 500,1000,2000,2500,3000,4000,5000... </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="py-5 border-top" no-padding>
      <ion-row justify-content-between text-center>
        <ion-col>
          <label>
            <input class="position-absolute opacity-0 checkbox-effect"  type="checkbox" name="sunday" [(ngModel)]="data.sunday" (change)="allDays=false">
            <div class="px-3 border py-2 mx-1 pointer">Sun</div>
          </label>
        </ion-col>
        <ion-col>
          <label>
            <input class="position-absolute opacity-0 checkbox-effect"  type="checkbox" name="monday" [(ngModel)]="data.monday" (change)="allDays=false">
            <div class="px-3 border py-2 mx-1 pointer">Mon</div>
          </label>
        </ion-col>
        <ion-col>
          <label>
            <input class="position-absolute opacity-0 checkbox-effect"  type="checkbox" name="tuesday" [(ngModel)]="data.tuesday" (change)="allDays=false">
            <div class="px-3 border py-2 mx-1 pointer">Tue</div>
          </label>
        </ion-col>
        <ion-col>
          <label>
            <input class="position-absolute opacity-0 checkbox-effect"  type="checkbox" name="wednesday" [(ngModel)]="data.wednesday" (change)="allDays=false">
            <div class="px-3 border py-2 mx-1 pointer">Wed</div>
          </label>
        </ion-col>
        <ion-col>
          <label>
            <input class="position-absolute opacity-0 checkbox-effect"  type="checkbox" name="thursday" [(ngModel)]="data.thursday" (change)="allDays=false">
            <div class="px-3 border py-2 mx-1 pointer">Thu</div>
          </label>
        </ion-col>
        <ion-col>
          <label>
            <input class="position-absolute opacity-0 checkbox-effect"  type="checkbox" name="friday" [(ngModel)]="data.friday" (change)="allDays=false">
            <div class="px-3 border py-2 mx-1 pointer">Fri</div>
          </label>
        </ion-col>
        <ion-col>
          <label>
            <input class="position-absolute opacity-0 checkbox-effect"  type="checkbox" name="saturday" [(ngModel)]="data.saturday" (change)="allDays=false">
            <div class="px-3 border py-2 mx-1 pointer">Sat</div>
          </label>
        </ion-col>
        <ion-col>
          <label>
            <input class="d-none checkbox-effect" type="checkbox" name="allDays" [(ngModel)]="allDays" (click)="onClickAllDays()">
            <div class="px-3 border py-2 mx-1 pointer">All</div>
          </label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class=" mt-4 mb-5 border p-3">
      <h4 class="fw-light">Promo Schedule Graded Teacher must have.</h4>
      <ul  class="fw-light">
        <li class="mt-4"><b>2</b> schedule with <b>10mins</b> duration for <b>500points</b> and minimum of <b>5days</b></li>
        <li class="mt-4"><b>2</b> schedule with <b>20mins</b> duration for <b>1000points</b> and minimum of <b>5days</b></li>
        <li class="mt-4"><b>2</b> schedule with <b>25mins</b>  duration for <b>2500points</b> and minimum of <b>5days</b></li>
      </ul>
    </div>
-->
    <!-- <div class="alert alert-warning mb-2" *ngIf=" maxPoint() ">
      You cannot raise more than {{ max_point_per_minute }} per minute.
      The point for {{ data['duration'] }} minutes class must be less than or equal to {{ data['duration'] *
      max_point_per_minute }}
    </div>

    <ion-grid class="py-5 border-top" no-padding>
      <ion-row align-items-center>
        <ion-col col-md-9>
          <ion-grid no-padding>
            <ion-row align-items-center>
              <ion-col col-md-4>
                <div class="py-4 px-2 bg-dodgerblue white" text-center>PreRe</div>
              </ion-col>
              <ion-col class="form-effect">
                <div class="d-flex-column align-items-center justify-content-center"><input class="focus-effect p-2 rounded-2 mt-2"  type="text" name="prere" [(ngModel)]="data.prere"><label class="label">Student Email</label></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col col-md-3>
          <div>  If you want to make the schedule limited to specific student, you can add the student email here. </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="alert alert-info" *ngIf=" calculateEarning() ">
      You will earn
      {{ calculateEarning() }}
      peso in a month
      (
      {{ data.duration }} minutes /
      {{ countSelectedDays() * 4 }} days a month
      with
      <input type="radio" name="payment_method" [(ngModel)]="payment_method" value="paypal"> paypal or
      <input type="radio" name="payment_method" [(ngModel)]="payment_method" value="western-union"> western union
      )

      Approximately.
      @see Policy

    </div>
    <div class="pt-5 pb-3 border-top" text-center>
      <button class="px-5 py-4" ion-button type="submit" (click)="onSubmit()">Submit</button>
    </div> -->
  </div>
</ion-content>
