<ion-header>
  <ion-toolbar>
    <ion-title>{{ data.idx ? "STUDENT COMMENT UPDATE" : "STUDENT COMMENT CREATE"  | translate}}</ion-title>
    <ion-buttons start>
      <button ion-button class="cancel" (click)="onClickCancel()">
        <span ion-text color="primary">{{ "CLOSE" | translate}}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-item>
      <ion-textarea class="w-100" rows="10" [(ngModel)]="comment" placeholder="{{ 'RATE COMMENT' | translate }}"></ion-textarea>
    </ion-item>
    <ion-item>
      {{ 'RATING' | translate }} : {{rate}}
      <span *ngIf="rate < 1" (click)="rate=1"><i class="fal fa-star"></i></span>
      <span *ngIf="rate >= 1" (click)="rate=1"><i class="fas fa-star"></i></span>

      <span *ngIf="rate < 2" (click)="rate=2"><i class="fal fa-star"></i></span>
      <span *ngIf="rate >= 2" (click)="rate=2"><i class="fas fa-star"></i></span>

      <span *ngIf="rate < 3" (click)="rate=3"><i class="fal fa-star"></i></span>
      <span *ngIf="rate >= 3" (click)="rate=3"><i class="fas fa-star"></i></span>

      <span *ngIf="rate < 4" (click)="rate=4"><i class="fal fa-star"></i></span>
      <span *ngIf="rate >= 4" (click)="rate=4"><i class="fas fa-star"></i></span>

      <span *ngIf="rate < 5" (click)="rate=5"><i class="fal fa-star"></i></span>
      <span *ngIf="rate >= 5" (click)="rate=5"><i class="fas fa-star"></i></span>
    </ion-item>
    <ion-item text-wrap>
      <div>{{ 'STUDENT RATE COMMENT' | translate }}</div>
    </ion-item>
  </ion-list>
<div class="px-3">
  <button ion-button type="button" (click)="onClickSubmit()">{{ 'SUBMIT' | translate }}</button>
  <button ion-button type="button" color="secondary"  (click)="onClickCancel()">{{ 'CANCEL' | translate }}</button>
</div>
</ion-content>

