<ion-header>
    <ion-grid class="bg-dodgerblue" no-padding>
      <ion-row align-items-center>
        <ion-col col-7 col-md-6>
          <ion-title class="p-0">
            <span class="p-5 fs-90 white">{{ data.idx ? "STUDENT COMMENT UPDATE" : "STUDENT COMMENT CREATE"  | translate}}</span>
          </ion-title>
        </ion-col>
        <ion-col class="d-flex justify-content-end" col-5 col-md-6>
          <button class="m-0 p-5" icon-end ion-button color="white" clear small  (click)="onClickCancel()">
            <span class="text-uppercase">{{'CLOSE'| translate}}</span>
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>
<ion-content class="bg-ghostwhite">
  <div class="p-5">
    <div class="mb-3 py-3 bg-white text-center">
      <div class="text-uppercase fs-3rem fw-light">{{ 'RATING' | translate }} : {{rate}}</div>
      <div class="hover-icon-color-effect my-3">
              <span *ngIf="rate < 1 " (click)="rate=1">
                <i class="pointer fal fa-star fa-3x"></i>
              </span>
        <span *ngIf="rate >= 1" (click)="rate=1">
                <i class="pointer fas fa-star fa-3x"></i>
              </span>

        <span *ngIf="rate < 2" (click)="rate=2">
                <i class="pointer fal fa-star fa-3x"></i>
              </span>
        <span *ngIf="rate >= 2 " (click)="rate=2">
                <i class="pointer fas fa-star fa-3x"></i>
              </span>

        <span *ngIf="rate < 3" (click)="rate=3">
                <i class="pointer fal fa-star fa-3x"></i>
              </span>
        <span *ngIf="rate >= 3" (click)="rate=3">
                <i class="pointer fas fa-star fa-3x"></i>
              </span>

        <span *ngIf="rate < 4" (click)="rate=4">
                <i class="pointer fal fa-star fa-3x"></i>
              </span>
        <span *ngIf="rate >= 4" (click)="rate=4">
                <i class="pointer fas fa-star fa-3x"></i>
              </span>

        <span *ngIf="rate < 5" (click)="rate=5">
                <i class="pointer fal fa-star fa-3x"></i>
              </span>
        <span *ngIf="rate >= 5" (click)="rate=5">
                <i class="pointer fas fa-star fa-3x"></i>
              </span>
      </div>
    </div>
    <div class="mb-3 p-3 bg-white">
      <textarea class="input-effect p-3 w-100 border border-grey rounded-2" rows="10" [(ngModel)]="comment"
                placeholder="{{ 'RATE COMMENT' | translate }}"></textarea>
      <div class="py-3 px-4"><b> NOTE:</b> {{ 'STUDENT RATE COMMENT' | translate }}</div>
    </div>
    <div class="mb-3 py-3 bg-white text-center">
      <button class="hover-effect  mx-1 py-3 px-4  fs-110 rounded-2 bg-dodgerblue white" type="button"
              (click)="onClickSubmit()">
        <span *ngIf="loading"><i class="fa fa-spinner fa-spin mr-2"></i>Loading...</span>
        <span *ngIf="!loading">{{ 'SUBMIT' | translate }}</span>
      </button>
      <button class="hover-effect mx-1 py-3  px-4 bg-lightgrey red fs-110" type="button" (click)="onClickCancel()">{{
        'CANCEL' | translate }}
      </button>
    </div>
  </div>
</ion-content>

