<ion-grid class="mb-5 my-md-0 p-0">
    <ion-row>
        <ion-col class="cover-by-4 d-flex flex-column justify-content-center align-items-center py-5 py-md-0 bg-blue " col-md-6 >
            <div class="fw-bold fs-2dot6rem" ion-text color="white">{{no_teachers}}</div>
            <div ion-text color="white">Teachers</div>
        </ion-col>
        <ion-col class="cover-by-4 d-flex flex-column justify-content-center align-items-center py-5 py-md-0 bg-blue-80 " col-md-6>
            <div class="fw-bold fs-2dot6rem" ion-text color="white">{{no_students}}</div>
            <div ion-text color="white">Students</div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="cover-by-4 d-flex flex-column justify-content-center align-items-center py-5 py-md-0 bg-blue-60 " col-md-6>
            <div  class="fw-bold fs-2dot6rem" ion-text color="white">{{no_reservations}}</div>
            <div ion-text color="white">Reservations</div>
        </ion-col>
        <ion-col class="cover-by-4 d-flex flex-column justify-content-center align-items-center py-5 py-md-0 bg-blue-40 " col-md-6>
            <div class="fw-bold fs-2dot6rem" ion-text color="white">{{no_pasts}}</div>
            <div ion-text color="white">Past</div>
        </ion-col>
    </ion-row>
</ion-grid>
<!-- <ion-grid class="p-0 mb-5 mb-md-0 rounded font">
    <ion-row>
        <ion-col class="cover-by-4 bg-blue d-flex flex-column justify-content-center align-items-center" col-md-6 >
            <div class="fw-bold fs-3rem" ion-text color="white">{{no_teachers}}</div>
            <div ion-text color="white">Teachers</div>
        </ion-col>
        <ion-col class="cover-by-4 bg-blue-80 d-flex flex-column justify-content-center align-items-center" col-md-6>
            <div class="fw-bold fs-3rem" ion-text color="white">{{no_students}}</div>
            <div ion-text color="white">Students</div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="cover-by-4 bg-blue-60 d-flex flex-column justify-content-center align-items-center" col-md-6>
            <div  class="fw-bold fs-3rem" ion-text color="white">{{no_reservations}}</div>
            <div ion-text color="white">Reservations</div>
        </ion-col>
        <ion-col class="cover-by-4 bg-blue-40 d-flex flex-column justify-content-center align-items-center" col-md-6>
            <div class="fw-bold fs-3rem" ion-text color="white">{{no_pasts}}</div>
            <div ion-text color="white">Past</div>
        </ion-col>
    </ion-row>
</ion-grid> -->