<ion-header>
  <ion-toolbar class="px-5" color="blue">
    <ion-grid no-padding>
      <ion-row align-items-center >
        <ion-col>
          <ion-title class="p-0">
          <span class="fw-bold"> TERMS AND CONDITION</span>
        </ion-title>
      </ion-col>
        <ion-col text-right col-md-2>
            <button class="p-0"  icon-end  ion-button clear small color="white" (click)="dismiss()">
                <span class="text-uppercase fw-light">{{'CLOSE'| translate}}</span><ion-icon name="close"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="p-5" id="teacher-policy">
    <h1 class="fs-110 m-0 fw-light border d-inline-block border-dodgerblue rounded-2 dodgerblue py-3 px-4">TERMS AND CONDITION</h1>
    <p class="fw-light fs-110 line-height-1-8em mt-4 mb-5 border  p-5">The terms and conditions in this page explain the agreement between OnTue and you.</p>
    <h2 class="fs-110 m-0 fw-light border d-inline-block border-dodgerblue rounded-2 dodgerblue py-3 px-4 mt-5"  ion-text color="blue">TERMS</h2>
    <p class="fw-light fs-110 mt-4 mb-5 border p-5">* Cutoff Period of payable dates.</p>

    <h2 class="fs-110 m-0 fw-light border d-inline-block border-dodgerblue rounded-2 dodgerblue py-3 px-4 mt-5"  ion-text color="blue">CONDITION</h2>
    <div class=" border  p-4  mt-4 mb-5">
        <ul class="fw-light fs-110 line-height-1-8em px-5">
            <li>Teachers can freely register and set up profile, open schedules.</li>

            <li class="mt-5">Trial session is a common practice and it helps Teachers to gain more Students.</li>

            <li class="mt-5">Students can have two trial sessions to each Teacher but maximum of 5 test sessions all in all.</li>

            <li class="mt-5">Teachers must record the session. It is very important matter.</li>

            <li class="mt-5">If a Teacher fails on hand over the record of the session,</li>

            <li class="mt-5">Company will not only accept the request from Students but also pull back the grade of the Teacher</li>

            <li class="mt-5">Students can request point refund of the session when they think they have right.</li>

            <li class="mt-5">Company will, then, ask the session record to Teacher and decide what to do after watching the session.</li>

            <li class="mt-5">Company can give a higher grade to a Teacher than other Teachers.</li>

            <li class="mt-5">Teachers who have higher grade will have better chance for their profile to be display to Students.</li>
          </ul>
    </div>

    <div>

    <h2 class="fs-110 m-0 fw-light border d-inline-block border-dodgerblue rounded-2 dodgerblue py-3 px-4 mt-5" ion-text color="blue">Bookable Time</h2>
    <p class="fw-light fs-110  line-height-1-8em  mt-4 mb-5 border p-5">
      Bookable time is an time interval to prevent a sudden booking by student.
      The input unit is minutes.
      If you put numbre 1 in bookable time, it means, student cannot book(reserve) your schedule that would begin in 1 minutes.
      Teachers who wants to be offline often should put 60 or more minutes.
      But those teacher who put longer bookable time gets less booking because their schedule may not appear on 'immediate booking' menu.
    </div>


    <h2 class="fs-110 m-0 fw-light border d-inline-block border-dodgerblue rounded-2 dodgerblue py-3 px-4 mt-5"  ion-text color="blue">SESSION CANCELLATION</h2>
    <p class="fw-light fs-110  mt-4 mb-5 border p-5">Teachers can cancel their reserve sessions.</p>



    <h2 class="fs-110 m-0 fw-light border d-inline-block border-dodgerblue rounded-2 dodgerblue py-3 px-4 mt-5"  ion-text color="blue">PAYMENT</h2>
    <p class="fw-light fs-110  line-height-1-8em  mt-4 mb-5 border  p-5">
      * Payment is on every 7th and 22nd.
      ** Teachers will get their payment on every 22nd for the cutoff between 1st and 15th of the month.
      ** Teachers will get their payment on every 7th for the cutoff between 16th and the last day of previous month.
      ** Sessions in Refund progress will be paid on next cutoff if it is settled.
      ** Sessions with no evaluation will be paid on next cutoff if it is evaluated.
      * Teachers can choose a payment method between paypal, gcash, western union.
      ** If a Teacher choose Western Union as his payment to be delivered, then the teacher must pay for Western Union Transaction fee since it is every expensive.
      ** Transaction fee of paypal, gcash will be held by Company.
      * If payment information of a Teacher is incorrect, then the teacher will get his payment on next cutoff if he settled the problem.
      * Payments less than 100 pesos or 2 USD dollars will be added to next cutoff.
    </p>



    <h2 class="fs-110 m-0 fw-light border d-inline-block border-dodgerblue rounded-2 dodgerblue py-3 px-4 mt-5"  ion-text color="blue">POINT REFUND</h2>
    <p class="fw-light fs-110 mt-4 mb-5 border  line-height-1-8em p-5">* If a teacher failed to submit class record on the request of admin in 24 working hours, the point of session will be returned
    to the student.
    <span class="mt-5 d-block"> * If a teacher does not turn on his camera, the point of the session will be returned to the student.</span>
    <span class="mt-5 d-block"> * If a session has been failed due to any incidents that are occurred on teacher's side, the point of the session will
    be refunded.</span>
    <span class="mt-5 d-block">* Point of failure sessions that are not caused by student will be refunded. For instance, the internet
    cable under the sea was corrupted. And teacher cannot connect to student. It's not teacher's fault. The problem has occurred
    by the nature. But we need to protect our valuable customers. We will refund any session that has failed if that is not
    student's fault.</span>
    </p>

    <h2 class="fs-110 m-0 fw-light border d-inline-block border-dodgerblue rounded-2 dodgerblue py-3 px-4 mt-5"  ion-text color="blue">TEACHING ENVIRONMENT</h2>
    <div class="mt-4 mb-5 border p-4">
      <ul class="fw-light fs-110 line-height-1-8em px-5">
        <li class="mt-4">We don't consider a teacher as a good who teaches very well.</li>
        <li class="mt-4">
          We consider a teacher as a good teacher * If he has a good internet, headset, clam space ( no one and nothing interrupts.
          ) * If he speak very slow and smiles all the time. Most of all, who have a very good relationship with students.
          that's what we say good teacher or best teacher.

        </li>
      </ul>
    </div>

    <h2 class="fs-110 m-0 fw-light border d-inline-block border-dodgerblue rounded-2 dodgerblue py-3 px-4 mt-5"  ion-text color="blue">THE FIRST CLASS</h2>
    <div class=" mt-4 mb-5 border  p-4">
        <ul class="fw-light fs-110 line-height-1-8em px-5">
            <li class="mt-4">The first class may be or may NOT be a free class.</li>
            <li class="mt-4">When it is a free class, it means student is new to our service and the student is giving a trial</li>
            <li class="mt-4">NOT only our system but also How the teacher is.</li>
            <li class="mt-4">It is a big chance for you to have a new student</li>
            <li class="mt-4">when you have a free class</li>
            <li class="mt-4">since free class means that the student has not decided yet to study with which teacher.</li>
            <li class="mt-4">You must be very careful to win this session.</li>
            <li class="mt-4">Smile. Speak Slowly. And you will win.</li>

        </ul>
    </div>

    <h2 class="fs-110 m-0 fw-light border d-inline-block border-dodgerblue rounded-2 dodgerblue py-3 px-4 mt-5"  ion-text color="blue">RULES ON CONDUCTING A SESSION</h2>
    <div class=" mt-4 mb-5 border p-4">
        <ul  class="fw-light fs-110  line-height-1-8em px-5">
            <li class="mt-4">
              Teacher must add the student's kakao as his friend and must be able to communicate before class time. If the teacher did
              not contact with the student, the teacher must cancel the session.

            </li>

            <li class="mt-4">
              Do not send book in class time. Students are using smart phones. It is extremely difficult to open a book while doing video
              chat. If teacher asks the receive books, student will go in panic. So, it is bad idea sending books in class time.
              Teacher must send books before class time or after class time. Teacher will know if student is using smart phone
              or computer by watching their video.
            </li>

            <li class="mt-4">
              Winning Point!
              <br> It is proven that if a teacher smile all the time and speak very slowly, the teacher will win on online video education.

            </li>

            <li class="mt-4">
              Communication. What we are doing is communication after all. Teaching and learning comes after the teacher and student build
              a good relationship. Try to communicate with your students. The first class which may be a free class with a student
              is very important give a good impression and you are a good communicator and you can have a good relationship.

            </li>

            <li class="mt-4">

              Student cannot open the book. Teacher must send the book before class time. It is better that teacher send book(s) to the
              student for 1 month. Teacher must know student is using Mobile or Desktop. If student is using Mobile, then teacher
              must ask the student to read the book before the class time since the student could not open the book. If student
              is using Desktop, then the teacher may ask the student to open the book.

            </li>

          </ul>
    </div>

    <h2 class="fs-110 m-0 fw-light border d-inline-block border-dodgerblue rounded-2 dodgerblue py-3 px-4 mt-5"  ion-text color="blue">GRADING SYSTEM</h2>
    <div class=" mt-4 mb-5 border p-4">
      <ul  class="fw-light fs-110  line-height-1-8em px-5">
        <li class="mt-4">
          Good teacher will have grade 1. Again, as we explain above, good teacher is who has good internet, good environment, good
          devices. We believe all teachers has some level of good english teaching skills. So, having only good english teaching
          skill does not help to earn grade 1.
        </li>
        <li class="mt-4">
          Grade 2. Again, Having good english teaching skill only does not help to earn grade 2. We will give grade 2 to those teachers
          whom we see he/she is a capable of wining student's heart. Communication comes first and Teaching comes at last.
          English teaching is a communication after all. We will observe your performance based on your communication skills.
          You will need a good personality.
        </li>

        <li class="mt-4">
          Grade 3. Teachers who are always sought after students. Teachers who always win when they meet new students.
        </li>
      </ul>
    </div>
  </section>
</ion-content>
