<ion-header>
  <header-content></header-content>
</ion-header>
<ion-content>
  <teacher-intro2-component *ngIf=" a.teacherTheme "></teacher-intro2-component>
  <home-student-banner-component *ngIf=" a.studentTheme && a.user.isLogout "></home-student-banner-component>
  <div class="page">
    <hook-content-top></hook-content-top>
    <home-student-content-component *ngIf=" a.studentTheme "></home-student-content-component>
    <home-teacher-content-component *ngIf=" a.teacherTheme "></home-teacher-content-component>
  </div>
  <hook-content-bottom></hook-content-bottom>
</ion-content>
