page-home {


    .stats {
        .item {
            
            width: 100px;
            height: 100px;
            border-radius: 50%;

            &.teacher {
                background-color: rgb(120, 121, 81);
            }
            &.reservation {
                background-color: rgb(92, 132, 205);
            }
            &.leveltest {
                background-color: indianred;
            }
            .text {
                margin-top: 2rem;
                text-align: center;
                color: white;
                font-size: 1.6rem;
            }
            .number {
                text-align: center;
                color: white;
                font-size: 3rem;
            }
        }
    }
    
    .about-katalkenglish {
        margin-bottom: 1em;
        padding: 1em;
        background-color: #efefef;
    }

}
