<ion-header>
        <header-content></header-content>
      </ion-header>
      
      <ion-content padding>
          {{ a.user.getProfile() | json }}
          , Past:
      
          <table class="books" *ngIf = " books.length ">
            <tr>
              <td>Session No.</td>
              <td>Date</td>
              <td>Time</td>
              <td>Teacher</td>
              <td>Student</td>
              <td>Point</td>
      
            </tr>
      
            <tr *ngFor="let book of books">
              <td>{{book.idx}}</td>
              <td>{{book.date}}</td>
              <td>{{book.class_begin}}~{{book.class_end}}</td>
              <td>{{book.idx_teacher}}</td>
              <td>{{book.idx_student}}</td>
              <td>{{book.point}}</td>

              <!-- <td>
                <button ion-button (click)='onClickCancel(book)'>Cancel</button>
              </td> -->
            </tr>
      
      
      
          </table>
      
      
      
      </ion-content>
      