<ion-header>
  <ion-toolbar>
    <ion-title><b>Installing</b> or <b>Creating</b> a Kakaotalk App Account</ion-title>
    <ion-buttons start>
      <button class="close" ion-button (click)="dismiss()">
        <span ion-text color="primary">{{ 'CLOSE' | translate }}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section id="how-to-install-kakao" class="how-to">
    <ul class="list-style-none">
      <li>
        <div class="desc">
          <div><b>Why Kakaotalk?</b></div>
          <div>Most of the student are from Korea, and most of them have kakaotalk.</div>
          <div>And it would be more convenient for them to have class with kakaotalk app.</div>
        </div>
      </li>
      <li>
        <div class="desc">
          1. Install <b>Kakaotalk App</b> from Google Play(android) or AppStore(iphone) to your smart phone
        </div>
      </li>
      <li>
        <img src="assets/img/kakao/1.jpg">
      </li>
      <li>
        <div class="desc">2. After installation. Open Kakaotalk app.</div>
      </li>
      <li>
        <div class="desc">3. Select your <b>country code</b> and enter your <b>phone number</b>, and press <b>Next</b>
          button.
        </div>
      </li>
      <li>
        <img src="assets/img/kakao/2.jpg">
      </li>
      <li>
        <div class="desc">
          4. Kakaotalk will send you a sms containing the <b>4-digit verification code</b>.
          Input the code and press the <b>Next</b>
          button.
          <div class="ml-3 fs-90">
            <span class="d-block mt-2">*If you are using your number on the same device it will automatically add the verification number.</span>
            <span
              class="d-block mt-2">*If not then you need to type the 4-digit verification code that you will received.</span>
          </div>
        </div>
      </li>
      <li>
        <img src="assets/img/kakao/3.jpg">
      </li>
      <li>
        <div class="desc">5. Press <b>Sign Up Button</b></div>
      </li>
      <li>
        <img src="assets/img/kakao/4.jpg">
      </li>
      <li>
        <div class="desc">6. Enter your name, upload your photo and press get started.</div>
      </li>
      <li>
        <img src="assets/img/kakao/5.jpg">
      </li>
      <li>
        <div class="desc">5. Viola! You Successfully Installed and Created your kakaotalk Account.</div>
      </li>
    </ul>
  </section>
</ion-content>
