help-page {
  @include theme('blue');
}



$faq-background: #005cb2;
$faq-secondary-background: #1e88e5;
// [page="help"] .submenu { /// top submenu design.
//   background-color: $faq-background;
//   color: white;
// }



help-page {
  h2 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
  }
  .step {
    color: dimgrey;
  }
  h4 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 1.75rem;
    color: black;
  }
  .darktomato {
    color: #ff5435;
  }
  .faq {
    margin-top: 3em;
    margin-bottom: 5em;
    .part {
      margin: 4em 0 2em;
      padding: 0 .5em;
      // h2 {}
      .desc {
        margin-top: 1em;
        line-height: 180%;
        &>div {
          padding: 1em;
        }
      }

      &.reservation .desc {
        background: white;
        color: $faq-background;
        &>div:first-child {
          background-color: $faq-secondary-background;
          color: white;
        }
      }
    }
  }


  .kakao .desc {
    background: white;
    color: #662c00;
    &>div:first-child {
      background-color: #ffd600;
      color: black;
    }
  }
  
  .leveltest .desc {
    background: white;
    color: #29434e;
    &>div:first-child {
      background-color: #546e7a;
      color: white;
    }
  }

  .c2c .desc {
    background: white;
    color: #512da8;
    &>div:first-child {
      background-color: #512da8;
      color: white;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0 0 0 1em;
    }
  }
  

  .payment .desc {
    background: white;
    color: black;
    &>div:first-child {
      background-color: #ffca28;
      color: black;
    }
  }
  
  

  .student-choice .desc {
    background: white;
    color: black;
    &>div:first-child {
      background-color: #2e7d32;
      color: white;
    }
  }
  
  

  .qna .desc {
    background: white;
    color: black;
    &>div:first-child {
      background-color: #ffc107;
      color: black;
    }
  }
  

  .problem .desc {
    background: #251a1f;
    color: white;
    &>div:first-child {
      background-color: #753650;
      color: white;
    }
  }
  
  .refund .desc {
    background: #1a2025;
    color: white;
    &>div:first-child {
      background-color: #366375;
      color: white;
    }
  }
  .cancel .desc {
    background:  #23251a;
    color: white;
    &>div:first-child {
      background-color: #647536;
      color: white;
    }
  }


  .accordion-hidden,.accordion-showed{
    padding: 3rem!important;
    height: auto;
    overflow: hidden;
    transition: all 0.1s ease-in-out;

    &>div{
      padding: 1em;
    }
  }

  .accordion-hidden{
    padding-top:0!important;
    padding-bottom: 0!important;
    max-height: 0;
  }
  .accordion-showed{
    max-height: 500px;
  }

  .rotate-45-on{
    transition: all .1s ease-in-out;
    transform: rotate(45deg)!important
  }

  .rotate-45-off{
    transition: all .1s ease-in-out;
    transform: rotate(0deg)!important
  }

  .bg-image{
    background: linear-gradient(to bottom,rgba(white, 0.83), rgba(white, 0.83)),url('../assets/img/banner1.jpg')!important;
    background-size:cover!important;
    background-position: bottom!important;
    background-repeat: no-repeat!important;
  }
  
}
