$nav-height: 40px;
#teacher-intro1 {
  .intro-wrapper {
    display: block;
    margin: 0 -50%;
    background-image: url("/assets/img/banner1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .intro-container {
      margin: 0 25%;
      padding: 2em 0 8em;
    }
  }
}
