$nav-height: 40px;
#teacher-intro1 {
  height:100%;
  .intro-wrapper {
    display: block;
    margin: 0 -50%;
    height:100%;
    background-image: url("/assets/img/banner1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .intro-container {
      margin: 0 25%;
      padding: 2em 0 8em;
    }
  }
}



#teacher-intro {
  position: relative;
  height: 500px;
  .intro-wrapper {
    display: block;
    height: 100%;
    margin: 0 -100%;
    background-image: url("/assets/img/teacher/intro.jpg");
  }
  .intro-banner {
    margin-top: -500px;

    .title {
      padding: .5em 0 .2em
    }

    .register-button {
      display: inline-block;
      padding: .5em 1em;
      background-color: #d76c62;
      box-shadow: 0 7px 0 0 #ac564e;
      border-radius: 3px;
      font-size: 2em;
      color: white;
    }
  }
}
