<section id="teacher-intro">
  <div class="intro-wrapper"></div>
  <div class="intro-banner p-2">
    <div class="title fs-3rem">
      <div class="mb-2">Hiring !!!</div>
      <div class="mb-2">Home Base Online teacher</div>
      <div class="mb-2">Teach anywhere, anytime</div>
      <div class="mb-2">Interact with students</div>
    </div>
    <div class="register-button pointer" (click)="a.open('register')">
      APPLY NOW <i class="fa fa-edit"></i>
    </div>
  </div>
</section>
<section>
<ion-grid id="visitor-navigation" no-padding>
  <ion-row >
    <ion-col col-12 col-sm-6 class="text-center">
      <div class="p-5 bg-skyblue">
       <div> Already have account?</div>
      <button ion-button><i class="fa fa-sign-in"></i> Login</button>
      </div>
    </ion-col>
    <ion-col col-12 col-sm-6 class="text-center">
      <div class="p-5 bg-orange">
        <div> No Account yet?</div>
        <button ion-button><i class="fa fa-edit"></i> Register</button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col col-12 col-sm-6 class="text-center">
      <div class="p-5 bg-green">
        <div class="white">Contact Us</div>
        <button ion-button><i class="fa fa-comment-alt"></i> Inquire Now</button>
      </div>
    </ion-col>
    <ion-col col-12 col-sm-6 class="text-center">
      <div class="p-5 bg-indigo">
        <div class="white">How it works</div>
        <button ion-button><i class="fa fa-book"></i> Guideline and tips</button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</section>
