<section id="teacher-intro">
  <div class="intro-wrapper"></div>
  <div class="intro-banner p-2">
    <div class="title fs-3rem">
      <div class="mb-2">Hiring !!!</div>
      <div class="mb-2">Home Base Online teacher</div>
      <div class="mb-2">Teach anywhere, anytime</div>
      <div class="mb-2">Interact with students</div>
    </div>
    <div class="register-button pointer" (click)="a.open('register')">
      APPLY NOW!!!
    </div>
  </div>
</section>
<section>
<ion-grid id="visitor-navigation">
  <ion-row >
    <ion-col col-12 col-sm-6 class="text-center">
      <div class="p-5">
       <div> Already have account?</div>
      <button ion-button>LOGIN NOW</button>
      </div>
    </ion-col>
    <ion-col col-12 col-sm-6 class="text-center">
      <div class="p-5">
        <div> No Account yet?</div>
        <button ion-button> REGISTER NOW!!</button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col col-12 col-sm-6 class="text-center">
      <div class="p-5">
        <div>You have some question?</div>
        <button ion-button>Contact Us</button>
      </div>
    </ion-col>
    <ion-col col-12 col-sm-6 class="text-center">
      <div class="p-5">
        <div>How it works</div>
        <button ion-button>Guideline and tips</button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</section>
