[page="session-future"]
{
  .submenu {
    /// top submenu design.
    background-color: #01579b;
    color: white;
  }


  .page-header {
    background-color: #78aeda;
  }
  .search-result {
    background-color: #f1f9ff;
  }
  .books {
    padding: 1em;
  }

}

