[page="session-future"]
{
  .submenu {
    /// top submenu design.
    background-color: #62757f;
    color: white;
  }

  .search-result {
    background-color: #c1d5e0;
  }
  .books {
    padding: 1em;
  }
}

session-future {
  .page-header {
    background-color: #90a4ae;
  }
}