#how-to-use {
  .hover-effect-color{
    transition: all .2s ease-in-out!important;
    svg{
      transition: all .2s ease-in-out!important;
      color:#FBC02D}

      &:hover{
        svg{
          transform: scale(0.9, 0.9);
          color:#007bff!important;
        }
        background:rgba(#007bff,0.04)!important;
        color: #007bff!important;
      }
    
  }

}
