<ion-header>
  <header-content [title]=" '지난 수업' "></header-content>
</ion-header>
<ion-content [attr.page]=" page ">
  <div class="page">
    <hook-content-top></hook-content-top>
    <section class="page-header d-flex justify-content-between">

      
      <div>
          <ng-container *ngIf=" a.isStudent ">
            {{ a.user.name }} 님, 포인트:
            <span *ngIf=" a.inLoadingMyPoint ">
              <i class="fal fa-spinner fa-spin"></i>
            </span>
            <span *ngIf=" ! a.inLoadingMyPoint ">
              {{ share.point }}
            </span>
          </ng-container>
        </div>

      <div class="pointer" (click)=" share.options = ! share.options ">
        <ion-icon name="options"></ion-icon>
        {{ "OPTIONS" | translate }}
      </div>

    </section>

    <session-list [share]=" share "></session-list>


  </div>
  <!--/page-->
    <hook-content-bottom></hook-content-bottom>
</ion-content>
