session-past-page {
  @include theme('brown');

  .p-1dot25em{
    padding: 1.25em;
  }

  .bg-inactive{
    background: rgba(grey, 0.15)
  }

  .bg-active{
    border:1px solid rgba(dodgerblue,0.2);
    background: rgba(dodgerblue,0.1)!important;
  }
}

