@media print {
  body * {
    visibility: hidden;
  }

  #section-to-print {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    * {
      visibility: visible;
    }
  }

  #not-to-print {
    display: none!important;
  }

  #show-on-print {
    display: block!important;
  }

}

#show-on-print {
  display: none;
}
