ion-nav.teacher {
    .teacher-wide-menu{
        #logo{
            ion-icon{font-size: 2.5em!important}
            span{
                font-size: 1.25em;
                font-family:Arial, Helvetica, sans-serif
            }
        }

        .toolbar-content{min-height: 56px!important}       
        .button-inner{text-transform: none}
        .bar-button::after{
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        .align-items-center{ align-items: center }
        .fs-2-25em{ font-size: 2.25em!important }
        .hover-effect{ font-family: Arial, Helvetica, sans-serif}
        .hover-effect:hover{opacity: 0.7!important}
        .max-width-992{max-width: 992px!important}
        .min-height-56{min-height: 56px!important}
    }

    .activity-log{
        .item-inner{padding:0!important}
    }

    ion-content {
        font-family: sans-serif,Arial, Helvetica!important;
        font-size: 16px!important;
        background-color: #edf0f5;
        ::-webkit-scrollbar{
            display: none
        }

        .align-items-center{ align-items: center }
        .bg-light{background-color:#edf0f5!important }
        .bg-blue{background-color:#007bff!important }
        .bg-blue-80{background-color:rgba(#007bff,0.80)!important }
        .bg-blue-60{background-color:rgba(#007bff,0.60)!important }
        .bg-blue-40{background-color:rgba(#007bff,0.45)!important }
        .bg-darkorange{background-color:#F57C00!important }
        .font-em-0-75{font-size:0.75em!important}
        .font-em-0-85{font-size:0.85em!important}
        .overflowhidden-y{overflow-y: hidden!important}
        .cover{height: calc(235.953px*2)!important}// height of the four boxes(stats,students comment etc..)
        .cover-by-2{height: 225.953px!important}
        .cover-by-4{height: calc(225.953px/2)!important}
        .flex-column{flex-direction: column!important}
        .fw-light{font-weight: lighter!important}
        .pr-0-5{padding-right: 0.5rem!important}
        .pl-0-5{padding-left: 0.5rem!important}
        .pt-0-5{padding-top: 0.5rem!important}
        .pb-0-5{padding-bottom: 0.5rem!important}
        .line-h-2em{line-height: 2em!important}

        .outline-effect{  
            box-shadow: 0 0.5px 1px rgba(0,0,0,0.32)!important;
            margin-left: 1px!important;
        }
        .outline-effect-right{  
            box-shadow: 0 0.5px 1px rgba(0,0,0,0.32)!important;
            margin-right: 1px!important;
        }
        
        .cover-slider{height: 225.95px!important}
    }
                // .page {
        //     background-color: #f3f3f3;
        //     home-teacher-content-component {
        //         .cover-by-2 {
        //             background-color: red;
        //         }
        //     }
        // }

        .custom-card-korean{
            ion-label{margin:.65em 0!important}
            .fs-card{font-size:1em!important}
        }

        .custom-card-eng{
            ion-label{margin:.75em 0!important}
            .fs-card{font-size:.8em!important}
        }


        .list-hover-effect{
            ion-item{padding-right: 3px!important}
            ion-item:hover{
                background:rgba(#007bff,0.1)!important;
                color:#007bff!important;
                border-right:3px solid #007bff!important;
                padding-right: 0!important;
            }

        }
        .scale-effect-target{transition: all .15s ease-in-out!important}
        .scale-effect:hover{
            .scale-effect-target{
                transform: scale(1.15)!important;
            }
        }
}

    
