ion-nav.teacher {
  font-size: 16px !important;
  //utilities,can be used all over teahers page
  .align-items-center {
    align-items: center !important
  }
  .align-items-end {
    align-items: end !important
  }
  .mx-minus-15px{
    margin: 0 -15px!important
  }

  .my-0-25em{
    margin: .25em 0!important
  }

  .h-100{
    height: 100%!important
  }

  .mx-minus-10px{
    margin: 0 -10px!important
  }
  .bg-light {
    background-color: #f9f9f9 !important
  }
  .bg-blue {
    background-color: #007bff !important
  }
  .bg-blue-80 {
    background-color: rgba(#007bff, 0.80) !important
  }
  .bg-blue-60 {
    background-color: rgba(#007bff, 0.60) !important
  }
  .bg-blue-40 {
    background-color: rgba(#007bff, 0.45) !important
  }
  .bg-secondary-yellow {
    background: #FBC02D !important
  }
  .bg-darkorange {
    background-color: #F57C00 !important
  }
  .bg-muted {
    background: rgba(#FFF, 0.3) !important
  }
  .font-em-0-75 {
    font-size: 0.75em !important
  }
  .font-em-0-85 {
    font-size: 0.85em !important
  }
  .fs-4em {
    font-size: 4em !important
  }
  .fs-9em {
    font-size: 9em !important
  }
  .text-nowrap {
    white-space: nowrap !important
  }
  .flex-column {
    flex-direction: column !important
  }
  .fw-light {
    font-weight: lighter !important
  }

  .fw-normal{
    font-weight: normal!important
  }
  .line-h-1-8em {
    line-height: 1.8em !important
  }
  .px-1px {
    padding: 0 1px !important
  }


  //for the header/navbar
  .teacher-wide-menu {
    #logo {
      ion-icon {
        font-size: 2.5em !important
      }
      span {
        font-size: 1.25em;
        font-family: Arial, Helvetica, sans-serif
      }
    }

    .toolbar-content {
      min-height: 56px !important
    }
    .button-inner {
      text-transform: none
    }
    .bar-button::after {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }


    .fs-2-25em {
      font-size: 2.25em !important
    }
    .hover-effect:hover {
      opacity: 0.7 !important
    }
    .max-width-992 {
      max-width: 992px !important
    }
    .min-height-56 {
      min-height: 56px !important
    }
  }

  ion-content {
    background-color: #f9f9f9 !important;
    .scroll-content {
      overflow: overlay !important
    }


    .guidelines, .teacher-evaluation {
      ion-label {
        margin: 0 !important
      }
    }

    .guidelines {
      .item-inner {
        padding: 0 !important
      }
    }

    .title-style { letter-spacing: 0.3em }

    // height of the four boxes(stats,students comment etc..)
    .cover {
      height: calc(235.953px * 2) !important
    }
    .cover-by-2 {
      height: 225.953px !important
    }
    .cover-by-4 {
      height: calc(225.953px / 2) !important
    }

    .cover-slider {
      height: 225.95px !important
    }

    .list-hover-effect {
      .item {
        transition: all .2s ease-in-out!important;
      }
      .item:hover {
        background: rgba(#007bff, 0.1) !important;
        color: #007bff !important;
      }
    }


    .bg-light-red{ 
      background: #f53d3d!important
    }

    .bg-silver{
      background: rgba(#707070,0.73)!important
    }

  }


  .white-space-pre {
    white-space: pre-line !important
  }

  .hide-effect {
    animation: fade-in-effect 0.5s ease-in-out
  }

  @keyframes fade-in-effect {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }

  .my-0-2em {
    margin: 0.2em 0 !important
  } 
  .opacity-0{opacity: 0!important}

  .line-height-1-8em {
    line-height: 1.8em !important
  }
  
  .outline-effect {
    outline: 1px solid #e2e2e2 !important
  }
  .text-uppercase {
    text-transform: uppercase !important
  }
  .bg-blue-40 {
    background-color: rgba(#007bff, 0.45) !important
  }

}


