// Themes
// ---------------------------------
@mixin list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin list-dots() {
  li:after {
    display: inline-block;
    padding: 0 .4em;
    content: '•';
  }
  li:last-child:after {
    display: none;
  }
}

ul.buttons {
  display: flex;
  @include list-style-none();
  @include list-dots();
}

.pointer {
  cursor: pointer;
}

.pointers {
  &>* {
    cursor: pointer;
  }
}

.text-center {
  text-align: center!important;
}

//
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}


// spinner
// @TODO this is not working properly.
.spinner-sm * {
  width: 16px;
  height: 16px;
  stroke: #444;
  fill: #222;
}

// colors
@each $animal in white,
black,
snow,
ghostwhite,
darkgrey,
grey,
dimgrey,
slategrey,
lightgrey,
lightslategrey,
blue,
brown,
red,
darkred,
salmon,
lightsalmon,
orange,
darkorange,
wheat,
olive,
yellowgreen,
limegreen,
green,
darkgreen,
darkviolet,
slateblue,
darkslateblue,
indigo,
teal,
skyblue {
  .#{$animal} {
    color: #{$animal}!important;
  }
  .bg-#{$animal} {
    background-color: #{$animal}!important;
  }
}



// font size

.fs-xs {
  font-size: .8rem!important;
}
.fs-sm {
  font-size: .9rem!important;
}
.fs-md {
  font-size: 1rem!important;
}
.fs-lg {
  font-size: 2rem!important;
}
.fs-xl {
  font-size: 4rem!important;
}

.fw-bold {
  font-weight: bold!important;
}