// Themes
// ---------------------------------
@mixin list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin list-dots() {
  li:after {
    display: inline-block;
    padding: 0 .4em;
    content: '•';
  }
  li:last-child:after {
    display: none;
  }
}

ul.buttons {
  display: flex;
  @include list-style-none();
  @include list-dots();
}

.pointer {
  cursor: pointer;
}

.pointers {
  &>* {
    cursor: pointer;
  }
}

.text-center {
  text-align: center!important;
}

//
.d-flex {
  display: flex;
}
.d-flex-column {
  display: flex;
  flex-flow: column;
}


.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

// box
.box {
  padding: 1em;
  background-color: black;
  color: white;
  &.header {
    font-size: 2rem;
  }
}

.border-red {
  border: 1px solid red;
}


// button
.btn {
  padding: .8em 1em;
  border: 0;
  background-color: dodgerblue;
  color: white;
  font-weight: 100;
  font-size: 1rem;
}

button.link {
  padding: .8em 1em;
  border: 0;
  background: rgb(238, 238, 238);
  cursor: pointer;
  font-weight: 100;
  font-size: 1rem;
}

// spinner
// @TODO this is not working properly.
.spinner-sm * {
  width: 16px;
  height: 16px;
  stroke: #444;
  fill: #222;
}

// colors
@each $animal in white,
black,
snow,
ghostwhite,
darkgrey,
grey,
dimgrey,
slategrey,
lightgrey,
lightslategrey,
blue,
dodgerblue,
brown,
red,
darkred,
salmon,
lightsalmon,
orange,
darkorange,
tomato,
yellow,
wheat,
olive,
yellowgreen,
limegreen,
green,
darkgreen,
darkviolet,
slateblue,
darkslateblue,
indigo,
teal,
skyblue {
  .#{$animal} {
    color: #{$animal}!important;
  }
  .bg-#{$animal} {
    background-color: #{$animal}!important;
  }
}

$sizer: 1rem !default;
$sizers: ( 0: 0, 1: ($spacer * .25), 2: ($spacer * .5), 3:  ($spacer * .75), 4: $spacer, 5: ($spacer * 1.25), 6: ($spacer * 1.5), 7: ($spacer * 1.75), 8: ($spacer * 2), 9: ($spacer * 2.25), 10: ($spacer * 2.5), 11: ($spacer * 2.75), 12: ($spacer * 3), 13: ($spacer * 3.25), 14: ($spacer * 3.5), 15: ($spacer * 3.75), 16: ($spacer * 4), 17: ($spacer * 4.25), 18: ($spacer * 4.5), 19: ($spacer * 4.75), 20: ($spacer * 5)) !default;
// width, height, size, z-index
// colors
@each $size,
$length in $sizers {
  .size-#{$size} {
    width: #{$length}!important;
    height: #{$length}!important;
  }
  .w-#{$size} {
    width: #{$length}!important;
  }
  .h-#{$size} {
    height: #{$length}!important;
  }
}

.size-30 {
  width: 30px!important;
  height: 30px!important;
}
.size-40 {
  width: 40px!important;
  height: 40px!important;
}
.size-50 {
  width: 50px!important;
  height: 50px!important;
}
.size-60 {
  width: 60px!important;
  height: 60px!important;
}

.size-80 {
  width: 80px!important;
  height: 80px!important;
}
.size-90 {
  width: 90px!important;
  height: 90px!important;
}
.size-100 {
  width: 100px!important;
  height: 100px!important;
}
.size-100x120 {
  width: 100px!important;
  height: 120px!important;
}

.size-200x240 {
  width: 200px!important;
  height: 240px!important;
}


// top, left, right, bottom
@each $abbr,
$position in (t: top, l: left, r: right, b: bottom) {
  @each $size,
  $length in $sizers {
    .#{$position}-#{$size} {
      #{$position}: #{$length};
    }
  }
}

.p-relative {
  position: relative!important;
}

.p-absolute {
  position: absolute!important;
}

.of-hidden {
  overflow: hidden;
}

.rounded-50 {
  border-radius: 50%!important;
}
.rounded-2 {
  border-radius: 2px;
}

// font size
.fs-1rem {
  font-size: 1rem!important;
}

.fs-2rem {
  font-size: 2rem!important;
}

.fs-3rem {
  font-size: 3rem!important;
}

.fs-4rem {
  font-size: 4rem!important;
}

.fs-xs {
  font-size: .8rem!important;
}

.fs-sm {
  font-size: .9rem!important;
}

.fs-md {
  font-size: 1rem!important;
}

.fs-lg {
  font-size: 1.2rem!important;
}

.fs-xl {
  font-size: 2rem!important;
}

.fs-sl {
  // super large
  font-size: 12rem!important;
}

.fs-90 {
  font-size: 90%!important;
}

.fs-110 {
  font-size: 110%!important;
}

.fw-bold {
  font-weight: bold!important;
}

.w-100 {
  width: 100%;
}



ion-toast {
  &.error-42205 {
    // login first
    .toast-wrapper {
      background-color: #01579b;
      color: white;
    }
  }
}





input[type="text"], input[type="email"], input[type="password"] {
  border: 1px solid rgb(190, 190, 190);
}


.loader {
  padding: 1em;
  animation: aniLoader 2.5s infinite;
  background-color: rgb(224, 224, 243);
  color: #448;
}

@keyframes aniLoader {
  20% {
    color: #448;
  }
  30% {
    color: transparent;
  }
  40% {
    color: #448;
  }
}