/// units
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
/// color theme comes from Google Color Pallete
/// https://material.io/guidelines/style/color.html#color-color-palette
$blues: ( color: black, 50: #E3F2FD, 100: #BBDEFB, 200: #90CAF9, 300: #64B5F6, 400: #42A5F5, 500: #2196F3, 600: #1E88E5, 700: #1976D2, 800: #1565C0, 900: #0D47A1);
$purples: ( color: black, 50: #EDE7F6, 100: #D1C4E9, 200: #B39DDB, 300: #9575CD, 400: #7E57C2, 500: #673AB7, 600: #5E35B1, 700: #512DA8, 800: #4527A0, 900: #311B92);
$indigos: ( color: black, 50: #E8EAF6, 100: #C5CAE9, 200: #9FA8DA, 300: #7986CB, 400: #5C6BC0, 500: #3F51B5, 600: #3949AB, 700: #303F9F, 800: #283593, 900: #1A237E);
$yellows: ( color: black, 50: #FFFDE7, 100: #FFF9C4, 200: #FFF59D, 300: #FFF176, 400: #FFEE58, 500: #FFEB3B, 600: #FDD835, 700: #FBC02D, 800: #F9A825, 900: #F57F17);
$browns: ( color: white, 50: #EFEBE9, 100: #D7CCC8, 200: #BCAAA4, 300: #A1887F, 400: #8D6E63, 500: #795548, 600: #6D4C41, 700: #5D4037, 800: #4E342E, 900: #3E2723);
$bluegreys: ( color: black, 50:#ECEFF1, 100:#CFD8DC, 200:#B0BEC5, 300:#90A4AE, 400:#78909C, 500:#607D8B, 600:#546E7A, 700:#455A64, 800:#37474F, 900:#263238);
$color-maps: ( 'blue': $blues, 'purple': $purples, 'indigo': $indigos, 'yellow': $yellows, 'brown': $browns, 'bluegrey': $bluegreys);
@mixin theme( $color) {
  ion-header header-content .mobile-toolbar nav.submenu {
    // @warn map-get($color-maps, $color);
    background-color: map-get( map-get($color-maps, $color), 800);
    color: white;
  }
  .page-header {
    background-color: map-get( map-get($color-maps, $color), 500);
    color: map-get( map-get($color-maps, $color), 'color');
  }
  .page-desc {
    background-color: #e1e6e7;
  }
}
