/// units
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
/// color theme comes from Google Color Pallete
/// https://material.io/guidelines/style/color.html#color-color-palette
$blues: ( color: black, 50: #E3F2FD, 100: #BBDEFB, 200: #90CAF9, 300: #64B5F6, 400: #42A5F5, 500: #2196F3, 600: #1E88E5, 700: #1976D2, 800: #1565C0, 900: #0D47A1);
$purples: ( color: black, 50: #EDE7F6, 100: #D1C4E9, 200: #B39DDB, 300: #9575CD, 400: #7E57C2, 500: #673AB7, 600: #5E35B1, 700: #512DA8, 800: #4527A0, 900: #311B92);
$indigos: ( color: black, 50: #E8EAF6, 100: #C5CAE9, 200: #9FA8DA, 300: #7986CB, 400: #5C6BC0, 500: #3F51B5, 600: #3949AB, 700: #303F9F, 800: #283593, 900: #1A237E);
$yellows: ( color: black, 50: #FFFDE7, 100: #FFF9C4, 200: #FFF59D, 300: #FFF176, 400: #FFEE58, 500: #FFEB3B, 600: #FDD835, 700: #FBC02D, 800: #F9A825, 900: #F57F17);
$browns: ( color: white, 50: #EFEBE9, 100: #D7CCC8, 200: #BCAAA4, 300: #A1887F, 400: #8D6E63, 500: #795548, 600: #6D4C41, 700: #5D4037, 800: #4E342E, 900: #3E2723);
$bluegreys: ( color: black, 50:#ECEFF1, 100:#CFD8DC, 200:#B0BEC5, 300:#90A4AE, 400:#78909C, 500:#607D8B, 600:#546E7A, 700:#455A64, 800:#37474F, 900:#263238);
$oranges: ( color: black, 50: #FFF3E0, 100: #FFE0B2, 200: #FFCC80, 300: #FFB74D, 400: #FFA726, 500: #FF9800, 600: #FB8C00, 700: #F57C00, 800: #EF6C00, 900: #E65100);
$ambers: ( color: black, 50:#FFF8E1, 100:#FFECB3, 200:#FFE082, 300:#FFD54F, 400:#FFCA28, 500:#FFC107, 600:#FFB300, 700:#FFA000, 800:#FF8F00, 900:#FF6F00);
$greys: ( color: black, 50:#FAFAFA, 100:#F5F5F5, 200:#EEEEEE, 300:#E0E0E0, 400:#BDBDBD, 500:#9E9E9E, 600:#757575, 700:#616161, 800:#424242, 900:#212121);
$lightgreys: ( color: black, 50:#fafafa, 100:#f7f7f7, 200:#f5f5f5, 300:#f0f0f0, 400:#e5e5e5, 500:#eee, 600:#ddd, 700:#ccc, 800:#bbb, 900:#aaa);
$pinks: ( color: black, 50:#FCE4EC, 100:#F8BBD0, 200:#F48FB1, 300:#F06292, 400:#EC407A, 500:#E91E63, 600:#D81B60, 700:#C2185B, 800:#AD1457, 900:#880E4F);
$color-maps: ( 'blue': $blues, 'purple': $purples, 'indigo': $indigos, 'yellow': $yellows, 'brown': $browns, 'bluegrey': $bluegreys, 'orange': $oranges, 'amber': $ambers, 'grey': $greys, 'lightgrey': $lightgreys, 'pink': $pinks);
@mixin theme( $color) {
  ion-header header-content .mobile-toolbar nav.submenu {
    // @warn map-get($color-maps, $color);
    background-color: map-get( map-get($color-maps, $color), 800);
    color: white;
  }
  .page-header {
    background-color: map-get( map-get($color-maps, $color), 500);
    color: map-get( map-get($color-maps, $color), 'color');
  }
  .page-desc {
    background-color: #e1e6e7;
  }
}
