<ion-card>
  <ion-card-header>
    <ion-icon name="alert"></ion-icon>
    {{ 'LOGIN REQUIRED' | translate}}
  </ion-card-header>
  <ion-card-content>
    {{ 'LOGIN REQUIRED DESCRIPTION' | translate }}
    <hr>


    <button ion-button icon-left (click)="a.open('login')">
                    <ion-icon name="log-in"></ion-icon>
                    {{ 'LOGIN' | translate }}
                  </button>

    <button id="login-page-register-button" ion-button icon-left (click)="a.open('register')">
                    <ion-icon name="person-add"></ion-icon>
                {{ 'REGISTER' | translate }}
                  </button>

  </ion-card-content>
</ion-card>
