<section *ngIf=" a.user.isLogout ">

    <div class="alert alert-warning border-0 rounded-0 mb-0">

      <ng-container *ngIf=" a.studentTheme; else en ">
          앗!
          <span class="fw-bold" (click)="a.open('login')">로그인</span>
          또는
          <span class="fw-bold" (click)="a.open('register')">회원 가입</span>을 먼저 해 주세요.
      </ng-container>
      <ng-template #en>
          Ooh!
          Please
          <span class="fw-bold" (click)="a.open('login')">login</span>
          or
          <span class="fw-bold" (click)="a.open('register')">register</span>.
      </ng-template>
    </div>

</section>
