<ion-header>
        <header-content></header-content>
      </ion-header>
      <ion-content padding>

        <ion-fab top right>
          <button ion-fab (click)="onClickPostCreate()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-fab>

        <ng-container *ngFor="let page of pages">
          <ion-card *ngFor="let post of page.posts" [attr.post-id]="post.ID">
            <ion-item>
              <ion-avatar item-start>
                <img src="{{post.author.photoURL}}">
              </ion-avatar>
              <h2>{{post?.author?.name}}</h2>
              <p *ngIf="post.meta && post.meta.timestamp_create">&nbsp;
                <!--{{ a.shortDate( post.meta.timestamp_create ) }}-->
              </p>
            </ion-item>
            <ion-card-header>
              <b>{{post.post_title}}</b>
            </ion-card-header>

            <file-display-widget [files]="post.files"></file-display-widget>

            <ion-card-content>
              <p [innerHTML]=" post.post_content_pre "></p>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <button ion-button icon-left clear small  (click)="onClickLike( post, 'like' )">
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>
                    <span class="badge badge-dark" *ngIf="post.meta['like']">{{ post.meta['like'] }}</span> Likes
                  </div>
                </button>
              </ion-col>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>{{post.comment_count}} Comments</div>
                </button>
              </ion-col>
              <ion-col center text-center *ngIf="post.meta && post.meta.timestamp_create">
                <ion-note>
                  {{ a.shortDate( post.meta.timestamp_create ) }}
                </ion-note>
              </ion-col>
            </ion-row>

          </ion-card>

        </ng-container>


        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading...">
          ></ion-infinite-scroll-content>
        </ion-infinite-scroll>

        <div *ngIf="noMorePosts">
          <h3>No more posts ... !</h3>
        </div>



      </ion-content>
