<ion-header>
  <header-content [page]=" 'payment' " [title]=" '수업료 결제' "></header-content>
</ion-header>
<ion-content>
  <div class="page">
    <hook-content-top></hook-content-top>

    <section class="page-body">


      {{ 'PAYMENT PAGE TITLE' | translate }}
      <div class="alert alert-warning rounded-0 my-2 p-3" *ngIf="inLoadingPaymentRate">
        <i class="fal fa-spinner fa-spin"></i> {{ 'LOADING PAYMENT INFORMATION' | translate }}
      </div>

      <section class="alert alert-warning rounded-0 my-2 p-3" *ngIf=" errorOnExchangeRate ">
        앗, 환율 책정 문제 발생하여 결제를 할 수 없습니다. 관리자에게 알려주세요.
      </section>

      <div class="alert alert-warning" *ngIf="a.user.isLogout">{{ 'LOGIN_BEFORE_PAYMENT' | translate }}</div>

      <div class="mt-3" *ngIf=" ! errorOnExchangeRate ">

        <ion-list>
          <ion-item>
            <ion-label class="blue">{{'SELECT AMOUNT'|translate}}</ion-label>
            <ion-select [(ngModel)]="amount" *ngIf="paypal_ready" okText="확인" cancelText="취소" [selectOptions]="{ title: '수업 시간표에 몇 일을 표시 할까요?', cssClass:'select-no-of-day'}">
              <ion-option value="10000">10,000 원</ion-option>
              <ion-option value="30000">30,000 원</ion-option>
              <ion-option value="50000">50,000 원</ion-option>
              <ion-option value="100000">100,000 원</ion-option>
              <ion-option value="200000">200,000 원</ion-option>
              <ion-option value="300000">300,000 원</ion-option>
              <ion-option value="500000">500,000 원</ion-option>
            </ion-select>
          </ion-item>
        </ion-list>


      </div>

      <div class="mb-5">
        <button class="w-100 bg-white" id="paypal-button"></button>
      </div>

      <div class="alert alert-secondary" *ngIf=" amount_in_usd_with_tax() ">
        <div>{{ amount }} 원 결제(세금 {{ payment_rate.paypal_student_fee }}% 별도)를 선택하였습니다.</div>
        <div>
          결제는 미국 달러로 진행되며 약 {{ amount_in_usd_with_tax() }} 달러(세금 포함)가 결제됩니다.
        </div>
      </div>

    </section>
    <hook-content-bottom></hook-content-bottom>
  </div>
  <!--/page-->
</ion-content>
