<ion-menu side="right" [content]="rootContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ 'SITE NAME' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item menuClose (click)=" onClickHome() ">
          {{ 'HOME' | translate }}
        </button>
      <button ion-item menuClose *ngIf=" a.user.isLogin " (click)=" a.user.logout() ">
          {{ 'LOGOUT' | translate }}
        </button>

      <button ion-item menuClose *ngIf=" a.user.isLogout " (click)=" onClickLogin() ">
          {{ 'LOGIN' | translate }}
        </button>

      <button ion-item menuClose *ngIf=" a.user.isLogout " (click)=" onClickRegister() ">
        {{ 'REGISTER' | translate }}
      </button>


      <button ion-item menuClose (click)=" a.push( s.pages.settings.component ) ">
          {{ 'SETTINGS' | translate }}
        </button>


      <button ion-item menuClose>Close</button>

    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #rootContent [root]="rootPage"></ion-nav>
