<ion-header>
  <ion-toolbar>
    <ion-title>강의 평가</ion-title>
    <ion-buttons start>
      <button ion-button class="cancel" (click)="dismiss()">
        <span ion-text color="primary">{{ 'CANCEL' | translate }}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content id="section-to-print">
  <ion-list>
    <ion-item>수업번호: {{ session?.idx }}</ion-item>
    <ion-item>포인트: {{ session?.point }}</ion-item>
    <ion-item>결과(레벨): {{level}}</ion-item>
    <ion-item>표현력: {{ session?.expression }}</ion-item>
    <ion-item>어휘력: {{ session?.vocabulary }}</ion-item>
    <ion-item>문법: {{ session?.grammar }}</ion-item>
    <ion-item>발음: {{ session?.pronunciation }}</ion-item>
    <ion-item>유창함: {{ session?.speed }}</ion-item>
    <ion-item><span text-wrap>코멘트: {{ session?.comment }}</span></ion-item>
    <ion-item><span text-wrap>교재: {{ session?.book_used }}</span></ion-item>
    <ion-item><span text-wrap>다음 수업 시간에 사용할 교재: {{ session?.book_next }}</span></ion-item>
  </ion-list>
  <!--<button ion-button (click)="onClickPrint()" id="not-to-print">Print</button>-->

</ion-content>
