
<ion-grid>
  <ion-row>
    <ion-col col-6>

        
          <img src="assets/img/student.png">
          <h3>학생입니까?</h3>
          <p>무료 수업을 예약해 보세요.</p>
          
          
          
          

    </ion-col>

    <ion-col col-6>

      <ion-card>
            <img src="assets/img/teacher.png">
        <ion-card-header>
          선생님이십니까?
        </ion-card-header>
        <ion-card-content>
          수업 시간표를 만들어 보세요.
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>
