<ion-content>
  <section class="position-relative">
    <header class="position-absolute top-0 left-0 right-0 header-height d-flex justify-content-between" style="z-index: 987654321; background-color: rgba(255, 255, 255, .5);">
      <div class="p-3 white fs-xl">
        카톡잉글리시
      </div>
      <div class="p-3">
        <i class="fa fa-bars white fs-xl"></i>
      </div>
    </header>



    <ion-slides (ionSlideDidChange)="slideChanged()">
      <ion-slide>
        <img src="/assets/tmp/intro.jpg">
        <div class="text position-absolute mt-6 top-0 white bg-grey fs-xl">
          <div>어줍짢은 인강, 거품뿐인 화상영어</div>
          <div>가라</div>
        </div>
      </ion-slide>
      <ion-slide>
        <img src="/assets/tmp/intro2.jpg">
        <div class="text position-absolute mt-6 top-0 white fs-xl">
          <div>학생의 영어 능력 향상을 극대화 위한</div>
          <div>무한경쟁</div>
        </div>
      </ion-slide>
      <ion-slide>
        <img src="/assets/tmp/intro3.jpg">
        <div class="text position-absolute mt-6 top-0 white fs-xl">
          <div>카카오톡으로 강사와 거침없는 소통</div>
          <div>나만을 위한 수업</div>
        </div>
      </ion-slide>
      <!-- <ion-slide>
        <img src="/assets/tmp/intro4.jpg">
        <div class="text position-absolute mt-6 top-0 white fs-xl">
          <div>천하제일의 길</div>
          <div>소통하는 길</div>
        </div>
      </ion-slide>
      <ion-slide>
        <img src="/assets/tmp/intro5.jpg">
        <div class="text position-absolute mt-6 top-0 white fs-xl">
          <div>나만의 1:1 강사</div>
          <div>소통하는 길</div>
        </div>
      </ion-slide> -->
    </ion-slides>


    <nav class="position-absolute left-0 right-0 bottom-0 white d-flex fs-4rem pointers" style="z-index: 987654321; justify-content:center;">
      <div [class.selected]="on == 0" (click)="slides.slideTo(0)">•</div>
      <div [class.selected]="on == 1" (click)="slides.slideTo(1)">•</div>
      <div [class.selected]="on == 2" (click)="slides.slideTo(2)">•</div>
      <!-- <div [class.selected]="on == 3" (click)="slides.slideTo(3)">•</div>
      <div [class.selected]="on == 4" (click)="slides.slideTo(4)">•</div> -->
    </nav>


  </section>

  <section class="mb-7">


  <div padding *ngIf="on == 0">
        
            <h1>절대만족.</h1>
            <ul>
                <li>하루 25분, 월~금, 한달 8천8백원</li>
                <li>강사와 학생의 직거래 화상영어 시스템</li>
                <li>강사의 절대 만족을 통한</li>
                <li>고품격 화상영어 서비스</li>
            </ul>


            <p>
                카톡잉글리시에서는 강사와 학생의 만족을 우선하고 있습니다.
            </p>

            학생은 매우 낮은 수업료를 내면서 강사는 매우 높은 강사료를 받습니다.<br>

            이 비결은 바로 학생과 강사가 직거래를 하기 때문입니다.<br>

            저희는 수 만명의 강사 중에서 최고의 강사만 엄선하여 학생에게 소개하며,
                        
            학생은 홈페이지에서 강사의 선택, 예약, 취소를 자유롭게 할 수 있습니다.
                        
            <br>

            학생이 강사를 선택하므로 강사는 학생에게 선택받기 위해 최선의 노력을 다 합니다.<br>
            
            이것이 바로 최저가 최고품격 화상영어가 만들어지는 원동력입니다.
            
          </div>
        
          <div padding *ngIf="on == 1">
            <h1>카카오톡으로 수업</h1>
            <ul>
                <li>화상수업 프로그램 설치 불필요</li>
                <li>카카오톡을 통한 강사와 학생간의 거침없는 소통</li>
                <li>학생의 수업 참여도를 극강으로 높임</li>
            </ul>
            <p>
                화상영어 수업을 위한 스카이프, 솔루션 등은 프로그램 및 마이크, 스피커 등의 빈번한 문제로 수업이 중단되는 경우가 많습니다.
            </p>
            <p>카카오톡은 고장의 염려가 없으며 1:1 화상영어
            수업과 질문, 첨삭, 과제 등을 편리하게 진행하므로 학생의 참여도를 높일 수 있습니다.
        </p>
            카카오톡으로 수업을 하면
            학생과 강사가 매우 손 쉽게 소통하여 수업료를 직접 주고 받을 수 있습니다.
            이러한 이유로 타 업체에서는 학생과 강사의 소통을 원천적으로 단절시키려고합니다.
            카톡잉글리시는 무한 경쟁 시대에 과감하게 카카오톡으로 바꾸어
            학생과 강사의 수업 참여도를 최대로 끌어 올리고자 합니다.
          </div>
        
          <div padding *ngIf="on == 2">
        
            <h1>나만의 1:1 강사</h1>
        
            <p>영어는 말로하는 것이며 일대일 대화를 통해서 완벽해지는 것입니다.</p>
            <p>새로운 누군가를 만나고 익숙해질 수 있다면 대화를 시작 할 수 있습니다.</p>
            <p>
                    카톡잉글리시에서는
                    여러분이 카톡만 할 수 있다면
                    선생님과 자유롭게 대화하고 화상 채팅을 하며
                    수업 시간표를 선택하여 1:1 화상영어 수업을 할 수 있습니다.
            </p>
            
        
          </div>
        
          <!-- <div *ngIf="on == 3">
            <h1>천하제일의 길</h1>
            천하제일의 길이란 시장 경제원리에 따라 수요자와 공급자 사이에서 수요자에 최대의 혜택을 주며 동시에 공급자에 최대의 혜택을 주는 것이라 믿습니다. 각자의 영역을 장악한 구글, 애플, 네이버 등은 검색 광고비나 앱 판매
            금액 중 70% 이상을 개발자에게 돌려줍니다. 세계 택시 시장을 장악한 우버는 운전기사에게 80%의 수익을 돌려줍니다. 최대의 수익이 공급자에게 주어지므로 공급자는 혼신을 다해 서비스를 하는 것입니다. 강사에게
            85%의 수익금을 드리는 것은 공급자에게 최대의 혜택을 드리는 것이라 의심 할 여지가 없으며 대신 1만5천여명의 강사 중 교양있으며 책임과 성심을 다하는 강사를 엄선하여 학생에게 권하고 있습니다. 높은 수익률에
            따라 강사는 최선을 다해서 영어 교육을 할 것입니다. 또한 강사가 타 업체 수업료의 절반만 받아도 강사에게는 매우 큰 수익이 되며 저희 카톡잉글리시에서 평균 수업료를 타 업체의 절반 가격이하로 적절히 조정하고
            있습니다. 이로 인해 학생은 낮은 수업료를 통해서 고 품격 화상영어 수업을 받을 수 있으며 또한 카톡을 통해 거침없이 강사와 소통 할 수 있습니다. 카톡잉글리시의 마지막 미션은 강사를 만족시키고 학생의 참여도를
            높여 강사와 학생이 소통하게 하것입니다.
        
          </div>
        
          <div *ngIf="on == 4">
            <h1>소통하라</h1>
            여기가 끝 인트로입니다.
          </div> -->
        
  </section>


  <div class="position-fixed bottom-0 left-0 right-0 p-5 text-center bg-lightgrey fs-md pointer"
    (click)="a.open('home')">
        SKIP
    </div>
    
  
</ion-content>
