<ion-header>
  <header-content></header-content>
</ion-header>
<ion-content padding>
  <h1>Evaluate</h1>


  <h2 *ngIf="an">Array {{an}}</h2>
  <h3 *ngIf="ob">Object {{ob|json}}</h3>

  <ion-list>
    <ion-item> Session No.: {{ idx }}</ion-item>
    <ion-item>Point: </ion-item>
    <ion-item>Student was absent: <input type="checkbox" [(ngModel)]="student_absent"></ion-item>
    <ion-item>Class was unsuccessful: <input type="checkbox" [(ngModel)]="unsuccessful"> Any problem in the class?</ion-item>
    <ion-item>Level of the session: </ion-item>

    <ion-item>
      Expression:
      <select [(ngModel)]="expression">
        <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}
        </option>
      </select> (Rate how well the student can express)
    </ion-item>
    <ion-item>
      Vocabulary:
      <select [(ngModel)]="vocabulary">
        <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}
        </option>
      </select>
      (Rate if the student use proper words, cluases)
    </ion-item>
    <ion-item>
      Grammar:
      <select [(ngModel)]="grammar">
        <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}
        </option>
      </select> (Rate on student grammar)
    </ion-item>
    <ion-item>
      Pronunciaton:
      <select [(ngModel)]="pronunciation">
        <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}
        </option>
      </select> (Rate on student accent and intonation)
    </ion-item>
    <ion-item>
      Speed of Speach:
      <select [(ngModel)]="speed">
        <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" [value]="i">{{i}}
        </option>
      </select> (Rate on how fast and fluently the student speaks.)
    </ion-item>
    <ion-item>
      <textarea rows="10" cols="100" [(ngModel)]="comment"></textarea>
      <div>Comment: Leave comment of the session. Or Leave any message if the class was unsuccessful.</div>
    </ion-item>

    <ion-item>
      Book(Page) used in the session: <input type="text" [(ngModel)]="book_use">
    </ion-item>
    <ion-item>
      Book(Page) will be used in next session: <input type="text" [(ngModel)]="book_next">
    </ion-item>
    <ion-item>
      <input type="submit" (click)="onClickSubmitEvaluation()" value="SUBMIT">
    </ion-item>
  </ion-list>
</ion-content>
