<div class="cover-by-2 of-hidden bg-white outline-effect mb-5 mb-md-0">
    <p class="fs-90 m-0 py-3 white bg-blue-80 fw-bold  text-center">Student Comments</p>
    <div class="list-hover-effect my-0-25em" no-lines>
     <ng-container *ngFor="let student_comment of student_comments; let i=index">
        <ion-grid class="pointer item" (click)="onClickCommentList(student_comment.idx_teacher)" *ngIf="i<3" no-padding>
            <ion-row  class="py-3 px-4" align-items-center justify-content-center>
                <ion-col  class="d-flex align-items-center" col-md-4 col-3>
                    <span class="size-40 rounded-circle of-hidden">
                        <img [src]="a.checkPhotoURL(student_comment.teacher_photoURL)"/>
                    </span>
                </ion-col>
                <ion-col col-md col-6>
                    <div class="d-flex align-items-center">
                        <h3 class="fs-90 m-0 p-0">{{a.preTeacherName(student_comment.teacher_name)}}</h3>
                        <div class="ml-2 m-0 p-0  of-hidden" text-nowrap>
            
                            <span *ngIf="student_comment.rate < 1"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                            <span *ngIf="student_comment.rate >= 1"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>
            
                            <span *ngIf="student_comment.rate < 2"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                            <span *ngIf="student_comment.rate >= 2"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>
            
                            <span *ngIf="student_comment.rate < 3"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                            <span *ngIf="student_comment.rate >= 3"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>
            
                            <span *ngIf="student_comment.rate < 4"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                            <span *ngIf="student_comment.rate >= 4"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>
            
                            <span *ngIf="student_comment.rate < 5"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                            <span *ngIf="student_comment.rate >= 5"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>
        
                        </div>
                    </div>
                    <p class="fs-90 m-0 p-0 fw-light">
                        {{student_comment.comment.slice(0,8)}}
                        <span class="fw-bold" *ngIf="student_comment.comment.length>8">...</span>
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>
     </ng-container>
    </div>
</div>
