<div class="custom-card cover-by-2 overflowhidden-y bg-white outline-effect">
    <h2 class="fs-110 fw-light m-0 py-3 bg-blue text-center" ion-text color="white">Student Comments</h2>
    <ion-list class="m-0" no-lines>
     <ng-container *ngFor="let student_comment of student_comments let i=index">
        <ion-item class="pointer border border-left-0 border-right-0 border-bottom-0"
                (click)="onClickCommentList(student_comment.idx_teacher)" 
                *ngIf="i<3"  
            >
            <ion-avatar item-start>
                <img [src]="a.checkPhotoURL(student_comment.teacher_photoURL)">
            </ion-avatar>
            <h3>{{a.preTeacherName(student_comment.teacher_name)}}
                <div class="ml-2 d-inline-block">

                    <span *ngIf="student_comment.rate < 1"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                    <span *ngIf="student_comment.rate >= 1"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>

                    <span *ngIf="student_comment.rate < 2"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                    <span *ngIf="student_comment.rate >= 2"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>

                    <span *ngIf="student_comment.rate < 3"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                    <span *ngIf="student_comment.rate >= 3"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>

                    <span *ngIf="student_comment.rate < 4"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                    <span *ngIf="student_comment.rate >= 4"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>

                    <span *ngIf="student_comment.rate < 5"><i class="fs-md fal fa-star" ion-text color="yellow"></i></span>
                    <span *ngIf="student_comment.rate >= 5"><i class="fs-md fas fa-star" ion-text color="yellow"></i></span>

                </div>
            </h3>
            <p class="fs-card-korean" >{{student_comment.comment}}</p>
        </ion-item>
     </ng-container>
    </ion-list>
</div>
