student-adv-page {
    .page-body {
        @media ( min-width: $md ) {
            padding: 0 3em;
        }
        font-size: 1.9rem;
        @media ( min-width: $md ) {
            font-size: 2.2em;
        }
        text-align: center;
        & > div {
            padding-top: 3em;
            line-height: 200%;
        }

        .why {
            img {
                width: 160px;
                @media ( min-width: $md ) {
                    width: 240px;
                }
            }
        }
        .where, .office, .uber, .bubble {
            img {
                border-radius: 50%;
                width: 240px;
                @media ( min-width: $md ) {
                    width: 320px;
                }
            }
        }
        
        .yes, .surprise {
            img {
                width: 240px;
                @media ( min-width: $md ) {
                    width: 320px;
                }
            }
        }
        
    }
}