<div class="teacher-evaluation outline-effect  bg-white rounded m-0 mt-5">
    <div class="bg-blue-60 white px-5">
        <h2  class="title-style p-5 ml-4 fs-3rem m-0 fw-light bg-blue d-inline-block" ion-text color="white">RECENT EVALUTAION</h2>
    </div>
    <ion-list class="mx-0 my-5 " no-lines>
        <div class="m-0 px-5 py-5 " ion-item
          *ngFor="let teacher_comment of evaluations; let i=index">
          <ion-grid no-padding>
              <ion-row class="mx-4 my-3" align-items-end>
                  <ion-col *ngIf="teacher_comment['teacher_photoURL'] || teacher_comment['student_photoURL']">
                        <span class=" size-80 of-hidden mr-2 d-inline-block rounded-2" *ngIf="teacher_comment['teacher_photoURL']">
                          <img src="{{teacher_comment['teacher_photoURL']}}">
                        </span>
                        <span class=" size-80 of-hidden mr-4 d-inline-block rounded-2">
                          <img  src="{{a.checkPhotoURL(teacher_comment['student_photoURL'])}}">
                        </span>
                        <h2 class="fs-2rem fw-bold m-0  d-inline-block" ion-text color="blue">
                          {{ a.preTeacherName(teacher_comment.teacher_name) }}
                          <span class="fw-light fs-lg ml-3 black">{{preDate(teacher_comment['date'])}}</span>
                        </h2>
                  </ion-col>
                  <ion-col text-right>
                        <span class="mr-3" ion-text color="blue">#{{(i+1) + ((commentCount - 1) * pageOption['limitPerPage'])}}</span>
                  </ion-col>
              </ion-row>
          </ion-grid>
          <div class="bg-light p-5 m-0 rounded my-3 mx-4 outline-effect">
            <div  class="line-h-1-8em m-0 p-0 my-3 fs-90" ion-text color="dark">
              <span class="white-space-pre  hide-effect" *ngIf="!teacher_comment['more']">{{teacher_comment.comment.slice(0,200)}}<span class="fs-xl" *ngIf="teacher_comment.comment.length>200"> ...</span></span>
              <span class="white-space-pre  hide-effect" *ngIf="teacher_comment['more']">{{teacher_comment.comment}}</span>
            </div>
            <ng-container *ngIf="teacher_comment.comment.length>200">
              <span class="pointer text-nowrap" ion-text color="blue" (click)="teacher_comment['more'] = !teacher_comment['more']"> {{teacher_comment['more']? 'View Less' : 'View More'}}</span>
            </ng-container>
          </div>
        </div>
    </ion-list>
    <div class="pagination bg-blue p-3" text-center>
      <page-navigator class="evaluation-pagination mx-auto"
                      [no_of_total_items]=" pageOption['totalRecord'] "
                      [no_of_items_in_one_page]=" pageOption['limitPerPage'] "
                      [no_of_pages_in_navigator]=" pageOption['limitPerNavigation'] "
                      [no_of_current_page]=" pageOption['currentPage'] "
                      [show_prev_next]=" true "
                      (pageClick)="onPostPageClick($event)">
      </page-navigator>
    </div>
</div>
