<ion-toolbar>


  <ion-grid no-padding>
    <ion-row id="header-icons">
      <ion-col>
        <button (click)="a.open( 'home' )">
          <i class='fa fa-home'></i>
          <div>{{ 'HOME' | translate }}</div>
        </button>
      </ion-col>


      <ion-col *ngIf="a.isTeacher">
        <button (click)="a.open( 'schedule-edit' )">
          <i class="fa fa-calendar-plus"></i>
          <div>{{ 'SCHEDULE' | translate }}</div>
        </button>
      </ion-col>


      <ion-col>
        <button (click)="a.open( 'teacher-list' )">
          <i class="fa fa-calendar-plus"></i>
          <div>{{ 'RESERVE' | translate }}</div>
        </button>
      </ion-col>


      <ion-col>
        <button (click)="a.open( 'teacher-list' )">
          <i class="fa fa-users"></i>
          <div>{{ 'TEACHER LIST' | translate }}</div>
        </button>
      </ion-col>

      <ion-col>

        <button (click)="a.open('forum')">

          <i class="fa fa-comments"></i>
          <div>{{ 'FORUM' | translate }}</div>

        </button>
      </ion-col>
      
      <ion-col>
        <button (click)=" a.open('reservation') ">
          <i class="fa fa-th blue"></i>
          <div>{{ 'RESERVATIONS' | translate }}</div>
        </button>
      </ion-col>

      <ion-col>
        <button>
          <i class="fa fa-tasks grey"></i>
          <div>{{ 'PASTS' | translate }}</div>
        </button>
      </ion-col>

      <ion-col class="d-none d-sm-block">
        <button (click)="a.open('menu')">
          <i class="fa fa-credit-card-front"></i>
          <div>{{ 'CURICULUMS' | translate }}</div>
        </button>
      </ion-col>



      <ion-col class="d-none d-sm-block">
        <button (click)="a.open('menu')">
          <i class="fa fa-credit-card"></i>
          <div>{{ 'FREE CLASS' | translate }}</div>
        </button>
      </ion-col>

      


      


      <ion-col class="d-none d-sm-block">
        <button (click)="a.open('menu')">
          <i class="fa fa-credit-card"></i>
          <div>{{ 'CLASS COMMENTS' | translate }}</div>
        </button>
      </ion-col>


      <ion-col>
        <button (click)="a.open('menu')">

          <i class="fa fa-bars"></i>
          <div>{{ 'ALL MENU' | translate }}</div>


        </button>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-toolbar>
