<ion-toolbar>


  <ion-grid no-padding>
    <ion-row id="header-icons">
      <ion-col>
        <button (click)="a.open( 'home' )">

          <ion-icon name="home"></ion-icon>
          {{ 'HOME' | translate }}

        </button>

      </ion-col>


      <ion-col>
        <button (click)="a.open( 'schedule' )">

          <ion-icon name="calendar"></ion-icon>
          {{ 'SCHEDULE' | translate }}

        </button>

      </ion-col>


      <ion-col>

        <button (click)="a.open('forum')">

          <ion-icon name="chatbubbles"></ion-icon>
          {{ 'FORUM' | translate }}

        </button>
      </ion-col>
      <ion-col>

        <button>

          <ion-icon name="list-box"></ion-icon>
          {{ 'RESERVATION' | translate }}

        </button>
      </ion-col>

      <ion-col class="d-none d-sm-block">
        <button (click)="a.open('menu')">
          <ion-icon name="card"></ion-icon>
          {{ 'PAYMENT' | translate }}
        </button>
      </ion-col>

      <ion-col class="d-none d-sm-block">
        <button (click)="a.open('menu')">
          <ion-icon name="card"></ion-icon>
          {{ 'TEACHERS' | translate }}
        </button>
      </ion-col>
      <ion-col class="d-none d-sm-block">
        <button (click)="a.open('menu')">
          <ion-icon name="card"></ion-icon>
          {{ 'STUDENTS' | translate }}
        </button>
      </ion-col>

      <ion-col class="d-none d-sm-block">
        <button (click)="a.open('menu')">
          <ion-icon name="card"></ion-icon>
          {{ 'STUDENTS' | translate }}
        </button>
      </ion-col>

      <ion-col class="d-none d-sm-block">
        <button (click)="a.open('menu')">
          <ion-icon name="card"></ion-icon>
          {{ 'STUDENTS' | translate }}
        </button>
      </ion-col>

      <ion-col class="d-none d-sm-block">
        <button (click)="a.open('menu')">
          <ion-icon name="card"></ion-icon>
          {{ 'STUDENTS' | translate }}
        </button>
      </ion-col>

      <ion-col>
        <button (click)="a.open('menu')">
          <ion-icon name="menu"></ion-icon>
          {{ 'ALL MENU' | translate }}
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-toolbar>
