#header-icons {
  ion-col {
    padding: 0!important;
    text-align: center;

    button {
      @media all and ( min-width: $sm ) {
        margin-top: .4em!important;
      }

      padding: .5em .25em;
      width: 100%;
      font-size: .9em;
      font-weight: 100;
      background-color: transparent!important;

      .svg-inline--fa {
        font-size: 2.2rem!important;
      }

      div {
        margin-top: 0.5rem!important;
        @media all and ( min-width: $sm ) {
          margin-top: .8em!important;
        }
      }
      
      
      
      // ion-icon {
      //   display: block;
      //   margin-bottom: .25em;
      //   font-size: 1.8em; // icon size.
      // }
    }
  }
}
