<section class="mobile-toolbar d-md-none" *ngIf=" a.lms.getUserType() != 'teacher' ">
  <ion-grid class="px-0" [class.pb-0]=" page != 'home' ">
    <ion-row>
      <ion-col col-3>
        <div class="pl-3 pt-sm-3 fs-2rem" (click)="a.open('menu')">
          <i class="fal fa-bars"></i>
        </div>
      </ion-col>
      <ion-col col-5>
        <div class="m-0 p-0 pt-1" (click)="a.open('home')">
          <img src="assets/img/logo/katalk-english.png">
        </div>
      </ion-col>
      <ion-col col-4 class="">
        <div class="d-flex p-2 pt-sm-4" style="justify-content: flex-end">

          <ng-container [ngSwitch]="page">
            <ng-container *ngSwitchCase=" 'schedule-table' ">
                <!-- <span (click)="a.open('reservation')">예약된 수업 목록</span> -->
                <span (click)="a.open('home')">홈</span>
                <span class="pl-2" (click)="a.open('menu')">메뉴</span>
                <span class="pl-2" (click)="a.open('reservation')">나의수업</span>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <span (click)="a.open('payment')">수강료</span>
                <!-- <span class="pl-2" (click)="a.open('teacher-list')">수업예약</span>       -->
                <span class="pl-2" (click)="a.open('reservation')">나의수업</span>
            </ng-container>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <nav class="">
    <ul class="m-0 p-0 d-flex"
    [class.front-page]=" page == 'home' "
    [class.sub-page] = " page != 'home' "
    
    style="list-style: none; justify-content:space-around;">
    <li class="p-3" (click)=" a.open('page', {name: 'student.guide'}) ">이용안내</li>
      <li class="p-3" (click)=" a.open('teacher-list') ">무료체험</li>
      <li class="p-3" (click)=" a.open('teacher-list') ">즉시수업</li>
      <li class="p-3">질문하기</li>
    </ul>
  </nav>
</section>



<section class="mobile-toolbar d-md-none d-flex p-2" *ngIf=" a.lms.getUserType() == 'teacher' ">


  <ion-icon class="px-2 fs-xl" name="menu" style="margin-top: .28em" (click)=" a.open('menu') "></ion-icon>
  <div class="p-2" (click)=" a.open('home') ">Home</div>

  <ng-container *ngIf=" a.user.isLogin; else userLogout ">

      <div class="p-2" (click)=" a.open('reservation', {future: true}) ">Reserved</div>
      <div class="p-2" (click)=" a.open('reservation', {past: true}) ">Past</div>
      <div class="p-2" (click)=" a.open('schedule-edit') ">Schedule</div>
      <div class="p-2" (click)=" a.user.logout() ">Logout</div>

  </ng-container>
  
  <ng-template #userLogout>

      <div class="p-2" (click)=" a.open('login') ">Login</div>
      
  </ng-template>

</section>


<ion-toolbar class="d-none d-md-block">
  <ion-grid no-padding>
    <ion-row id="header-icons">
      <ion-col>
        <button class="header-home" (click)="a.open( 'home' )">
          <i class='fal fa-home'></i>
          <div>{{ 'HOME' | translate }}</div>
        </button>
      </ion-col>


      <ion-col *ngIf="a.isTeacher">
        <button class="header-schedule-edit" (click)="a.open( 'schedule-edit' )">
          <i class="fal fa-calendar-plus"></i>
          <div>{{ 'SCHEDULE' | translate }}</div>
        </button>
      </ion-col>


      <ion-col *ngIf=" a.isTeacher ">
        <button class="header-dayoff" (click)="a.open( 'dayoff' )">
          <i class="fal fa-calendar-plus"></i>
          <div>Day-Offs</div>
        </button>
      </ion-col>

      <ion-col *ngIf=" a.isStudent ">
        <button class="header-reserve" (click)="a.open( 'teacher-list' )">
          <i class="fal fa-calendar-plus"></i>
          <div>{{ 'RESERVE' | translate }}</div>
        </button>
      </ion-col>


      <ion-col>
        <button class="header-teacher-list" (click)="a.open( 'teacher-list' )">
          <i class="fal fa-users"></i>
          <div>{{ 'TEACHER LIST' | translate }}</div>
        </button>
      </ion-col>

      <ion-col>
        <button class="header-reservation" (click)=" a.open('reservation', {future: true}) ">
          <i class="fal fa-th blue"></i>
          <div>{{ 'RESERVATIONS' | translate }}</div>
        </button>
      </ion-col>


      <ion-col>
        <button class="header-past-reservation" (click)=" a.open('reservation', {past: true}) ">
          <i class="fal fa-archive grey"></i>
          <div>{{ 'PASTS' | translate }}</div>
        </button>
      </ion-col>


      <ion-col class="d-none d-sm-block">
        <button class="header-message" (click)="a.open('message')">
          <i class="fal fa-comment"></i>
          <div>{{ 'MESSAGE' | translate }}</div>
        </button>
      </ion-col>


      <ion-col class="d-none d-sm-block">
        <button class="header-curriculum" (click)="a.open('menu')">
          <i class="fal fa-credit-card-front"></i>
          <div>{{ 'CURRICULUM' | translate }}</div>
        </button>
      </ion-col>


      <ion-col class="d-none d-sm-block">
        <button class="header-free-class" (click)="a.open('menu')">
          <i class="fal fa-credit-card"></i>
          <div>{{ 'FREE CLASS' | translate }}</div>
        </button>
      </ion-col>


      <ion-col class="d-none d-sm-block">

        <button class="header-forum" (click)="a.open('forum')">

          <i class="fal fa-comments"></i>
          <div>{{ 'FORUM' | translate }}</div>

        </button>
      </ion-col>


      <ion-col class="d-none d-sm-block">
        <button class="header-class-comment" (click)="a.open('menu')">
          <i class="fal fa-credit-card"></i>
          <div>{{ 'CLASS COMMENTS' | translate }}</div>
        </button>
      </ion-col>


      <ion-col>
        <button class="header-menu" (click)="a.open('menu')">

          <i class="fal fa-bars"></i>
          <div>{{ 'ALL MENU' | translate }}</div>


        </button>
      </ion-col>

    </ion-row>
  </ion-grid>


</ion-toolbar>
