$border-color: map-get( map-get( $color-maps, 'grey' ), 200 );
schedule-table-page {
  @include theme('grey');
  .user-point {
    background-color: map-get( map-get( $color-maps, 'grey' ), 200 );
  }

  .schedule-table {
    &,
    th,
    td {
      border: 1px solid $border-color;
    }
  }
  [icon-name="lock"] {
    color: #ddd;
  }
  [icon-name="square"] {
    color: #eee;
  }
  [icon-name="qr-scanner"] {
    color: #eee;
  }
  [icon-name="radio-button-off"] {
    color: #88f;
  }
  [icon-name="checkmark"] {
    color: grey;
  }
  [owner="me"] {
    color: #d00!important;
  }
  .play-youtube {
    position: absolute;
    opacity: .2;
    top: -60px;
    left: -60px;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .teacher-profile {
    width: 58px;
    overflow: hidden;
    .photo {
      margin: 0 auto;
      width: 48px;
      height: 52px;
      overflow: hidden;
      border-radius: 4px;
      img {
        width: 100%;
      }
    }
    .teacher-name {
      font-size: 1.2rem!important;
    }
  }

  .session-datetime {
    width: 42px;
    overflow: hidden;
  }
  .schedule-header {
    margin-bottom: .5em;
    padding-top: .25em;
    padding-bottom: .25em;
    background-color: $border-color;
    .datetime {
      cursor: pointer;
    }
  }
  .tr.schedule-row {
    margin-bottom: .5em;
  }
  .session-wrapper {
    // session
    width: 42px;
    overflow: hiden;
  }
  .icon-desc {
    margin-top: 1.5em;
    padding: 1em;
    border: 1px solid $border-color;

    ul {
      @include list-style-none();
      li {
          padding: .25em 0;
      }
    }
    .more-button {
        padding: 1em 0;
    }
  }

  .kakao {
    .kakao-button {
      background-color: #ffe818;
    }
  }
}
