<ion-header>
  <header-content page="schedule-table"></header-content>
</ion-header>

<ion-content #content>
  <div class="page">
    <div class="single-teacher p-3" *ngIf=" singleTeacher ">
      <table *ngIf="teacher_name(); else singleTeacherLoader">
        <tr>
          <td>
            <div class="teacher-profile-photo position-relative" (click)=" playTeacherYoutube(); ">
              <img src="{{ teacher_photoURL() }}">
              <i class="fas fa-play-circle position-absolute bottom-0 right-0 mr-3 mb-3 red fs-3rem pointer"></i>
            </div>
            <div class="grade mt-1 text-center" [attr.grade]=" teacher_grade() ">
              <i class="star fas fa-star" *ngFor="let i of a.countStar(teacher_grade())"></i>
              <i class="star empty-star fal fa-star" *ngFor="let i of a.countEmptyStar(teacher_grade())"></i>
            </div>
          </td>
          <td valign="top">
            <div class="teacher-info ml-4">
              <div class="fs-2rem">{{ teacher_name() }}</div>
              <div class="meta mt-2 pl-1">

                <div>
                  {{ teacher_age() }}/{{ teacher_gender() | translate }}
                </div>
                <div>{{ 'NATIONALITY' | translate }}: {{ teacher_profile['nationality'] }}</div>
                <div>
                  {{ 'TAKEN' | translate }}: {{ teacher_profile.total_reservation }} {{ 'HAD SESSIONS' | translate }}
                </div>

                <div class="py-2">
                  {{ 'CURRICULUM VITAE' | translate }}
                </div>
              </div>

              <div class="kakao d-flex pt-2">
                <div>
                  <img class="size-30" src="assets/img/kakao-friend-add.jpg">
                </div>
                <div class="p-2">{{ 'ADD KAKAO' | translate }}</div>
              </div>

            </div>


          </td>
        </tr>
      </table>

      <div class="video-container" *ngIf=" urlYoutube ">
        <iframe class="youtube-video border-0" [src]=" urlYoutube "></iframe>
      </div>

      <ng-template #singleTeacherLoader>
        <ion-spinner></ion-spinner> 선생님 정보를 로드중입니다.</ng-template>
    </div>
    <!--/single-teacher-->
    <div class="multiple-teachers" *ngIf=" ! singleTeacher ">
      <section class="page-header d-flex justify-content-between">
        <h2 class="title">{{ "ALL SCHEDULE" | translate }}</h2>

        <div (click)=" display_options = !display_options " *ngIf=" ! display_options ">
          <ion-icon name="options"></ion-icon>
          {{ 'SCHEDULE TABLE SEARCH OPTIONS SHORT' | translate }}
        </div>

      </section>
    </div>
    <!--/multiple-teachers-->



    <div class="user-point d-flex justify-content-between p-3" *ngIf=" (a.user.isLogin && my_point) || status">

        <div class="black" *ngIf=" status ">
          <i class="fas fa-spinner fa-spin"></i>
          <!-- <span *ngIf=" status_n ">[{{ length_of_schedule_table_rows }}] {{ status_n }}</span> -->
          {{ status | translate }}
        </div>

        <div class="d-flex " *ngIf=" ! status ">
          <div>
            {{ 'POINT' | translate }}:
            <span *ngIf=" ! a.inLoadingMyPoint ">{{ my_point }}</span>
            <ion-spinner class="size-3" *ngIf=" a.inLoadingMyPoint "></ion-spinner>
          </div>
          <div class="ml-2">
            {{ 'TIME NOW' | translate }}: {{ time }}
          </div>
        </div>

        <!-- <div class="mt-1 fw-bold pointer" (click)=" a.open('help') ">
          {{ 'HELP' | translate }}
        </div>
         -->
      </div>

    <section class="schedule-table-content page-body">


      <div class="search-options mt-3" *ngIf=" display_options ">

        <ion-list class="mb-0">

          <ion-item *ngIf=" singleTeacher ">
            <div class="buttons pointers">
              <button class="primary" (click)=" a.open('schedule-table') ">모든 강사 표시</button>
              <button class="primary" (click)=" a.open('schedule-available') ">즉시 수업 가능한 강사 표시</button>
            </div>
          </ion-item>
          <ion-item>
            <ion-label class="blue">{{ 'SELECT HOURS' | translate }}</ion-label>
            <ion-select [(ngModel)]="class_begin_hour" (ionChange)="onChangeSearchOption()">
              <ion-option *ngFor=" let h of begin_hours " value="{{ h }}">{{ h }} 시 부터</ion-option>
            </ion-select>
            <ion-select [(ngModel)]="class_end_hour" (ionChange)="onChangeSearchOption()">
              <ion-option *ngFor=" let h of end_hours " value="{{ h }}">{{ h }} 시 까지</ion-option>
            </ion-select>
          </ion-item>


          <ion-item>
            <ion-label class="blue">{{'HOW MANY DAYS'|translate}}</ion-label>
            <ion-select [(ngModel)]="days" (ionChange)="onChangeSearchOption()" okText="확인" cancelText="취소" [selectOptions]="{ title: '수업 시간표에 몇 일을 표시 할까요?', cssClass:'select-no-of-day'}">
              <ion-option value="5">5 일 표시</ion-option>
              <ion-option value="6">6 일 표시</ion-option>
              <ion-option value="7">7 일 표시</ion-option>
              <ion-option value="10">10 일 표시</ion-option>
              <ion-option value="15">15 일 표시</ion-option>
              <ion-option value="20">20 일 표시</ion-option>
              <ion-option value="25">25 일 표시</ion-option>
              <ion-option value="30">30 일 표시</ion-option>
            </ion-select>
          </ion-item>



          <ion-item>
            <ion-label class="blue">{{ 'HOW MANY MINUTES' | translate }}</ion-label>
            <ion-select [(ngModel)]="min_duration" (ionChange)="onChangeSearchOption()" [selectOptions]="{cssClass:'select-minute'}">
              <ion-option value="0">0분 부터</ion-option>
              <ion-option value="5">5분 부터</ion-option>
              <ion-option value="10">10분 부터</ion-option>
              <ion-option value="15">15분 부터</ion-option>
              <ion-option value="20">20분 부터</ion-option>
              <ion-option value="25">25분 부터</ion-option>
              <ion-option value="30">30분 부터</ion-option>
              <ion-option value="40">40분 부터</ion-option>
              <ion-option value="50">50분 부터</ion-option>
              <ion-option value="60">60분 부터</ion-option>
              <ion-option value="80">80분 부터</ion-option>
              <ion-option value="120">120분 부터</ion-option>
            </ion-select>
            <ion-select [(ngModel)]="max_duration" (ionChange)="onChangeSearchOption()" [selectOptions]="{cssClass:'select-duration'}">
              <ion-option value="5">5분 사이</ion-option>
              <ion-option value="10">10분 사이</ion-option>
              <ion-option value="15">15분 사이</ion-option>
              <ion-option value="20">20분 사이</ion-option>
              <ion-option value="25">25분 사이</ion-option>
              <ion-option value="30">30분 사이</ion-option>
              <ion-option value="40">40분 사이</ion-option>
              <ion-option value="50">50분 사이</ion-option>
              <ion-option value="60">60분 사이</ion-option>
              <ion-option value="80">80분 사이</ion-option>
              <ion-option value="120">120분 사이</ion-option>
              <ion-option value="160">160분 사이</ion-option>
            </ion-select>

          </ion-item>

          <ion-item>
            <ion-label class="blue">{{ 'HOW MANY POINT' | translate }}</ion-label>
            <ion-select [(ngModel)]="min_point" (ionChange)="onChangeSearchOption()" [selectOptions]="{cssClass:'select-min-point'}">
              <ion-option value="0">0 포인트 이상</ion-option>
              <ion-option value="500">500 포인트 이상</ion-option>
              <ion-option value="1000">1,000 포인트 이상</ion-option>
              <ion-option value="1500">1,500 포인트 이상</ion-option>
              <ion-option value="2000">2,000 포인트 이상</ion-option>
              <ion-option value="2500">2,500 포인트 이상</ion-option>
              <ion-option value="3000">3,000 포인트 이상</ion-option>
              <ion-option value="4000">4,000 포인트 이상</ion-option>
              <ion-option value="5000">5,000 포인트 이상</ion-option>
              <ion-option value="6000">6,000 포인트 이상</ion-option>
              <ion-option value="8000">8,000 포인트 이상</ion-option>
              <ion-option value="12000">12,000 포인트 이상</ion-option>
            </ion-select>
            <ion-select [(ngModel)]="max_point" (ionChange)="onChangeSearchOption()" [selectOptions]="{cssClass:'select-max-point'}">
              <ion-option value="500">500 포인트 이하</ion-option>
              <ion-option value="1000">1,000 포인트 이하</ion-option>
              <ion-option value="1500">1,500 포인트 이하</ion-option>
              <ion-option value="2000">2,000 포인트 이하</ion-option>
              <ion-option value="2500">2,500 포인트 이하</ion-option>
              <ion-option value="3000">3,000 포인트 이하</ion-option>
              <ion-option value="4000">4,000 포인트 이하</ion-option>
              <ion-option value="5000">5,000 포인트 이하</ion-option>
              <ion-option value="6000">6,000 포인트 이하</ion-option>
              <ion-option value="8000">8,000 포인트 이하</ion-option>
              <ion-option value="12000">1만2천 포인트 이하</ion-option>
              <ion-option value="16000">1만6천 포인트 이하</ion-option>
              <ion-option value="24000">2만4천 포인트 이하</ion-option>
              <ion-option value="100000">10만 이하</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label class="blue">{{ 'DISPLAY WEEKENDS' | translate }}</ion-label>
            <ion-toggle [(ngModel)]="displayWeekends" (ionChange)="onChangeSearchOption()"></ion-toggle>
          </ion-item>

        </ion-list>

        <div class="buttons mb-5 d-flex justify-content-center">
          <button class="red pt-0 px-5" (click)="display_options = false">
            <i class="fal fa-times"></i> {{ 'CLOSE' | translate }}
          </button>
        </div>

      </div>
      <!--/search-options-->





      <div class="buttons d-flex justify-content-between mt-4 mb-4">
        <div>
          <span class="black" (click)="onClickNavigate('previous-week')">
            <ion-icon name="arrow-back"></ion-icon> {{ 'PREVIOUS WEEK' | translate }}</span>
          <span class="ml-3 dodgerblue" (click)="onClickNavigate('today')">
            <ion-icon name="refresh"></ion-icon> {{"TODAY" | translate}}</span>
          <span class="ml-3 black" (click)="onClickNavigate('next-week')">
            <ion-icon name="arrow-forward"></ion-icon> {{"NEXT WEEK" | translate}}</span>
          <span class="ml-3 black" (click)="onClickNavigate('next-month')">
            <ion-icon name="fastforward"></ion-icon> {{"NEXT MONTH" | translate}}</span>
        </div>
        <div (click)=" display_options = !display_options; " *ngIf=" ! display_options ">
          <ion-icon name="options"></ion-icon>
          {{ 'SCHEDULE TABLE SEARCH OPTIONS SHORT' | translate }}
        </div>
      </div>


      <div class="alert alert-warning" *ngIf=" ! singleTeacher ">


        <div *ngIf=" ! show.more_total_schedule_warning ">
          주의! 전체 선생님 수업 시간표는 시간이 걸립니다.
        </div>
        <div class="d-none" [class.d-block]=" show.more_total_schedule_warning ">
          전체 선생님 수업 시간표를 표시 할 경우, 수업 시간표가 너무 많아서 서버로 부터 시간표 데이터를 가져오는데 시간이 걸리며, 속도가 느려질 수 있습니다. 반드시 검색 옵션을 통해서 표시 할 시간표를 조정해 주세요.
        </div>

        <div *ngIf=" ! singleTeacher ">
          시간 표시 옵션 : <b>{{ class_begin_hour }}시 부터 {{ class_end_hour }}시 까지</b> 표시
        </div>
        <div class="d-flex justify-content-between mt-1">

          <div (click)=" show.more_total_schedule_warning = !show.more_total_schedule_warning ">
            <span *ngIf="!show.more_total_schedule_warning">
              <i class="fal fa-arrow-alt-down"></i>
            </span>
            <span *ngIf="show.more_total_schedule_warning">
              <i class="fal fa-arrow-alt-up"></i>
            </span>
            자세히
            <i class="fal fa-ellipsis-h"></i>
          </div>


          <div class="ml-3" (click)=" display_options = !display_options ">
            <i class="fal fa-cog"></i> 검색 옵션</div>
        </div>

      </div>



      <div class="table schedule-table" *ngIf=" schedule_table_rows.length " width="100%">

        <ng-container *ngFor="let sessions of schedule_table_rows; let i = index">

          <div class="tr schedule-header d-flex" *ngIf=" i % 10 == 0 ">
            <div class="td teacher-profile" *ngIf=" ! singleTeacher ">
              <div class="text-center">{{ 'TEACHER' | translate }}</div>
            </div>
            <div class="td session-datetime text-center">
              <div class="">{{ 'TIME' | translate }}</div>
              <div class="">{{ 'MINUTE' | translate }}</div>
            </div>
            <!-- <td>Reserve Visible</td> -->
            <div class="td datetime session-wrapper" *ngFor="let header of header">
              <div class="w-100 text-center" (click)="onClickNavigate( header.date )">
                <!--{{ header | json }}-->
                {{ header.display_date }}
                <br> {{ header.user_time_day | translate }}
              </div>
            </div>
          </div>


          <div class="tr schedule-row d-flex" valign="top">

            <div class='td teacher-profile pointer' text-center *ngIf=" ! singleTeacher " (click)=" a.open('schedule-table', { ID: teacher_ID(sessions[0]) }) ">
              <div class="photo">
                <img src="{{ teacher_photoURL( sessions[0] ) }}">
              </div>
              <div class="teacher-name">{{ teacher_name( sessions[0] ) }}</div>
            </div>

            <div class="td session-datetime pt-2 text-center">
              <div>
                {{ session_time( sessions[0] ) }}
              </div>
              <div>
                {{ session_duration( sessions[0] ) }} 분
              </div>

            </div>

            <div class="td session-wrapper" *ngFor=" let session of sessions ">
              <!--{{session|json}}-->
              <div class="session pointer" [attr.status]=" session[ STATUS ] " [attr.open]=" session[ OPEN ] " [attr.owner]=" session[ OWNER ] "
                text-center (click)="onClickSession( session )">
                <!-- show icon -->
                <div class="status-icon" *ngIf=" !session.in_progress ">
                  <ion-icon class="fs-3rem" name="{{ icon(session) }}" [attr.icon-name]=" icon(session) "></ion-icon>
                </div>

                <!-- show loader -->
                <div class="loader-icon">
                  <ion-spinner name="bubbles" *ngIf=" session.in_progress "></ion-spinner>
                </div>

                <!-- show class informatio -->
                <div>{{ point( session ) }}</div>
                <div *ngIf=" session.status == 'reserved' ">{{ session[ STUDENT_NAME ] }}</div>
                <div>{{ session[ PRERE ] }}</div>
                <div class="fs-lg">{{ session_text(session) }}</div>
                <!-- <div>{{ session.idx_reservation }}</div> -->
                <!-- <div>{{ session.day }}</div> -->
              </div>
              <div class="session empty" *ngIf=" session.status == 'empty' "></div>

            </div>

          </div>

        </ng-container>
      </div>
      <!--/schedule-body-table-->


      <div class="icon-desc">
        <ul>
          <li>
            <ion-icon name="radio-button-off" icon-name="radio-button-off"></ion-icon> - 예약 가능(아무도 예약하지 않았음)
          </li>
          <li>
            <ion-icon name="radio-button-on" owner="me"></ion-icon> - 내가 예약한 수업. 취소 가능.
          </li>

          <ng-container *ngIf=" show.more_icon_desc ">
            <li>
              <ion-icon name="checkmark" icon-name="checkmark"></ion-icon> - 다른 학생에 의해 예약된 수업.
            </li>
            <li>
              <ion-icon name="lock" icon-name="lock"></ion-icon> - 지난 수업 (예약됨).
            </li>

            <li>
              <ion-icon name="square" icon-name="square"></ion-icon> - 지난 수업 (예약안됨).
            </li>
            <li>
              <ion-icon name="qr-scanner" icon-name="qr-scanner"></ion-icon> - 수업이 없는 날.
            </li>

            <li>
              <ion-icon name="cloud-circle"></ion-icon> - 강사 쉬는 날.
            </li>
            <li>
              <ion-icon name="cloud-done"></ion-icon> - 강사 쉬는 날(예약이 있음).
            </li>

            <li>
              강사의 사진을 클릭하면 해당 강사의 수업 시간표만 볼 수 있습니다.
            </li>
          </ng-container>
        </ul>
        <div class="more-button" (click)=" show.more_icon_desc = true " *ngIf=" ! show.more_icon_desc ">
          자세히
          <i class="fal fa-ellipsis-h"></i>
        </div>
      </div>

    </section>
    <!--/schedule-table-->


    <div class="my-5 text-center" *ngIf=" no_more_schedule ">
      No more schedule
    </div>



  </div>



  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom #fab>
    <button ion-fab mini color="light">
      <ion-icon name="ios-arrow-dropleft" color="dark"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button color="dark" ion-fab (click)="onClickNavigate('next-month')">
        <ion-icon name="fastforward"></ion-icon>
      </button>
      <button color="dark" ion-fab (click)="onClickNavigate('next-week')">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <button color="dark" ion-fab (click)="onClickNavigate('today')">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button color="dark" ion-fab (click)="onClickNavigate('previous-week')">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
      <button color="secondary" ion-fab (click)="onClickFabOptions(); fab.close();">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
