<section class="bg-page">

  <div class="options hide-effect mb-5" *ngIf=" share.options ">

    <ion-grid *ngIf=" past " no-padding>

      <ion-row class="my-3">
        <ion-col class="pr-md-2 pr-0">
          <ion-list class="mb-0 border" no-lines>
              <ion-item>
                <ion-label>{{ 'DATE BEGIN' | translate }}</ion-label>
                <ion-datetime name="date_begin" displayFormat="MM/DD/YYYY" pickerFormat="YYYYMMDD" [(ngModel)]="date_begin" (ngModelChange)="onChangeSearchOption()"></ion-datetime>
              </ion-item>
          </ion-list>
        </ion-col>

        <ion-col class="pl-md-2 pl-0">
          <ion-list class="mb-0 border" no-lines>
              <ion-item>
                <ion-label>{{ 'DATE END' | translate }}</ion-label>
                <ion-datetime name="date_end" displayFormat="MM/DD/YYYY" pickerFormat="YYYYMMDD" [(ngModel)]="date_end" (ngModelChange)="onChangeSearchOption()"></ion-datetime>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-list class="mb-3 border"  *ngIf=" my_teachers "  no-lines>
      <ion-item>
        <ion-label class="blue">{{'SELECT TEACHER'| translate}}</ion-label>
        <ion-select [(ngModel)]="show_teacher" (ionChange)="onChangeSearchOption()" okText="{{ 'OK' | translate }}" cancelText="{{ 'CANCEL' | translate }}"
          [selectOptions]="{ title: a.i18n.SELECT_TEACHER_TITLE, cssClass:'select-teacher' }">
          <ion-option *ngFor="let teacher of teachers_keys" [value]="teacher">{{ my_teachers[teacher].name }}</ion-option>
          <ion-option [value]="0">{{ "ALL TEACHER" | translate }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list class="border border-bottom-0"  *ngIf=" past "  no-lines>
      <ion-item class="border border-top-0 border-left-0 border-right-0">
        <ion-checkbox [(ngModel)]="show_refund_in_progress" color="vibrant" (ionChange)="onChangeSearchOption()"></ion-checkbox>
        <ion-label>
          {{ 'DISPLAY SESSION IN PROGRESS' | translate }}
        </ion-label>
      </ion-item>
      <ion-item  class="border border-top-0 border-left-0 border-right-0">
        <ion-checkbox [(ngModel)]="show_refunded" color="vibrant" (ionChange)="onChangeSearchOption()"></ion-checkbox>
        <ion-label>
          {{ 'DISPLAY REFUNDED SESSION' | translate }}
        </ion-label>
      </ion-item>
      <ng-container *ngIf="a.isStudent">
        <ion-item  class="border border-top-0 border-left-0 border-right-0">
          <ion-checkbox [(ngModel)]="displayTeacherName" color="vibrant"></ion-checkbox>
          <ion-label>
            선생님 이름 표시
          </ion-label>
        </ion-item>
        <ion-item  class="border border-top-0 border-left-0 border-right-0">
          <ion-checkbox [(ngModel)]="displayDate" color="vibrant"></ion-checkbox>
          <ion-label>날짜 표시</ion-label>
        </ion-item>
        <ion-item   class="border border-top-0 border-left-0 border-right-0">
          <ion-checkbox [(ngModel)]="displayPoint" color="vibrant"></ion-checkbox>
          <ion-label>포인트 표시</ion-label>
        </ion-item>
      </ng-container>
    </ion-list>

    <div class="buttons d-flex justify-content-center mb-4">
      <button class="text-uppercase primary d-flex align-items-center fs-90" (click)=" share.options = false ">
        <i class="fal fa-times mr-1"></i>
        {{ 'CLOSE' | translate }}
      </button>
    </div>
    <hr>
  </div>
  <!--/options-->

  <div class="alert alert-warning mt-md-5 mt-0 mb-0" *ngIf=" a.isTeacher ">
    Teacher must see this page in wide screen since the content in this page is wide.
  </div>

  <ion-grid class="page-desc bg-img search-result mb-md-5 my-0 " *ngIf=" re && books.length " no-padding>
    <ion-row class="p-4 pl-md-0 pr-md-5" align-items-stretch justify-content-around text-center>
      <ion-col class=" my-2 mb-md-0" col-md-2 col-12>
        <i class=" d-md-inline d-none fal fa-list fa-4x  mb-3 orange"></i>
          <div class="d-flex-column d-sm-flex-row align-items-center h-100 ">
              <i class="d-inline d-md-none fal fs-2rem fa-list  mr-2 orange"></i>
              <div class="d-flex align-items-center mr-3 mr-md-0 fw-bold fs-110">{{ 'SEARCHED SESSIONS' | translate }}</div>
              <div class="mt-md-3 mt-0"> {{ books.length }}</div>
              <div> ( {{ 'TOTAL' | translate }} : {{ re.total_sessions }} )</div>
          </div>
      </ion-col>
      <ion-col class="my-2" *ngIf=" a.isTeacher " col-md-2 col-12>
        <i class="fal fa-check-circle fa-4x  d-none d-md-inline mb-3 green"></i>
          <div class="d-flex-column d-sm-flex-row align-items-center h-100">
              <i class="fal fa-check-circle d-inline d-md-none  mr-2 fs-2rem green"></i>
            <div class="d-flex align-items-center mr-3 mr-md-0 fs-110 fw-bold">{{ 'SEARCHED POINT' | translate }}</div>
            <div class="my-md-3 my-0 "> {{ re.total_points | number }}</div>
          </div>
      </ion-col>
      <ng-container *ngIf=" past " >
          <ion-col class="my-2" col-md-2 col-12  *ngIf=" re.total_session_refunded ">
              <i class="fal d-none d-md-inline fa-retweet fa-4x mb-3 brown"></i>
                <div class="d-flex-column d-sm-flex-row align-items-center h-100">
                    <i class="fal fa-redo-alt  d-inline d-md-none mr-2  brown fs-2rem"></i>
                    <div class="d-flex align-items-center mr-3 mr-md-0 fw-bold fs-110">{{ 'REFUNDED SESSIONS' | translate }}</div>
                    <div class="mt-md-3 mt-0"> {{re.total_session_refunded}}</div>
                </div>
            </ion-col> 
            <ion-col class="my-2" col-md-2 col-12   *ngIf=" re.total_session_refund_in_progress ">
                <i class="fal fa-sync d-none d-md-inline fa-4x mb-3 teal"></i>
                <div  class="d-flex-column d-sm-flex-row align-items-center h-100">
                    <i class="fal fa-sync d-inline d-md-none mr-2 fs-2rem teal"></i>
                    <div class="d-flex align-items-center mr-3 mr-md-0 fw-bold fs-110">{{ 'SESSIONS IN REFUND PROGRESS' | translate }}</div>
                    <div class="mt-md-3 mt-0">  {{re.total_session_refund_in_progress}}</div>
                </div>
            </ion-col>
      </ng-container>
      <ion-col class="my-2" col-md-2 col-12>
        <i class="fal fa-calendar-alt fa-4x d-none d-md-inline mb-3 indigo"></i>
          <div class="d-flex-column d-sm-flex-row align-items-center h-100">  
            <i class="fal fa-calendar-alt d-inline d-md-none mr-2 fs-2rem indigo"></i>
            <div class="d-flex align-items-center mr-3 mr-md-0 fw-bold fs-110">{{ 'SEARCH PERIOD' | translate }}</div>
            <div class="d-flex-column d-sm-flex-row align-items-center mt-md-3 mt-0">
              <span>{{ date_begin }}</span>
              <span class="mx-2"> ~ </span>
              <span> {{ date_end }} </span>
              </div>
          </div>
      </ion-col>
      <ion-col class="pointer mt-2 mb-md-0" col-md-2 col-12 (click)=" a.open('settings') ">
          <i class="fal fa-globe dodgerblue fa-4x d-none d-md-inline  mb-3"></i>
          <div class="d-flex d-flex-column d-sm-flex-row align-items-center">
            <i class="fal fa-globe d-inline d-md-none mr-2 fs-2rem dodgerblue"></i>
            <div class="d-flex align-items-center mr-3 mr-md-0 fw-bold fs-110">{{ 'TIMEZONE NOW' | translate }}</div>
            <div class="mt-md-3 mt-0 fs-90 fs-sm-1dot4rem"> {{ a.userTime }}</div>
          </div>
          <div class="app-button hover-effect mt-3 px-3  border bg-white black" >{{ 'CHANGE TIMEZONE' | translate }}</div>
        </ion-col> 
    </ion-row>


  </ion-grid>

  <div class="my-5 p-5 text-center" *ngIf=" re && books.length == 0 ">
    <ng-container *ngIf=" future ">{{ 'NO MORE RESERVATIONS' | translate }}</ng-container>
    <ng-container *ngIf=" past ">{{ 'NO MORE PASTS' | translate }}</ng-container>
  </div>

  <div class="alert alert-warning d-flex my-5 mx-4 p-4 rounded-0" *ngIf=" re == null ">
    <ion-spinner></ion-spinner>
    <span class="px-3 py-2">
        {{ 'IN LOADING' | translate }}
    </span>
  </div>

  <div class="books my-md-5 mt-0 " *ngIf=" books.length ">
    <ion-grid no-padding text-center>
          
      <ion-row class="sticky-effect px-md-5 px-0 py-4 bg-blue-60 fw-bold white text-uppercase" justify-content-between align-items-center >
        <ion-col  *ngIf="a.isStudent" col-3 col-md-1>
            <div>{{ 'TEACHER' | translate }}</div>
        </ion-col>
        <ion-col *ngIf="a.isTeacher" col-3 col-md-2>
            <div>{{ 'STUDENT' | translate }}</div>
        </ion-col>
        <ion-col *ngIf="a.isTeacher" col-2 col-md-1>
            <div>{{ 'CLASS NO' | translate }}</div>
        </ion-col>
        <ion-col *ngIf="displayDate" col-2 col-md-1>
          <div>{{ 'DATE' | translate }}</div>
        </ion-col>
        <ion-col col-2 col-md-1>
          <div>{{ 'TIME' | translate }}</div>
        </ion-col>
        <ion-col col-1 col-md-1>
          <div>{{ 'MINUTE' | translate }}</div>
        </ion-col>
        <ion-col  *ngIf=" future " col-2 col-md-2>
            <div class="fs-lg"> {{ 'KAKAOTALK' | translate }}
              <br> {{ 'ADD FRIEND' | translate }}
            </div>
        </ion-col>
        <ion-col  *ngIf="displayPoint" col-2 col-md-1>
          <div>{{ 'POINT' | translate }}</div>
        </ion-col>
        <ion-col class="d-none d-md-flex justify-content-center" col-2 col-md-3>
          <ng-container  *ngIf=" a.isStudent && past ">
              <div> 결과</div>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row class="px-md-5 px-0 py-4 border border-top-0 border-right-0 border-left-0 " 
              *ngFor="let book of books; let i = index; let o = odd; let e = even" 
              [ngClass]=" { 'odd': o, 'even': e } " 
              justify-content-between align-items-center >
        <ion-col *ngIf="a.isStudent" col-3 col-md-1>
            <section class="teacher-photo">
              <div class="pointer mx-auto size-40 rounded-50 of-hidden" (click)=" a.open('schedule-table', { ID: book.idx_teacher })">
                <img class="d-block w-100" src="{{ photoURL( book )  }}">
              </div>
              <div class="mt-2  fs-90 text-uppercase" *ngIf="displayTeacherName">{{ a.preTeacherName(my_teachers[book.idx_teacher].name) }}</div>
            </section>
        </ion-col>
        <ion-col  *ngIf="a.isTeacher" col-3 col-md-2>
            <div class="fw-bold fs-90"> {{ a.preTeacherName(book.student_name) }}</div>
        </ion-col>
        <ion-col *ngIf=" a.isTeacher " col-2 col-md-1>
          <div>{{book.idx}}</div>
        </ion-col>
        <ion-col *ngIf="displayDate" col-2 col-md-1>
          <div>{{ date(book.date_display) }}</div>
        </ion-col>
        <ion-col col-2 col-md-1>
          <div>{{book.class_begin_display}}</div>
        </ion-col>
        <ion-col col-1 col-md-1>
          <div>{{book.duration}}</div>
        </ion-col>
        <ion-col  *ngIf=" future " col-2 col-md-2>
            <div class="kakaotalk-id">
                <ng-container *ngIf="a.isTeacher">
                  {{book.student_kakaotalk_id}}
                </ng-container>
                <ng-container *ngIf="a.isStudent">

                  <div class="fs-3rem orange" 
                      (click)=" onClickKakaoQRMarkString( my_teachers[book.idx_teacher].kakao_qrmark_string ) " 
                      *ngIf=" a.isMobile() ">
                    <i class="fas fa-plus-circle"></i>
                  </div>
                  <div *ngIf=" ! a.isMobile() ">
                    {{ my_teachers[book.idx_teacher].kakaotalk_id }}
                  </div>

                </ng-container>
              </div>
        </ion-col>
        <ion-col  *ngIf="displayPoint" col-2 col-md-1>
          <div class="blue"> {{ point(book) }}</div>
        </ion-col>
        <ion-col col-12 col-md-3>
            <ion-grid no-padding>
              <ion-row class="buttons mb-3" justify-content-around align-items-center>
                <ng-container *ngIf=" book.past ">
                  <ng-container *ngIf=" a.isTeacher ">
                    <ion-col class="d-flex justify-content-center mt-4" *ngIf=" !paid(book) && !refunded( book ) " col-6>
                        <button class="hover-effect rounded-2 border border-dark-06 bg-white blue" 
                                [class.warning]=" ! evaluated(book) "
                                (click)=" a.open('evaluate', {idx: book.idx, student_name: a.preTeacherName(book.student_name)}) ">
                          Eval
                        </button>
                    </ion-col>
                    <ion-col class="d-flex justify-content-center mt-4"  *ngIf=" refundable(book) " col-6>
                        <button class="hover-effect rounded-2  border border-dark-06 bg-lightgrey" (click)=" onClickRefund( book ) ">Refund</button>
                    </ion-col>
                    <ion-col class="d-flex justify-content-center mt-4"  *ngIf=" paid(book) " col-6>
                        <div>Paid</div>
                    </ion-col>
                    <ion-col class="d-flex justify-content-center mt-4"  *ngIf=" refunded( book ); " col-6>
                        <div class="darkred ">Refunded</div>
                    </ion-col>
                    <ion-col class="d-flex justify-content-center mt-4"  *ngIf=" refund_in_progress(book) " col-6>
                        <div class="alert alert-warning">
                          <span class="alert alert-warning m-0" *ngIf=" rejected(book); else Requested ">Rejected</span>
                          <ng-template #Requested>
                            <button class="hover-effect  rounded-2 border border-dark-06 bg-darkred white" (click)=" onClickShowRequest( book ) ">
                              <ion-icon name="mail"></ion-icon> Refund Requested</button>
                          </ng-template>
                        </div>
                    </ion-col>
                  </ng-container>
                  <ng-container  *ngIf=" a.isStudent ">
                    <ion-col class="d-flex justify-content-center mt-4"  *ngIf=" !refunded(book) " col-6>
                        <button class="hover-effect rounded-2  d-flex align-items-center justify-content-center border border-dark-06 dark" 
                                (click)=" onClickEvaluateView(book.idx)">강의평가
                            <!--<i class="fal fa-file-check ml-2"></i>-->
                        </button>
                    </ion-col>
                    <ion-col class="d-flex justify-content-center mt-4"   *ngIf=" !refund_in_progress(book) " col-6>
                        <button class="hover-effect rounded-2 d-flex align-items-center justify-content-center border border-dark-06 lightgrey" (click)=" onClickCommentCreate( book.idx_teacher ) ">
                          후기작성
                          <!--<i class="fal fa-pen-square ml-2"></i>-->
                        </button>
                    </ion-col>
                    <ion-col  class="d-flex justify-content-center mt-4" *ngIf=" rejected( book ) " col-6>
                        <span class="py-2 darkred">포인트 복구 거절 됨</span>
                    </ion-col>
                    <ion-col class="d-flex justify-content-center mt-4" *ngIf=" refunded(book) " col-6>
                        <span class="py-2 darkred" >복구됨</span>
                    </ion-col>
                      <ion-col class="d-flex justify-content-center mt-4" *ngIf=" !book.refund_timeover && ! rejected( book ) " col-6>
                        <ng-container *ngIf=" ! refunded( book ) ">
                          <button class="hover-effect border border-dark-06 rounded-2  fs-90" 
                                  (click)=" onClickCancelRefundRequest( book )" 
                                  If=" book.refund_request_at > 0 ">{{ "CANCEL REFUND REQUEST" | translate }}
                          </button>
                          <button class="warning hover-effect border border-dark-06 rounded-2 fs-90" 
                                  (click)=" onClickRefundRequest( book )" 
                                  *ngIf=" book.refund_request_at == 0 ">
                                  {{ "REQUEST REFUND" | translate }}
                          </button>
                        </ng-container>
                      </ion-col>
                  </ng-container>
                </ng-container>
              </ion-row>

                <ion-row class="buttons buttons-sm mt-md-1 mt-4 mb-3" *ngIf=" future " justify-content-around align-items-center>
                  <ion-col class="d-flex justify-content-center mt-md-0" col-6>
                      <button class="hover-effect border border-dark-06 rounded-2 lightgrey" *ngIf=" ! book.process " (click)="onClickCancel( book )">
                        <i class="fal fa-times"></i>
                        <span class="pl-2">{{ 'CANCEL' | translate }}</span>
                      </button>
                      <span class="pl-5" *ngIf=" book.process ">
                          <i class="fal fa-spinner fa-spin"></i>
                        </span>
                  </ion-col>
                  <ion-col class="d-flex justify-content-center mt-sm-4 mt-md-0"  *ngIf=" a.isTeacher "  col-6>
                      <button class="hover-effect border border-dark-06 rounded-2" [ngClass]=" book.stamp_checked != 0 ? 'bg-green' : 'bg-red' "(click)="onClickReady( book )" >
                          <!--<i class="fal fa-times"></i>-->
                        <span class="white" *ngIf=" book.ready "><i class="fal fa-spinner fa-spin"></i></span>
                        <span class="pl-2 white">{{ 'READY' | translate }}</span>
                      </button>
                  </ion-col>
                </ion-row>

            </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--/books-->


  <ion-grid class="mb-5" no-padding *ngIf=" a.isTeacher ">
    <ion-row>
      <ion-col class="mr-md-3 border">
        <div class="d-flex justify-content-between align-items-center pl-4 border-bottom bg-white">
          <div>Total Points from payable sessions</div>
          <div class="w-90px py-4 fs-90 bg-grey  white text-center">{{teacher_summary['total_points_from_payable_session']}}</div>
        </div>
        <div class="d-flex justify-content-between align-items-center pl-4 border-bottom bg-white">
          <div>Your Total Share Points</div>
          <div class="w-90px py-4 fs-90 bg-grey  white text-center">{{teacher_summary['total_teacher_share_points']}}</div>
        </div>
        <div class="d-flex justify-content-between align-items-center pl-4 border-bottom bg-white">
          <div>No. of payable sessions</div>
          <div class="w-90px py-4 fs-90 bg-grey  white text-center">{{teacher_summary['counts_of_payable_session']}}</div>
        </div>
        <div class="d-flex justify-content-between align-items-center pl-4 border-bottom bg-white">
          <div>No. of not Payable sessions</div>
          <div class="w-90px py-4 fs-90 bg-grey  white text-center">{{teacher_summary['counts_of_not_payable_session']}}</div>
        </div>
        <div class="d-flex justify-content-between align-items-center pl-4 border-bottom bg-white">
          <div>Session not evaluated. <span class="red fw-bold">*No pay</span>.</div><!--  Session not evaluated. You need to evaluate the session or you will not get paid on the session.-->
          <div class="w-90px  py-4 fs-90  bg-darkorange white text-center" [class.warning]=" true ">Eval</div>
        </div>

        <div class="d-flex justify-content-between align-items-center pl-4 border-bottom bg-white ">
          <div>Session you confirmed.</div>
          <div class="w-90px py-4 fs-90 bg-green white text-center">Ready</div>
        </div>
        <div class="d-flex justify-content-between align-items-center pl-4 bg-white ">
          <div>Session you must confirm.</div>
          <div class="w-90px py-4 fs-90 bg-red white text-center">Ready</div>
        </div>
      </ion-col>
      <ion-col class="ml-md-3 border">
          <div class="d-flex justify-content-between align-items-center pl-4 border-bottom bg-white">
              <div>No. of paid sessions</div>
              <div class="w-90px py-4 fs-90 bg-grey  white text-center">{{teacher_summary['counts_of_paid_session']}}</div>
            </div>
            <div class="d-flex justify-content-between align-items-center pl-4 border-bottom bg-white">
              <div>No. of refunded sessions</div>
              <div class="w-90px py-4 fs-90 bg-grey  white text-center">{{teacher_summary['counts_of_refunded_session']}}</div>
            </div>
          <div class="d-flex justify-content-between align-items-center pl-4 border-bottom bg-white">
            <div>No. of refund in progress</div>
            <div class="w-90px py-4 fs-90 bg-grey  white text-center">{{teacher_summary['counts_of_rejected_refund'] + teacher_summary['counts_of_requested_refund']}}</div>
          </div>
          <div class="d-flex justify-content-between align-items-center pl-4 border-bottom bg-white">
            <div>No. of Incomplete Evaluation</div>
            <div class="w-90px py-4 fs-90 bg-grey  white text-center">{{teacher_summary['counts_of_incomplete_eval']}}</div>
          </div>
          <div class="d-flex justify-content-between align-items-center pl-4 border-bottom bg-white">
            <div>Point Refund Request Rejected.</div>
            <div class=" alert alert-warning w-90px  py-4 fs-90 m-0 text-center">Rejected</div>
          </div>
          <div class="d-flex justify-content-between align-items-center pl-4 border-bottom bg-white">
            <div>Accept Refund Request</div>
            <div class="w-90px  py-4 fs-90 bg-blue white text-center">Accept</div>
          </div>
        <div class="d-flex justify-content-between align-items-center pl-4 bg-white ">
          <div>Reject Refund Request.</div>
          <div class="w-90px py-4 fs-90 bg-darkred white text-center">Reject</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</section>
