<section>

  <div class="options mb-5" *ngIf=" share.options ">

    <ion-grid *ngIf=" past ">

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Begin Date</ion-label>
            <ion-datetime name="date_begin" displayFormat="MM/DD/YYYY" pickerFormat="YYYYMMDD" [(ngModel)]="date_begin" (ngModelChange)="onChangeSearchOption()"></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>End Date</ion-label>
            <ion-datetime name="date_end" displayFormat="MM/DD/YYYY" pickerFormat="YYYYMMDD" [(ngModel)]="date_end" (ngModelChange)="onChangeSearchOption()"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-list *ngIf=" my_teachers ">
      <ion-item>
        <ion-label class="blue">{{'SELECT TEACHER'|translate}}</ion-label>
        <ion-select [(ngModel)]="show_teacher" (ionChange)="onChangeSearchOption()" okText="{{ 'OK' | translate }}" cancelText="{{ 'CANCEL' | translate }}"
          [selectOptions]="{ title: a.i18n.SELECT_TEACHER_TITLE, cssClass:'select-teacher' }">
          <ion-option *ngFor="let teacher of my_teachers" [value]=" teacher.idx ">{{ teacher.name }}</ion-option>
          <ion-option [value]="0">{{ "ALL TEACHER" | translate }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list *ngIf=" past ">
      <ion-item>
        <ion-checkbox [(ngModel)]="show_refund_in_progress" color="vibrant" (ionChange)="onChangeSearchOption()"></ion-checkbox>
        <ion-label>Display sessions in progress of Refund</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="show_refunded" color="vibrant" (ionChange)="onChangeSearchOption()"></ion-checkbox>
        <ion-label>Display refunded sessions</ion-label>
      </ion-item>
      <ng-container *ngIf="a.isStudent">
      <ion-item>
        <ion-checkbox [(ngModel)]="displayTeacherName" color="vibrant"></ion-checkbox>
        <ion-label>Display Teacher Name</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="displayDate" color="vibrant"></ion-checkbox>
        <ion-label>Display Date</ion-label>
      </ion-item>
        <ion-item>
          <ion-checkbox [(ngModel)]="displayPoint" color="vibrant"></ion-checkbox>
          <ion-label>Display Point</ion-label>
        </ion-item>
      </ng-container>
    </ion-list>

    <div class="buttons d-flex justify-content-end mb-3">
      <button class="primary" (click)=" share.options = false ">
        <i class="fal fa-times mr-1"></i>
        {{ 'CLOSE' | translate }}
      </button>
      <!-- <button (click)="onClickSearch()">
            {{ 'SEARCH' | translate }}
          </button> -->
    </div>
    <hr>
  </div>
  <!--/options-->

  <div class="alert alert-warning" *ngIf=" a.isTeacher ">
    Teacher must see this page in wide screen since the content in this page is wide.
  </div>

  <section class="page-desc search-result mb-3 p-3" *ngIf=" re && books.length ">
    <div>
      {{ 'SEARCHED SESSIONS' | translate }} : {{ books.length }} ( {{ 'TOTAL' | translate }} : {{ re.total_sessions }} )
    </div>
    <div *ngIf=" a.isTeacher ">
      {{ 'SEARCHED POINT' | translate }} : {{ re.total_points | number }}
    </div>

    <div *ngIf=" past ">
      <span class="mr-3" *ngIf=" re.total_session_refunded ">{{ 'REFUNDED SESSIONS' | translate }} : {{re.total_session_refunded}}</span>
      <span *ngIf=" re.total_session_refund_in_progress ">{{ 'SESSIONS IN REFUND PROGRESS' | translate }} : {{re.total_session_refund_in_progress}}</span>
    </div>
  </section>

  <div class="my-5 p-5 text-center" *ngIf=" re && books.length == 0 ">
      <ng-container *ngIf=" future ">{{ 'NO MORE RESERVATIONS' | translate }}</ng-container>
      <ng-container *ngIf=" past ">{{ 'NO MORE PASTS' | translate }}</ng-container>
  </div>

  <div class="books" *ngIf=" books.length ">
    <table width="100%">
    <tr text-center>
      <td *ngIf="a.isStudent">{{ 'TEACHER' | translate }}</td>
      <td *ngIf="a.isTeacher">{{ 'STUDENT' | translate }}</td>
      <td *ngIf="a.isTeacher">{{ 'CLASS NO' | translate }}</td>
      <td *ngIf="displayDate">{{ 'DATE' | translate }}</td>
      <td>{{ 'TIME' | translate }}</td>
      <td>{{ 'MINUTE' | translate }}</td>
      <td *ngIf="displayPoint">{{ 'POINT' | translate }}</td>
      <td></td>
    </tr>

    <tr class="h-20" text-center *ngFor="let book of books; let i = index;">
      <td *ngIf="a.isStudent">
        <div class="size-40 rounded-50 of-hidden pointer mx-auto" (click)=" a.open('schedule-table', { ID: book.idx_teacher })">
          <img class="d-block w-100" src="{{ my_teachers[book.idx_teacher].photoURL ? my_teachers[book.idx_teacher].photoURL : a.anonymousPhotoURL  }}">
        </div>
        <div *ngIf="displayTeacherName">{{ a.preTeacherName(my_teachers[book.idx_teacher].name) }}</div>
      </td>
      <td class="fw-bold" *ngIf="a.isTeacher">
        {{ a.preTeacherName(book.student_name) }}
      </td>
      <td *ngIf=" a.isTeacher ">{{book.idx}}</td>
      <td class="px-1" *ngIf="displayDate">{{ date(book.date_display) }}</td>
      <td class="px-1">{{book.class_begin_display}}</td>
      <td class="px-1 grey fw-bold">{{book.duration}}</td>
      <td class="pr-2 blue" *ngIf="displayPoint" text-right>{{ point(book) }}</td>
      <td text-left>
        <section class="menu mb-1">
          <div class="past" *ngIf=" book.past ">
            <div class="teacher buttons d-flex" *ngIf=" a.lms.getUserType() == 'teacher' ">


              <span *ngIf=" paid(book) ">Paid</span>
              <button class="bg-white blue" [class.warning]=" ! evaluated(book) " (click)=" a.open('evaluate', {idx: book.idx}) " *ngIf=" !paid(book) && !refunded( book ) ">
                Eval
              </button>

              <ng-container *ngIf=" rejected( book ) ">
                <span class="alert alert-warning">Rejected</span>
              </ng-container>

              <span class="darkred" *ngIf=" refunded(book) ">Refunded</span>
              
              <ng-container *ngIf=" ! rejected( book ) ">
                
                <ng-container *ngIf=" ! refunded( book ) ">
                  <button (click)=" onClickRefund( book ) " *ngIf=" refundable(book) && !refund_request(book) ">Refund</button>
                  <button class="primary" (click)=" onClickRefund( book ) " *ngIf="refund_request(book)">Accept</button>
                  <button class="dark" (click)=" onClickRejectRefundRequest( book ) " *ngIf="refund_request(book)">Reject</button>
                </ng-container>
              </ng-container>


            </div>

            <div class="student buttons" *ngIf=" a.lms.getUserType() == 'student' ">
              <span class="pl-2 pr-5 fs-2rem indigo" (click)=" onClickEvaluateView(book.idx)" *ngIf=" !refunded(book) ">
                <i class="fas fa-comments"></i>
              </span>
              <span class="darkred" *ngIf=" rejected( book ) ">Rejected</span>

              <span class="darkred" *ngIf=" refunded(book) ">Refunded</span>
              <ng-container *ngIf=" ! rejected( book ) ">
                <ng-container *ngIf=" ! refunded( book ) ">
                  <button class="" (click)=" onClickCancelRefundRequest( book )" *ngIf=" book.refund_request_at > 0 ">{{ "CANCEL REFUND REQUEST" | translate }}</button>
                  <button class="warning" (click)=" onClickRefundRequest( book )" *ngIf=" book.refund_request_at == 0 ">{{ "REQUEST REFUND" | translate }}</button>
                </ng-container>
              </ng-container>

            </div>
          </div>

          <div class="buttons mt-1" *ngIf=" future ">
            <button class="light" *ngIf=" ! book.process " (click)="onClickCancel( book )">
              <i class="fal fa-times"></i>
              <span class="pl-2">{{ 'CANCEL' | translate }}</span>
            </button>
            <span class="pl-5" *ngIf=" book.process "><i class="fal fa-spinner fa-spin"></i></span>
          </div>

        </section>
      </td>
    </tr>
  </table>
</div>


  <ul *ngIf=" a.isTeacher ">
    <li>Rejected - Point Refund Request Rejected.</li>
    <li>Accept - Accept Refund Request</li>
    <li>Reject - Reject Refund Request</li>
  </ul>

</section>
