session-list {

    .even {
        background-color: #c3ddf3;
    }
    .odd{
        background-color: white;
    }
    .w-90px{
        width: 90px!important
    }
    .border-bottom{ 
        border-bottom: 1px solid #e2e2e2!important
    }

    .bg-blue-60{
        background-color:rgba(#007bff,0.6)!important;
    }

}