<ion-header>
  <header-content [title]=" 'TEACHER DASHBOARD' "></header-content>
</ion-header>
<ion-content>
  <div class="page">
    <hook-content-top></hook-content-top>
    <section class="page-header bg-blue-60 white fw-light fs-2rem p-5 text-center m-0">
      <div>{{ "TEACHER DASHBOARD" | translate }}</div>
    </section>
    <section class="page-body mt-4">

      <div id="teacher-navigation">
        <ion-grid class="px-1px" id="visitor-navigation" no-padding>
          <ion-row class="mx-minus-15px">
            <ion-col col-3 class="text-center" *ngIf="a.user.isLogin">
              <!-- <ion-card> -->
                <div class="pt-5 pointer outline-effect bg-white m-4 hover-effect-color"  (click)="a.open('session-future')">
                  <i class="fa fa-calendar-alt fa-3x mb-4 mt-3"></i>
                  <div class="p-3 pb-5 lebel">Reserved Class</div>
                </div>
              <!-- </ion-card> -->
            </ion-col>
            <ion-col col-3 class="text-center" *ngIf="a.user.isLogin">
              <!-- <ion-card> -->
                <div class="pt-5 pointer outline-effect bg-white m-4 hover-effect-color" (click)="a.open('session-past')">
                  <i class="fa fa-calendar-times fa-3x  mb-4 mt-3"></i>
                  <div class="p-3 pb-5 lebel">Past Class</div>
                </div>
              <!-- </ion-card> -->
            </ion-col>
            <ion-col col-3 class="text-center" *ngIf="a.user.isLogin">
              <!-- <ion-card> -->
                <div class="pt-5 pointer outline-effect bg-white m-4 hover-effect-color" (click)="a.open('schedule-edit')">
                  <i class="fa fa-calendar-plus fa-3x  mb-4 mt-3"></i>
                  <div class="p-3 pb-5 lebel">Add/Edit Schedule</div>
                </div>
              <!-- </ion-card> -->
            </ion-col>

            <ion-col col-3 class="text-center" *ngIf="a.user.isLogin">
              <!-- <ion-card> -->
                <div class="pt-5 pointer outline-effect bg-white m-4 hover-effect-color" (click)="a.open('teacher-curriculum-vitae')">
                  <i class="fa fa-edit fa-3x  mb-4 mt-3"></i>
                  <div class="p-3 pb-5 lebel">Curriculum Vitae</div>
                </div>
              <!-- </ion-card> -->
            </ion-col>
            <ion-col col-3 class="text-center" *ngIf="a.user.isLogout">
              <!-- <ion-card> -->
                <div class="pt-5 pointer outline-effect bg-white m-4 hover-effect-color" (click)="a.open('login')">
                  <i class="fa fa-sign-in fa-3x mb-4 mt-3"></i>
                  <div class="p-3 pb-5 lebel">Login</div>
                </div>
              <!-- </ion-card> -->
            </ion-col>
            <ion-col col-3 class="text-center">
              <!-- <ion-card> -->
                <div class="pt-5 pointer outline-effect bg-white m-4 hover-effect-color" (click)="a.open('register')">
                  <i class="fa fa-address-card fa-3x  mb-4 mt-3"></i>
                  <div class="p-3 pb-5 lebel" *ngIf="a.user.isLogin">Update Profile</div>
                  <div class="p-3 pb-5 lebel" *ngIf="a.user.isLogout">Register</div>
                </div>
              <!-- </ion-card> -->
            </ion-col>
            <ion-col col-3 class="text-center" *ngIf="a.user.isLogin">
              <!-- <ion-card> -->
                <div class="pt-5 pointer outline-effect bg-white m-4 hover-effect-color" (click)="a.open('settings-payment-info')">
                  <i class="fa fa-credit-card fa-3x  mb-4 mt-3"></i>
                  <div class="p-3 pb-5 lebel">Payment Information</div>
                </div>
              <!-- </ion-card> -->
            </ion-col>

            <ion-col col-3 class="text-center" *ngIf="a.user.isLogin">
              <!-- <ion-card> -->
                <div class="pt-5 pointer outline-effect bg-white m-4 hover-effect-color" (click)="a.open('message')">
                  <i class="fa fa-comment-alt fa-3x  mb-4 mt-3"></i>
                  <div class="p-3 pb-5 lebel">Messages</div>
                </div>
              <!-- </ion-card> -->
            </ion-col>
            <ion-col col-3 class="text-center">
              <!-- <ion-card> -->
                <div class="pt-5 pointer outline-effect bg-white m-4 hover-effect-color" (click)=" a.onClickContactAdmin() ">
                  <i class="fa fa-phone-square fa-3x  mb-4 mt-3"></i>
                  <div class="p-3 pb-5 lebel">Contact Us</div>
                </div>
              <!-- </ion-card> -->
            </ion-col>
            <ion-col col-3 class="text-center">
              <!-- <ion-card> -->
                <div class="pt-5 pointer outline-effect bg-white m-4 hover-effect-color" (click)="a.open('how-to-use')">
                  <i class="fal fa-book fa-3x  mb-4 mt-3"></i>
                  <div class="p-3 pb-5 lebel">FAQ</div>
                </div>
              <!-- </ion-card> -->
            </ion-col>

            <ion-col col-3 class="text-center">
              <!-- <ion-card> -->
                <div class="pt-5 pointer outline-effect bg-white m-4 hover-effect-color" (click)="showModal('teacherPolicy')">
                  <i class="fal fa-info-circle fa-3x  mb-4 mt-3"></i>
                  <div class="p-3 pb-5 lebel">Policy</div>
                </div>
              <!-- </ion-card> -->
            </ion-col>

            <ion-col col-3 class="text-center"  *ngIf="a.user.isLogin">
              <!-- <ion-card> -->
                <div class="pt-5 pointer outline-effect bg-white m-4 hover-effect-color" (click)="a.open('password-change')">
                  <i class="fa fa-key fa-3x  mb-4 mt-3"></i>
                  <div class="p-3 pb-5 lebel">Change Password</div>
                </div>
              <!-- </ion-card> -->
            </ion-col>

            <ion-col col-3 class="text-center">
              <!-- <ion-card> -->
                <div class="pt-5 pointer outline-effect bg-white m-4 hover-effect-color" (click)="a.open('settings')">
                  <i class="fa fa-cogs fa-3x  mb-4 mt-3"></i>
                  <div class="p-3 pb-5 lebel">Settings</div>
                </div>
              <!-- </ion-card> -->
            </ion-col>

            <ion-col col-3 class="text-center" *ngIf="a.user.isLogin">
              <!-- <ion-card> -->
                <div class="pt-5 pointer outline-effect bg-white m-4 hover-effect-color" (click)="a.user.logout()">
                  <i class="fa fa-sign-out fa-3x  mb-4 mt-3"></i>
                  <div class="p-3 pb-5 lebel">Logout</div>
                </div>
              <!-- </ion-card> -->
            </ion-col>
          </ion-row>

        </ion-grid>
      </div>
    </section>
  </div>
  <hook-content-bottom></hook-content-bottom>
</ion-content>
