//.dboard {
//  margin: 10px;
//  border-radius: 2px;
//  width: calc(100% - 20px);
//  font-size: 1.4rem;
//  background: #fff;
//  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
//  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
//}

#teacher-navigation{
.px-1px{padding: 0 1px !important}
.hover-effect-color{
    transition: all .2s ease-in-out!important;
    .lebel{
      transition: all .2s ease-in-out!important;
      color:white;
      background-color:rgba(#007bff,0.8)
    }
    svg{
        color:#FBC02D;
        transition: all .2s ease-in-out!important;
      }
      &:hover{
        svg{
          transform: scale(0.9, 0.9);
          color:#007bff!important;
        }
        .lebel{
          color:#007bff;
          background-color:rgba(#007bff,0.2)
        }
        background:rgba(#007bff,0.04)!important;
      }
    
  }

}
