<div class="overflowhidden-y cover-by-2 bg-white outline-effect">
        <h2  class="fs-110 fw-light bg-blue m-0 py-3 text-center" ion-text color="white">Recent Reservations</h2>
        <ion-list no-lines>
            <ng-container *ngFor="let reservation of reservations; let i=index">
                <ion-item  class="pointer border border-left-0 border-right-0 border-top-0" *ngIf="i<3" (click)="a.open('schedule-table', { ID: reservation.idx_teacher })">
                    <ion-avatar item-start>
                        <img [src]="a.checkPhotoURL(reservation.teacher_photoURL)">
                    </ion-avatar>
                    <h3>{{ a.preTeacherName(reservation.teacher_name) }}</h3>
                    <p class="fs-custom" [innerHtml]="getFirstTwo(reservation.class_begin)+':'+getLastTwo(reservation.class_begin)"></p>
                    <sup item-end>{{ reservation.display_date }}</sup>
                </ion-item>
            </ng-container>
        </ion-list>
    </div>