
<!-- <section color="blue" class="teacher-mobile-toolbar d-md-none" *ngIf=" a.teacherTheme ">
<ion-grid class="py-0">
        <ion-buttons class="d-flex align-items-center justify-content-between w-100">
            <div class="pb-1 d-flex align-items-center justify-content-end pointer" (click)=" a.open('home')" id="logo">
                <ion-icon color="white" name="logo-buffer"></ion-icon>
                <span color="white" class="ml-2" ion-text>Ontue</span>
            </div>

            <div class="px-5" (click)=" a.open('teacher-dashboard') " ion-button>
                <ion-icon color="white" class="fs-2-25em" name="ios-menu"></ion-icon>
            </div>
        </ion-buttons>
  </ion-grid>
</section> -->


<!-- <ion-toolbar class="student-wide-menu d-none d-md-block" *ngIf=" a.teacherTheme "> -->
<ion-toolbar color="blue" class="teacher-wide-menu px-0">
    <ion-grid class="py-0" fixed no-padding>
        <ion-row>
            <ion-col class="d-flex align-items-center" col-md-3>
                <ion-buttons  id="logo" class="ml-0 px-3" (click)=" a.open('home')">
                    <div class="pl-0 pointer" ion-button>
                        <ion-icon color="white" name="logo-buffer"></ion-icon>
                        <span color="white" class="ml-2" ion-text>Ontue</span>
                    </div>
                </ion-buttons>
            </ion-col>
            <ion-col class=" d-flex align-items-center" text-center col-md-6>
                <ion-buttons class="d-none d-md-flex justify-content-between mx-0 w-100">
                    <button ion-button color="white" class="ml-0 pl-0 py-5 pr-4 fs-110 hover-effect" (click)="  a.open('teacher-list') ">Teachers</button>

                    <button ion-button color="white" class="py-5 px-4 fs-110 hover-effect" (click)="  a.onClickContactAdmin() ">Contact Us</button>
                    <button ion-button color="white" class="py-5 px-4 fs-110 hover-effect" (click)="  a.open('how-to-use') ">FAQ</button>
                    
                    <ng-container *ngIf=" a.user.isLogin; else userLogout ">
                        <button ion-button color="white" class="py-5 px-4 fs-110 hover-effect" (click)=" a.open('session-future') ">Reserved</button>
                        <button ion-button color="white" class="py-5 px-4 fs-110 hover-effect" (click)=" a.open('session-past') ">Past</button>
                        <button ion-button color="white" class="mr-0 py-5 pl-4 pr-0 fs-110 hover-effect" (click)=" a.open('schedule-edit') ">Schedule</button>
                    </ng-container>
                    <ng-template #userLogout>
                        <button ion-button color="white" class="py-5 px-4 fs-110 hover-effect" (click)=" a.open('login') ">Login</button>
                        <button ion-button color="white" class="py-5 px-4 fs-110 hover-effect" (click)=" a.open('register') ">Register</button>
                    </ng-template>
                </ion-buttons>
                <ion-buttons class="d-md-none">
                        <button ion-button icon-start icon-start color="white" class="fs-110 hover-effect" (click)=" a.onClickContactAdmin() "> Contact Us</button>
                </ion-buttons>
            </ion-col>
            <ion-col col-md-3>
                <ion-buttons class="mr-0 px-3 pr-md-2" text-right>
                    <button class="mr-0 pr-0 py-5" (click)=" a.open('teacher-dashboard') " ion-button>
                        <ion-icon color="white" class="fs-2-25em" name="ios-menu"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-toolbar>

