<ng-container *ngIf=" files && files.length ">
  <div class="file-display-widget hello">
    <div class="files" [attr.count]="files.length" [attr.items]="files.length == 1 ? 'single' : 'many'">
      <div class="file" *ngFor=" let file of files " [attr.type]="a.file.getFileType(file)">
        <div [class]="a.file.getFileType(file)">
          <img *ngIf="a.file.getFileType(file) == 'image'" src="{{ files.length == 1 ? file.url_thumbnail_wide : file.url_thumbnail }}">
          <a href="{{ file.url }}" target="_blank" *ngIf="a.file.getFileType(file) == 'attachment'">{{ file.name }}</a>
        </div>
      </div>
    </div>
  </div>
</ng-container>

