<ion-header>
  <ion-toolbar>
    <ion-title>Getting the <b>Kakaotalk ID</b>.</ion-title>
    <ion-buttons start>
      <button ion-button class="close" (click)="dismiss()">
        <span ion-text color="primary">{{ 'CLOSE' | translate }}</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="how-to" id="how-to-get-kakao-id">
    <ul class="list-style-none">
      <li>
        <div class="desc">
          1. Open the Kakaotalk app on your smart phone. *( Login if you didn't login yet )
        </div>
        <div class="desc">
          2. In your Kakaotalk app, press the <b>More Option Button</b>. ( 3 dot shown on the image below)
        </div>
      </li>
      <li>
        <img src="assets/img/kakao/6.jpg">
      </li>
      <li>
        <div class="desc">3. Press <b>My Profile</b>. ( Primary Photo with your name shown on the image below )</div>
      </li>
      <li>
        <img src="assets/img/kakao/7.jpg">
      </li>
      <li>
        <div class="desc">4. If you have set your Kakaotalk ID before you will see your Kakaotalk ID in the image below.
          Or else press the <b>KakaoTalk ID</b> to set your ID.
        </div>
      </li>
      <li>
        <img src="assets/img/kakao/10.jpg">
      </li>
      <li>
        <div class="desc">5. Enter the desired Kakaotalk ID, then press OK. ( Kakaotalk ID is unique to everyone )</div>
      </li>
      <li>
        <img src="assets/img/kakao/11.jpg">
      </li>
      <li>
        <div class="desc">Good! You have properly set your kakaotalk ID.</div>
      </li>
    </ul>
  </section>
</ion-content>
