class-comment-page{
  .comment-wrapper {
  

    .comment-info {

      .student-comment {
        overflow: hidden;
        height: 124px;

      }
    }
  }

  ion-content{
    background-color: #f3f3f3!important;
  }

  .h-100{
    height: 100%!important;
  }
  

  .mx-minus-5px{
   margin:0 -5px!important;
  }

}

