.comment-wrapper {
  
  background-color: #eaf2ff;

  .comment-info {

    .student-comment {
      overflow: hidden;
      height: 124px;

    }

    .more {
      background-color: #e0ecff;
    }
  }
}

