<ion-header>
  <header-content [title]=" 'CLASS COMMENTS' | translate "></header-content>
</ion-header>
<ion-content>
  <div class="page">

    <hook-content-top></hook-content-top>
    <section class="page-header green bg-lightgrey">
      <h2 class="title">{{ 'CLASS COMMENTS' | translate }}:</h2>
    </section>
    <section class="page-desc">
      학생이 작성한 수업 후기를 볼 수 있습니다. 여러분들도 수업을 하시면 꼭 후기를 남겨주세요.
    </section>
    <section class="page-body">
    <ion-grid class="px-0">
      <ion-row class="mx-minus-5px" align-items-stretch>
          <ion-col class="student-comment" *ngFor="let comment of comments" col-12 col-md-6  (click)="onClickShowMore(comment)">
            <ion-grid class="h-100 px-0 bg-white">
              <ion-row class="h-100" align-items-center>
                <ion-col class="h-100 pr-0" col-md-3 col-4>
                    <div class="d-flex h-100 align-items-center justify-content-center  teacher-profile-photo of-hidden">
                        <img class=" size-100x120" src="{{comment?.teacher_photoURL ? comment.teacher_photoURL : a.anonymousPhotoURL }}">
                      </div>
                </ion-col>
                <ion-col class="d-flex-column justify-content-between h-100 pr-4" col-8 col-md-6>
                  <div>
                      <div class="d-flex justify-content-between">
                          <div class=" dodgerblue ">
                              <i class="fa fa-users"></i> 
                              <span class="fw-bold fs-90 text-uppercase">{{ a.preTeacherName(comment.teacher_name)}}</span>
                          </div>
                          <div class="fs-90 rating darkorange">
                              <span>{{ 'RATING' | translate }}: {{rate}}</span>
                              <span *ngIf="comment.rate < 1"><i class="fal fa-star"></i></span>
                              <span *ngIf="comment.rate >= 1"><i class="fas fa-star"></i></span>
          
                              <span *ngIf="comment.rate < 2"><i class="fal fa-star"></i></span>
                              <span *ngIf="comment.rate >= 2"><i class="fas fa-star"></i></span>
          
                              <span *ngIf="comment.rate < 3"><i class="fal fa-star"></i></span>
                              <span *ngIf="comment.rate >= 3"><i class="fas fa-star"></i></span>
          
                              <span *ngIf="comment.rate < 4"><i class="fal fa-star"></i></span>
                              <span *ngIf="comment.rate >= 4"><i class="fas fa-star"></i></span>
          
                              <span *ngIf="comment.rate < 5"><i class="fal fa-star"></i></span>
                              <span *ngIf="comment.rate >= 5"><i class="fas fa-star"></i></span>
                            </div>
                        </div>
                        <div class="date mt-1 fs-90">{{ 'DATE' | translate }} : {{ a.shortDate(comment.stamp) }}</div>
                  </div>
                    <div class="description">
                      {{comment.comment.slice(0,60)}}
                      <span *ngIf="comment.comment.length>80">...</span>
                    </div>
                    <button class="more d-inline-block hover-effect bg-skyblue white text-center py-2"><i class="fa fa-angle-double-down"></i> {{ 'MORE' | translate }}</button>
                </ion-col>
                <ion-col class="d-none h-100 border border-top-0 border-bottom-0 border-right-0 d-md-flex align-items-center justify-content-center" col-md-3>
                    <div class="d-flex-column align-items-center justify-content-between teacher-profile-photo of-hidden size-100x120">
                      <img class="size-100  rounded-50" src="{{comment?.student_photoURL ? comment.student_photoURL : a.anonymousPhotoURL }}">
                      <div text-center><i class="fa fa-graduation-cap"></i> {{ comment.student_name }}</div>
                    </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
      </ion-row>
    </ion-grid>

      <div class="px-3 d-flex justify-content-center">
        <page-navigator [no_of_total_items]=" pageOption['totalRecord']"
                        [no_of_items_in_one_page]=" pageOption['limitPerPage'] "
                        [no_of_pages_in_navigator]=" pageOption['limitPerNavigation'] "
                        [no_of_current_page]=" pageOption['currentPage'] "
                        [show_prev_next]=" true "
                        (pageClick)="onPostPageClick($event)">
        </page-navigator>
      </div>
    </section>
  </div>
  <hook-content-bottom></hook-content-bottom>
</ion-content>
