.comment-wrapper {
  border: 1px #f1f1f1 solid;

  .comment-info {

    .student-comment {
      overflow: hidden;
      height: 120px;

    }

    .more {
      background-color: #ececec;
    }
  }
}

