
<section class="bg-light">
    <ion-grid class="page px-0" no-padding>
        <ion-row>
          <ion-col col-lg-3 class="px-0 m-0">
            <ion-card class="no-shadow cover-height pl-0 ml-0">

            </ion-card>
          </ion-col>
          <ion-col col-lg-6 class="px-0 m-0">
              <ion-card class="no-shadow cover-height">

              </ion-card>
          </ion-col>
          <ion-col col-lg-3 class="px-0 m-0 bg-grey">
                  <ion-card class="no-shadow cover-height w-100 pl-3 ml-3 pr-0 mr-0">
                    <ion-card-header class="bg-blue" color="white" text-center>
                      Activity Log
                    </ion-card-header>

                      <div class="d-flex justify-content-around align-items-center">
                          <div class="d-flex justify-content-between align-items-center">
                              <h3 class="ml-2 font-em-0-75 font-weight-bold mr-1">Filter by:</h3>
                              <ion-buttons>
                                  <ion-icon color="blue" class="font-em-1-50 px-2" name="alarm"></ion-icon>
                                  <ion-icon color="blue" class="font-em-1-50 px-2" name="person"></ion-icon>
                                  <ion-icon color="blue" class="font-em-1-50 px-2" name="paper-plane"></ion-icon>
                                  <ion-icon color="blue" class="font-em-1-50 px-2" name="cash"></ion-icon>  
                              </ion-buttons>
                          </div>
                          <button clear class="font-em-0-75" ion-button outline>Clear</button>
                      </div>
                      <ion-list>
                          <ion-item text-wrap class="font-em-0-75"> <span class="pr-3" item-start>4:30pm</span> <p class="font-em-0-75">Marco David Reserved a class</p></ion-item>
                          <ion-item text-wrap class="font-em-0-75"> <span class="pr-3" item-start>3:24pm</span><p class="font-em-0-75">Teacher Monica Registered</p></ion-item>
                          <ion-item text-wrap class="font-em-0-75"> <span class="pr-3" item-start>2:21pm</span><p class="font-em-0-75">Student James Started a Class</p></ion-item>
                          <ion-item text-wrap class="font-em-0-75"> <span class="pr-3" item-start>1:24pm</span><p class="font-em-0-75"> Student Jonathan Payed Tuition</p></ion-item>
                          <ion-item text-wrap class="font-em-0-75"> <span class="pr-3" item-start>2:21pm</span><p class="font-em-0-75">Student James Started a Class</p></ion-item>
                          <ion-item text-wrap class="font-em-0-75"> <span class="pr-3" item-start>1:24pm</span><p class="font-em-0-75">Student Jonathan Payed Tuition</p></ion-item>
                          <ion-item text-wrap class="font-em-0-75"> <span class="pr-3" item-start>9:21pm</span><p class="font-em-0-75">Teacher James Logged in</p></ion-item>
                          <ion-item text-wrap class="font-em-0-75"> <span class="pr-3" item-start>8:24pm</span><p class="font-em-0-75">Teacher James Logged out</p></ion-item>
                      </ion-list>
                      
                  </ion-card>
          </ion-col>
        </ion-row>
    </ion-grid>
</section>
