<ion-header>
  <header-content></header-content>
</ion-header>

<ion-content>
    <div class="page">
  <h1>Dayoff</h1>

  <button ion-button (click)='onClickCreateDayoff()'>Create a Day-off</button>

  <section *ngIf="showForm">
    <form>
      <ion-item-group>
        <ion-item>
          <ion-label>Select Date</ion-label>
          <ion-datetime name="date" displayFormat="MM/DD/YYYY" pickerFormat="YYYYMMDD" [(ngModel)]="date"></ion-datetime>
        </ion-item>
      </ion-item-group>

      <button ion-button type="submit" (click)="onClickSubmit()">Create</button>
    </form>
  </section>
  <hr>

  <ion-item-group *ngIf=" dayoffs ">

        <button ion-item *ngFor="let dayoff of dayoffs" (click)=" onClickDeleteDate( dayoff ) ">
          {{ dayoff.date }}
          <ion-icon name="trash"></ion-icon>
        </button>

  </ion-item-group>
  </div>
</ion-content>
