<ion-header>
  <header-content></header-content>
</ion-header>

<ion-content>
  <div class="page">

    <div class="page-header black text-center">
      궁금한 점이 있으시면 언제든지
      <span class="app-button hover-effect mt-0 mx-2 px-3 py-2 rounded-2 bg-darkorange white" (click)=" a.onClickContactAdmin() ">카톡으로 질문 <i class="fal fa-external-link"></i></span> 해 주세요!
    </div>
    <section class="page-body">

      <div class="p-3 pt-5" *ngIf=" ! a.inLoadingMyPoint " text-center>
        <div class="my-5 fs-2rem fw-light">
          {{ a.user?.name }} 회원님의 포인트는
          <span class="darkgreen"><b>{{ point }}</b> 입니다.</span>
        </div>

        <div class="hover-colored-effect border d-inline-block mx-auto mt-5 p-5 bg-white" (click)=" a.open('payment-history'); ">
          <div><i class="fal fa-money-bill fa-5x green icon-effect"></i></div>
          <div class="mt-5">수업료 결제 내역은  <span class="text-underline blue">결제 내역</span> 메뉴에서 확인 할 수 있습니다.</div>
        </div>

        <div *ngIf=" a.inLoadingMyPoint ">
          <ion-spinner class="size-3"></ion-spinner>
          {{ 'IN LOADING' | translate}}
        </div>

      </div>

    </section>

  </div>


  <hook-content-bottom></hook-content-bottom>
</ion-content>
