<div class="bg-white m-0 p-0 h-100 outline-effect-right">
  <h2 class="fs-110 fw-light bg-blue m-0 py-4 text-center" ion-text color="white">Guidelines and Tips</h2>
  <ion-list class="pl-3 p-0 m-0" text-wrap no-lines>
    <ion-item class="p-0 m-0">
      <h3>Graded Teacher's must have <b>Promotion Schedule</b></h3>
      <p class="font-em-0-85 pt-3">* <b>2</b> schedule with <b>10mins</b> duration and <b>500points</b> </p>
      <p class="font-em-0-85 pt-3">* <b>2</b> schedule with <b>20mins</b> duration and <b>1000points</b> </p>
      <p class="font-em-0-85 pt-3">* <b>2</b> schedule with <b>25mins</b> duration and <b>2500points</b> </p>
    </ion-item>
    <ion-item class="p-0 m-0">
      <h3>Important Tips</h3>
      <p class="font-em-0-85 pt-3">1.Teacher must add student using smart phone.</p>
      <p class="font-em-0-85 pt-3">2.There is no way to add friend in kakao with desktop software.</p>
      <p class="font-em-0-85 pt-3">3.Teacher without grade will not be shown if Recommended teacher is selected.</p>
      <p class="font-em-0-85 pt-3">4.But they will be shown if the option "Show all teachers" is selected.</p>
    </ion-item>
    <ion-item class="p-0 m-0">
      <h3>Teacher's Guideline</h3>
      <p class="font-em-0-85 pt-3">1.Nickname should be less than or equal to 8 letters.</p>
      <p class="font-em-0-85 pt-3">2.Profile image is best fit on 100px of width and 120px of height.</p>
    </ion-item>
  </ion-list>
</div>
