<ion-header>
  <header-content></header-content>
</ion-header>

<ion-content>
  <div class="page">

    <div class="page-header white text-center">
      궁금한 점이 있으시면 언제든지 <span class="app-button mt-0" (click)=" a.onClickContactAdmin() ">카톡으로 질문</span> 해 주세요!
    </div>
    <section class="page-body">

      <ion-list class="pointers">


        <ion-item class="menu-help" (click)="a.open('help')" *ngIf="a.studentTheme">
          <ion-icon name="help-circle" item-start></ion-icon>
          {{ 'HELP' | translate }}
        </ion-item>


        <ion-item class="menu-login" *ngIf=" a.user.isLogout " (click)=" a.open('login') ">
          <ion-icon name="log-in" item-start></ion-icon>
          {{ 'LOGIN' | translate }}
        </ion-item>
        <ion-item class="menu-registration" *ngIf=" a.user.isLogout " (click)=" a.open('register') ">
          <ion-icon name="person-add" item-start></ion-icon>
          {{ "REGISTER" | translate}}
        </ion-item>

        <ion-item class="menu-profile" *ngIf=" a.user.isLogin " (click)=" a.open('register')">
          <ion-icon name="person-add" item-start></ion-icon>
          {{ 'PROFILE' | translate }}
        </ion-item>


        <ion-item class="menu-message" (click)="a.open('my-point')" *ngIf=" a.user.isLogin ">
            <ion-icon name="logo-usd" item-start></ion-icon>
            나의 포인트
          </ion-item>





          <ion-item class="menu-message" (click)="a.open('message')" *ngIf=" a.user.isLogin ">
              <ion-icon name="chatboxes" item-start></ion-icon>
              {{ 'MESSAGE' | translate }}
            </ion-item>




        <ion-item class="menu-qna" (click)=" a.onClickContactAdmin() ">
          <ion-icon name="help-circle" color="primary" item-start></ion-icon>
          {{ 'QNA' | translate }}
        </ion-item>


        <ion-item class="menu-teacher-list" (click)="a.open('teacher-list')">
          <ion-icon name="people" item-start></ion-icon>
          {{ 'RESERVE SESSION' | translate }}
        </ion-item>



        <ion-item class="menu-schedule-table" (click)="a.open('schedule-table')">
          <ion-icon name="apps" item-start></ion-icon>
          {{ 'ALL SCHEDULE TABLE' | translate }}
        </ion-item>



        <ion-item class="menu-class-comments" (click)="a.open('class-comment')">
          <ion-icon name="chatbubbles" item-start></ion-icon>
          {{ 'CLASS COMMENTS' | translate }}
        </ion-item>


        <ion-item class="menu-payment" (click)="a.open('payment')" *ngIf="a.studentTheme">
          <ion-icon name="card" item-start></ion-icon>
          {{ 'PAYMENT LONG TEXT' | translate }}
        </ion-item>




        <ion-item class="menu-payment-history" (click)="a.open('payment-history')" *ngIf="a.studentTheme">
          <ion-icon name="list-box" item-start></ion-icon>
          {{ 'PAYMENT HISTORY' | translate }}
        </ion-item>

        <ion-item class="menu-future-sessions" (click)="a.open('session-future')">
          <ion-icon name="list-box" color="primary" item-start></ion-icon>
          {{ 'RESERVATIONS LONG TEXT' | translate }}
        </ion-item>

        <ion-item class="menu-past-sessions" (click)="a.open('session-past')">
          <ion-icon name="list-box" color="light" item-start></ion-icon>
          {{ 'PASTS LONG TEXT' | translate }}
        </ion-item>




        <ion-item class="menu-today-sessions" (click)="a.open('schedule-available')" *ngIf="a.studentTheme">
          <ion-icon name="apps" item-start></ion-icon>
          {{ 'AVAILABLE SESSIONS LONG' | translate }}
        </ion-item>



        <ion-item class="menu-password-change" *ngIf=" a.user.isLogin " (click)=" a.open('password-change')">
          <ion-icon name="key" item-start></ion-icon>
          {{ 'CHANGE PASSWORD' | translate }}
        </ion-item>

        <ion-item class="menu-settings" (click)="a.open('settings')">
          <ion-icon name="settings" item-start></ion-icon>
          {{ 'SETTINGS' | translate }}
        </ion-item>

        <ion-item class="menu-logout" *ngIf=" a.user.isLogin " (click)="a.user.logout(); a.open('home')">
          <ion-icon name="log-out" item-start></ion-icon>
          {{ 'LOGOUT' | translate }}
        </ion-item>

      </ion-list>

    </section>

  </div>


</ion-content>
