<ion-header>
  <header-content></header-content>
</ion-header>

<ion-content padding>

  <h1>My Reservation</h1>

  {{ a.user.name }}
  You are {{ a.userType }}!

  , My Points:
  <span *ngIf=" ! a.inLoadingMyPoint ">{{ my_point }}</span>
  <ion-spinner *ngIf=" a.inLoadingMyPoint "></ion-spinner>

  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-item>
          <ion-label>Begin Date</ion-label>
          <ion-datetime name="date_begin" displayFormat="MM/DD/YYYY" pickerFormat="YYYYMMDD" [(ngModel)]="date_begin" (ngModelChange)="onChangeSearchOption()"></ion-datetime>
        </ion-item>

      </ion-col>
      <ion-col>

        <ion-item>
          <ion-label>End Date</ion-label>
          <ion-datetime name="date_end" displayFormat="MM/DD/YYYY" pickerFormat="YYYYMMDD" [(ngModel)]="date_end" (ngModelChange)="onChangeSearchOption()"></ion-datetime>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>

  <hr>
  <ion-grid *ngIf=" my_teachers ">
    <ion-row>
      <h3>My Teacher's</h3>
    </ion-row>
    <ion-row>
      <ion-col>
        <label>
          <input type="radio" [value]="0" name="show_teacher" [(ngModel)]="show_teacher" (change)="onChangeSearchOption()">
          All
        </label>
      </ion-col>
      <ion-col *ngFor="let teacher of my_teachers">
        <label>
          <input type="radio" [value]="teacher.idx" name="show_teacher" [(ngModel)]="show_teacher" (change)="onChangeSearchOption()">
          {{ teacher.name }}
        </label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>


  <button ion-button (click)="onClickSearch()">
    SEARCH
  </button>
<hr>
  <button ion-button (click)="onClickCancelAll()">Cancel All</button>

  <table class="books" *ngIf = " books.length ">
    <tr>
      <td>Class No.</td>
      <td>Date</td>
      <td>Time</td>
      <td>Teacher</td>
      <td>Student</td>
      <td>Point</td>
      <td></td>

    </tr>

    <tr *ngFor="let book of books; let i = index;">
      <td>{{book.idx}}</td>
      <td>{{book.date_display}}</td>
      <td>{{book.class_begin_display}}<br>{{book.duration}}mins</td>
      <td>{{book.teacher_name}}</td>
      <td>student:{{book.idx_student}}</td>
      <td>{{book.point}}</td>
      <td>
        <ng-container *ngIf=" book.past ">
          <button>Evaluate</button>
          <button>View Evalute</button>
        </ng-container>
        <ng-container *ngIf=" ! book.past ">
            <button ion-button (click)="onClickCancel( book )" *ngIf=" ! book.process ">Cancel</button>
            <ion-spinner *ngIf=" book.process "></ion-spinner>
        </ng-container>
      </td>
    </tr>



  </table>



</ion-content>
