<ion-header>
  <header-content></header-content>
</ion-header>

<ion-content padding>


  <ion-list>

    <ion-item>
      <ion-label floating>Teacher's Name</ion-label>
      <ion-input type="text" (keyup)="onChangeValue()"></ion-input>
    </ion-item>

    <ion-item>
      <input (change)="onChangeSearchOption()" type="checkbox" name="sunday" [(ngModel)]="sunday"> Sunday
      <input (change)="onChangeSearchOption()" type="checkbox" name="monday" [(ngModel)]="monday"> Monday
      <input (change)="onChangeSearchOption()" type="checkbox" name="tuesday" [(ngModel)]="tuesday"> Tuesday
      <input (change)="onChangeSearchOption()" type="checkbox" name="wednesday" [(ngModel)]="wednesday"> Wednesday
      <input (change)="onChangeSearchOption()" type="checkbox" name="thursday" [(ngModel)]="thursday"> Thursday
      <input (change)="onChangeSearchOption()" type="checkbox" name="friday" [(ngModel)]="friday"> Firday
      <input (change)="onChangeSearchOption()" type="checkbox" name="saturday" [(ngModel)]="saturday"> Saturday -
      <span class="pointer" (click)="selectMonToFri()">M-F</span>~
      <span class="pointer" (click)="selectMWF()">M-W-F</span>~
      <span class="pointer" (click)="selectTTh()">T-TH</span>~
      <span class="pointer" (click)="selectSunSat()">Sun-Sat</span>~
      <span class="pointer" (click)="selectAll()">All</span>
    </ion-item>

  </ion-list>

    {{ a.user.name }}
    You are {{ a.userType }}!

    , Reservations:

    <span *ngIf=" ! a.inLoadingMyPoint ">{{ my_point }}</span>
    <ion-spinner *ngIf=" a.inLoadingMyPoint "></ion-spinner>

    <button ion-button (click)="onClickCancelAll()">Cancel All</button>

    <table class="books" *ngIf = " books.length ">
      <tr>
        <td>Class No.</td>
        <td>Date</td>
        <td>Time</td>
        <td>Teacher</td>
        <td>Student</td>
        <td>Point</td>
        <td></td>

      </tr>

      <tr *ngFor="let book of books; let i = index;">
        <td>{{book.idx}}</td>
        <td>date:{{book.date}}</td>
        <td>class time:{{book.class_begin}}~{{book.class_end}}</td>
        <td>teacher:{{book.idx_teacher}}</td>
        <td>student:{{book.idx_student}}</td>
        <td>{{book.point}}</td>
        <td>
          <button ion-button (click)="onClickCancel( book )" *ngIf=" ! book.process ">Cancel</button>
          <!-- <i class="fa fa-spinner fa-spin" aria-hidden="true" *ngIf=" book.process "></i> -->
          <ion-spinner *ngIf=" book.process "></ion-spinner>
        </td>
      </tr>



    </table>



</ion-content>
