<section id="how-to-get-qrcode">
  <div class="label">Getting the <b>QR Code</b>.</div>
    <ul class="list-style-none">
      <li>
        <div class="desc">
          1. Open the Kakaotalk app on your smart phone. *( Login if you didn't login yet )
        </div>
        <div class="desc">
          2. In your Kakaotalk app, press the <b>More Option Button</b>. ( 3 dot shown on the image below)
        </div>
      </li>
      <li>
        <img src="assets/img/kakao/6.jpg">
      </li>
      <li>
        <div class="desc">3. Press <b>My Profile</b>. ( Primary Photo with your name shown on the image below )</div>
      </li>
      <li>
        <img src="assets/img/kakao/7.jpg">
      </li>
      <li>
        <div class="desc">4. Press the <b>QR Code Button</b>.</div>
      </li>
      <li>
        <img src="assets/img/kakao/8.jpg">
      </li>
      <li>
        <div class="desc">5. Press the <b>Download Button</b> to get a copy of your QR Code. ( Check your gallery or Download folder )</div>
      </li>
      <li>
        <img src="assets/img/kakao/9.jpg">
      </li>
      <li>
        <div class="desc">Hurray! You have a copy of your QR Code, you can update your Curriculum Vitae by uploading this image.</div>
      </li>
    </ul>
</section>
