<ion-header>
    <ion-toolbar class="px-5" color="blue">
      <ion-grid no-padding>
        <ion-row align-items-center >
          <ion-col>
            <ion-title class="p-0">
            <span class="fw-bold fs-90">INSTALLING KAKAOTALK ON DESKTOP</span>
          </ion-title>
        </ion-col>
        <ion-col text-right col-md-2>
          <button class="p-0" icon-end  ion-button clear small color="white" (click)="dismiss()">
              <span class="text-uppercase fw-light">{{'CLOSE'| translate}}</span><ion-icon name="close"></ion-icon>
          </button>
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <section class="how-to p-5" id="how-to-install-kakao">

          <h2 class="fs-110 m-0 fw-light border d-inline-block border-dodgerblue rounded-2 dodgerblue py-3 px-4" ion-text color="blue">WHY KAKAOTALK?</h2>
          <p class="fw-light fs-110 mt-4 mb-5 border  line-height-1-8em p-5">Most of the student are from Korea, and most of them have kakaotalk.
          And it would be more convenient for them to have class with kakaotalk app.</p>
          <p class="fw-light fs-110 mt-4 mb-5 border  line-height-1-8em p-5">Download: <a href="https://www.kakaocorp.com/service/KakaoTalk?lang=en"> Kakaotalk Installer </a></p>
          <p class="fw-light fs-110 mt-4 mb-5 border  line-height-1-8em p-5">1. Install Kakaotalk App from Google Play(android) or AppStore(iphone) to your smart phone</p>
              <img class="mb-5 ml-5  p-0 border" src="assets/img/kakao/1.jpg">
          <p class="fw-light fs-110 mt-4 mb-5 border  line-height-1-8em p-5">2. After installation. Open Kakaotalk app.</p>
          <p class="fw-light fs-110 mt-4 mb-5 border  line-height-1-8em p-5">3. Select your country code and enter your phone number, and press Next button.</p>
              <img class="mb-5 ml-5  p-0 border" src="assets/img/kakao/2.jpg">
          <p class="fw-light fs-110 mt-4 mb-5 border  line-height-1-8em p-5">
            4. Kakaotalk will send you a sms containing the 4-digit verification code.
            Input the code and press the Next button.
          </p>
          <div class="mt-4 mb-5 border p-4">
            <ul class="fw-light fs-110 line-height-1-8em">
              <li class="mt-4">*If you are using your number on the same device it will automatically add the verification number.</li>
              <li class="mt-4">*If not then you need to type the 4-digit verification code that you will received.</li>
            </ul>
          </div>
              <img class="mb-5 ml-5  p-0 border" src="assets/img/kakao/3.jpg">
          <p class="fw-light fs-110 mt-4 mb-5 border  line-height-1-8em p-5">5. Press Sign Up Button</p>
              <img class="mb-5 ml-5  p-0 border" src="assets/img/kakao/4.jpg">
          <p class="fw-light fs-110 mt-4 mb-5 border  line-height-1-8em p-5">6. Enter your name, upload your photo and press get started.</p>
              <img class="mb-5 ml-5  p-0 border" src="assets/img/kakao/5.jpg">
          <p class="fw-light fs-110 mt-4 mb-5 border  line-height-1-8em p-5">7. Viola! You Successfully Installed and Created your kakaotalk Account.</p>

  </section>
</ion-content>
